@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --black-clr: #161616;
    --white-clr: #fff;
    --blue-clr: #3366cc;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 75vh;
    text-align: center;
}
.langs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 580px;
}
.title h2 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.title h2::first-letter {
    font-size: 2.3rem;
}
.title h2::after {
    content: 'a';
    font-size: 2.3rem;
}
.single {
    margin: 1.3rem 0;
    padding: .2rem 1rem;
    cursor: pointer;
}
.single:hover {
    background-color: rgba(51, 102, 204, .1);
}
.single h4 {
    color: var(--blue-clr);
    font-size: .9rem;
}
.single:hover h4 {
    text-decoration: underline;
}
.single p {
    font-size: .8rem;
    color: var(--black-clr);
}
.left,
.right {
    transform: translateY(-3%);
}

.search {
    display: flex;
    transform: translateY(-50%);
}
.search input {
    width: 395px;
    height: 45px;
    font-size: 1rem;
    padding: 0 .5rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .4);
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.search input:focus {
    border-color: var(--blue-clr);
    border-width: 3px;
}
.search span {
    display: inline-block;
    width: 55px;
    height: 45px;
    background-color: var(--blue-clr);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.your-lang-wiki-container {
    width: 460px;
    display: flex;
    align-items: center;
    transform: translateY(-20%);
}
.your-lang-wiki {
    color: var(--blue-clr);
    border: 1px solid var(--blue-clr);
    background-color: rgba(51, 102, 204, .05);
    border-radius: .2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    margin: 0 1rem;
}
.line {
    height: 1px;
    background-color: #c5c5c5;
    flex: 1;
}
.your-lang-wiki span:nth-child(2) {
    margin: 0 .5rem;
    font-size: .8rem;
    font-weight: 600;
}
.your-lang-wiki:hover {
    background-color: transparent;
}

section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    font-size: .8rem;
    border-top: 1px solid rgba(0, 0, 0, .4);
}
.column:first-child {
    width: 385px;
    margin-right: 2rem;
}
.column:first-child .single-2:last-child {
    background-color: rgba(51, 102, 204, .05);
}
.column:first-child .single-2:last-child h4 {
    font-weight: 600;
}
.column:first-child .single-2:last-child p {
    margin: .5rem 0;
}
.single-2 {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}
.single-2:not(.column:first-child .single-2):hover {
    background-color: rgba(51, 102, 204, .2);
}
.single-2:not(.column:first-child .single-2):active {
    outline: 1px solid var(--blue-clr);
}
.single-2 h4 {
    color: var(--blue-clr);
    font-weight: 400;
}
.single-2 p {
    color: rgba(0, 0, 0, .8);
}
.column {
    flex: 1;
}
.column .img {
    width: 40px;
    height: 40px;
    margin-right: .5rem;
}
.column .img img {
    width: 40px;
    height: 40px
}
.column .imgs img {
    width: 125px;
    height: 40px;
}



a {
    text-decoration: none;
    color: var(--blue-clr);
}
a:hover {
    text-decoration: underline;
}


.title,.langs{
    background-color: #ebe9e9c2;
}