html,
body {
  background-color: #2e2f33;
  text-align: center;
}

.heading {
  color: white;
  padding: 2% 0;
  margin-bottom: 50px !important;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 10%;
    margin-top: 30px;
  }

  .heading {
    font-size: 2.5em !important;
    margin-bottom: 15px !important;
  }
}
