@import "../colors";
@import "../fonts";

@mixin centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}


.VideoContainer {
    position: absolute;

    display: flex;
    flex-direction: row;
    width: 75rem;
    height: 30rem;

    background-color: $primary-color;

    transition: transform 550ms ease, filter 550ms ease;


    & .Video {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 75rem;
        height: 100%;

        text-align: center;
        font-size: $font-size-3;
        font-weight: 700;
        color: $text;
        
        padding: 1rem;
        background-color: $purple-color;

        transition: width 350ms ease 250ms, box-shadow 350ms ease 250ms;
        & header,
        & footer {
            display: flex;
            flex-direction: row;
            align-items: center;

            width: 100%;
            opacity: 1;
        }

        & header {
            
            & .InLive {
                @include centralize;

                height: 2rem;
                width: auto;

                padding: 0.25rem 0.5rem;
                border-radius: 0.3rem;

                font-size: $font-size-5;

                background-color: #eb0400;
            }
        }


        & footer {
            justify-content: space-between;

            & .LeftControl,
            & .RightControl {
                display: flex;
                flex-direction: row;
                align-items: center;

                height: 3rem;
                width: 40%;
            }

            & .RightControl {
                justify-content: flex-end
            }
        }

        & .IconContainer {
            @include centralize;

            width: 3rem;
            height: 3rem;

            padding: .5rem;
            border-radius: 0.25rem;

            cursor: pointer;

            transition: background-color 150ms ease;

            & .Icon {
                width: 100%;
                height: 100%;

                background-position: center;
            }

            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.2);;
            }

            &::before {
                @include centralize;
                position: absolute;
                content: attr(name);

                width: auto;
                height: 2rem;

                font-size: calc($font-size-5 + 0.1rem);
                font-weight: 500;
                color: #1d1d1d;

                border-radius: 0.25rem;
                padding: 0.25rem 0.5rem;
                background-color: #fff;

                transform: translateY(0) scale(0);

                transition: transform 250ms ease;
            }

            &:hover::before {

                transform: translateY(-3.25rem) scale(1);
            }

        }




        input {
            -webkit-appearance: none;
            appearance: none;
            outline: none; 
            opacity: 0;

            height: 0.2rem;

            background: rgba($color: #fff, $alpha: 0.2); 

            transition: opacity 250ms ease;
          }
          
          input.active {
            opacity: 1;
          }
          
          input::-webkit-slider-thumb {
            -webkit-appearance: none; 
            appearance: none;
            cursor: pointer;

            width: 1.75rem;
            height: 1.75rem; 

            border-radius: 100%;
            background: #fff; 
            box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
          }
          
          & .volumeFill {
              position: absolute;
              width: 13rem;
              height: 0.3rem;
              opacity: 0;

              background-color: #fff;

              transform: translateX(6.15rem);
              transition: opacity 250ms ease;

                &.active {
                    opacity: 1;
                }
          }
    }

    & .VideoInfo {
        width: 0rem;
        height: 100%;

        clip-path: inset(0);

        transition: width 350ms ease 250ms, padding 350ms ease 250ms;

        & header {
            display: flex;
            flex-direction: row;

            color: $text;
            opacity: 0;

            transition: opacity 350ms ease 0.4s;

            & .Avatar {
                width: 5rem;
                height: 5rem;

                border-radius: 100%;
            }

            & .ChannelInfo {
                margin-left: 1rem;

                & h1,
                & h3,
                & p {
                    margin: 0;
                    font-size: $font-size-5;
                    color: $text-purple;
                }
    
                & h1 {
                    font-weight: 600;
                    margin-bottom: 0.3rem;
                }

                & h3 {
                    font-weight: 400;
                }

                & p {
                    color: $text;
                }
            }

           
        }

        & .Tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            margin-top: 1rem;
            gap: 0.5rem;

            opacity: 0;

            transition: opacity 350ms ease 0.6s;

            .tag {
                color: rgba($color: #fff, $alpha: 0.8);
                font-size: 12px;
                font-weight: 500;

                border-radius: 10rem;
                padding: 0.3rem 1rem;
                background-color: rgba($color: #fff, $alpha: 0.2);
            }
        }

        & .text {
            font-size: $font-size-5;
            color: $text;

            margin-top: 1rem;
            opacity: 0;

            transition: opacity 350ms ease 0.8s;
        }
    }
}




.VideoContainer.farLeft {
    z-index: 3;
    filter: brightness(50%);
    transform: translateX(-50%) scale(0.725);
}


.VideoContainer.left {
    z-index: 4;
    filter: brightness(50%);
    transform: translateX(-30%) scale(0.85);
}


.VideoContainer.center {
    z-index: 5;

    .Video {
        width: 53rem;

        box-shadow: inset 0 0 3rem black;
    }

    .VideoInfo {
        width: 22rem;

        padding: 1rem;

        header,
        .Tags,
        .text {
            opacity: 1;
        }
    }

}


.VideoContainer.right {
    z-index: 4;
    filter: brightness(50%);
    transform: translateX(30%) scale(0.85);
}


.VideoContainer.farRight {
    z-index: 3;
    filter: brightness(50%);
    transform: translateX(50%) scale(0.725);
}

.VideoContainer.farLeft,
.VideoContainer.left,
.VideoContainer.right,
.VideoContainer.farRight {
    width: auto;

    .Video {
        @include centralize
    }

    header,
    footer {
        opacity: 0;
    }
}





