@import "../colors";
@import "../fonts";


@mixin centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Container {
    width: 100%;
    height: auto;

    transform: translateY(5rem);
    transition: transform 250ms ease, width 250ms ease;
    

    & h1 {
        font-size: calc($font-size-4 + 0.1rem);
        font-weight: 600;
        color: $text;
    }

    & .hr {
        @include centralize;

        width: 100%;
        height: 0.1rem;
        margin-top: 0.5rem;

        background-color: rgba($color: #fff, $alpha: 0.1);
        & .ShowMoreContainer {
            @include centralize;
            
            width: 13.5rem;

            background-color: $background-color;

            & h3 {
                @include centralize;
                cursor: pointer;

                font-size: calc($font-size-5 + 0rem);
                font-weight: 600;

                color: $text-purple;

                border-radius: 0.5rem;
                padding: 0.5rem 1.5rem;
                margin: 0;

                transition: background-color 250ms ease;

                & .Arrow {
                    fill: $text-purple;
                    width: 2rem;
                    height: 2rem;
                    
                    margin-left: 0.5rem;

                    transform: rotate(90deg);
                    transition: transform 250ms ease;
                }

                &:hover {
                    background-color: rgba($color: #fff, $alpha: 0.2);
                }

                &.showMore {
                    & .Arrow {
                        transform: rotate(270deg);
                    }
                }
            }
        }
    }

    & .ChannelList {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(5, minmax(30rem, 32rem));

        width: 100%;
        height: auto;

        & .ChannelDisplayer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    
            box-sizing: border-box;
    
            width: auto;
            height: 28rem;

            padding: 0 0.5rem;
            margin-bottom: 2rem;

            transition: transform 350ms ease;
    
            & .Video {
                width: 100%;
                height: 18rem;
                margin-bottom: 1rem;
    
                background-color: $purple-color;
            }
    
            & .ChannelInfo {
                display: flex;
                flex-direction: row;
                height: 8rem;
    
                & img {
                    width: 4rem;
                    height: 4rem;
    
                    border-radius: 100%;
                }

                & .TextContent {
                    margin-left: 1rem;


                    & h1,
                    & h3,
                    & h5 {
                        margin: 0;
                        margin-bottom: 0.3rem;
                    }

                    & h3,
                    & h5,
                    .tag {
                        color: rgba($color: #fff, $alpha: 0.6);
                        font-weight: 400;
                        font-size: calc($font-size-5 - 0.2rem);
                    }

                    & h1 {
                        font-size: $font-size-5;
                    }

                    & h5 {
                        margin-bottom: 1rem;
                    }

                    .tag {
                        font-weight: 700;
                        color: rgba($color: #fff, $alpha: 0.6);
                        padding: 0.2rem 1rem;
                        padding-bottom: 0.4rem;

                        border-radius: 20rem;
                        background-color: rgba($color: #fff, $alpha: 0.15);
                    }
                }

                & .optionsContainer {
                    margin-left: auto;
                }
            }
        }
    }

}






.Container.expand {
    width: 95vw;

    transform: translateX(-5vw) translateY(5rem);

    & .ChannelList {
        grid-template-columns: repeat(6, minmax(29rem, 30rem));

        gap: 0;
    }
}