.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
 
  }

.login_logo{
    width: 125px;
    object-fit: contain;
    margin:020px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px; 
}

.login_container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
  }
  .login_container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .login_container > form > h5 {
    margin-bottom: 5px;
  }
  .login_container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }
  .login_container > p {
    margin-top: 15px;
    font-size: 12px;
  }
  .login_signin_button {
    background: #f0c14b;
    border-radius: 2px;
    border: 1px solid;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
  }
  .login_register_button {
    border-radius: 2px;
    border: 1px solid;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
  }