.order {
    padding: 39px;
    margin: 19px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
  }
  .order_id {
    position: absolute;
    top: 39px;
    right: 20px;
  }
  .order_total {
    font-weight: 499;
    text-align: right;
  }