header {
    display: flex;
    justify-content: space-between;
}

.middle li,
.right li {
    display: inline;
    /* font-size: 17px; */
    /* font-weight: 600; */
    font-family: sans-serif;
    /* -ms-flex-item-align: center; */
    margin: 5px;
}

.middle ul,
.right ul {
    /* display: flex; */
    /* justify-content: space-evenly; */
    margin-top: 30px;
}

.right li {
    /* margin-left: 59px; */
    /* margin: 10px; */
}

.logo img {
    width: 120px;
    height: 80px;
}

.head-1 {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.photo-sam {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
}

.title1 {
    position: absolute;
    bottom: 160px;
}

.title-p1 {
    font-size: 50px;
    margin-top: 0;
    font-weight: 600;
    font-family: sans-serif;
}

.title-p2 {
    font-size: 18px;
}

.shop:hover {
    cursor: pointer;
    background-color: rgb(219, 215, 215);
}
.shop {
    width: 130px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
}

/* * {
    border: 1px solid red;
} */