.Button {
    border-radius: 2px;
    padding: .6rem 1.5rem .625rem;
    font-size: .75rem;
    margin-bottom: 0;
    transition: all .2s ease-in;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 50%);
    cursor: pointer;
    border: none;
}
