
.Headerlogo{
    height: 27px;
    width: 140px;
    margin-right: 24px;
}

.Header{
    width: 100%;
    display: flex;
 align-items: center;
 margin-bottom: 12px;
}
.Header-right{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
.header-location-search-container{
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 80%;
    box-shadow: var(--primary-box-shadow);
    border: 1px solid var(--border-white);
    background: var(--primary-bg);
}

.location-wrapper{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0px 10px;
}
.location-icon-name{
    display: flex;
    color: var(--zomato-grey);
}
.location-icon{
    color:var(--zomato-red);
    font-size: 20px;
    margin-right: 8px;
}
.location-search-separator{
    height: 20px;
}
.header-searchBar{
    display: flex;
    flex:2;
}
.search-icon{
    font-size: 20px;
    color: var(--zomato-grey);
    margin: 0px 12px;
}
.search-input{
    border: none;
    outline: none;
    width: 60%;
    font-size: 14px;
}
.profile-wrapper{
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}
.header-profile-image{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.header-username{
    font-size: 16px;
    font-weight: 680;
}
.profile-options-icon{
    font-size: 20px;
}