* {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
    --main-color:#FF9600;
}
.pc-none {
  display: none;
}
.product-item-3:hover ~.product-item-4 img,
.product-item-1:hover ~.product-item-2 img,
.product-item-9:hover ~.product-item-10 img,
.product-item-12:hover ~.product-item-13 img,
.product-item-15:hover ~.product-item-14 img,
.product-item-7:hover ~.product-item-6 img,
.product-item-16:hover ~ .product-item-11 img { 
  transform: scale(1.07,1.07);
}
.product-item img {
  transition: transform .5s ease-out;
}
.scale-up {
  overflow: hidden;
}
.scale-up:hover img{
  transform: scale(1.07,1.07);
}

.product-item {
  position: relative;
}
.product-border-top::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  top: -15px;
  left: 45%;
  border-bottom:15px solid #da0e0f;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  z-index: 1;
}
.product-border-left-black::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  top: 45%;
  left: -15px;
  border-right:15px solid #000;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  z-index: 1;
}
.product-border-left::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  top: 45%;
  left: -15px;
  border-right:15px solid #eee;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  z-index: 1;
}
.product-border-right::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  top: 45%;
  right: -15px;
  border-left:15px solid #da0e0f;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  z-index: 1;
}
.product-border-right-blue::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  top: 45%;
  right: -15px;
  border-left:15px solid #007CC2;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  z-index: 1;
}
.btn-center {
    padding: 15px 0px;
}
.btn-center i {
    margin-right: 15px;
}
.btn {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 12px;
    color: #dadada;
}
.active {
    color:var(--main-color);
}
.active-red {
    color: #cc0001;
}
.img-full-height {
  height: 100%;
}
.container {
  max-width: 1367px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 25px;
  border-bottom: 1px solid #e5e5e5;
}
.header-logo img {
  width: 164px;
}
.header i {
  font-size: 30px;
}
.header-left i {
  margin-right: 10px;
}
.header-left:hover {
  color:#333;
}
.header-right i {
  margin-left: 50px;
  cursor: pointer;
}
.header-right i:hover {
  color: #333;
}
.header-right span {
  cursor: pointer;
}
.header-right span:hover {
  color: #333;
}
.header span {
  font-size: 13px;
  font-weight: 900;
}
.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* sub head */
.sub-header-bg {
  height: 208px;
  background-color: #ff9600;
  line-height: 50px;
  width: 291px;
  transform: rotate(
    25deg) translateX(-38px) translateY(-62px);
  position: absolute;
}
.sub-header-content {
  position: absolute;
  top: 27px;
  left: 55px;
  color: #ffffff;
  font-weight: 900;
  cursor: pointer;
}
.sub-header {
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: pink;
  display: flex;
  background: #ffffff;
  font-size: 15.4px;
}
.sub-header p {
  margin: 10px 0px 10px 350px;
  padding: 18px 0px;
  cursor: pointer;
}
.sub-header a {
    padding: 18px 0px;
    margin: 10px 0px 10px 20px;
    color: #FF9600;
    font-weight: 400;
    cursor: pointer;
}
.sub-header a:hover {
  opacity: 0.8;
}
.sub-header-btn {
    position: absolute;
    right: 15px;
}
.sub-header-btn i {
    margin-right: 15px;
}
.header-left i {
  color: #000;
}
.header-left span {
  color: #000;
}
/* carousel */
.carousel img {
    width: 100%;
}
/* product */
.product {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.product-item img {
  width: 100%;
}
.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 253px 253px 253px 253px;
}

/* item 1 */
.product-item-1 {
  background: #007CC2;
  text-align: center;
}
.product-item-1 img, .product-item-3 img, .product-item-7 img, .product-item-9 img,
.product-item-12 img,
.product-item-15 img,
.product-item-16 img {
  width: 70%;
  margin-top: 15%;
}
.product-item-1 p, .product-item-3 p, .product-item-7 p, .product-item-9 p,
.product-item-12 p,
.product-item-15 p,
.product-item-16 p {
  margin-top: 5%;
  margin-bottom: 35px;
}
/* item 2 */
.product-item-2 {
  grid-column: 2/ span 2;
  grid-row: 1/ span 2;
}
/* item 3 */
.product-item-3, .product-item-9, .product-item-12,
.product-item-16 {
  background: #da0e0f;
  text-align: center;
}
.product-item-3 span,.product-item-1 span,
.product-item-5 span,
.product-item-7 span,
.product-item-9 span,
.product-item-12 span,
.product-item-16 span {
  font-weight: bold;
  padding: 0px 3px 3px 3px;
  border-bottom: 2px solid #ffffff;
}

.product-item-15 span {
  font-weight: bold;
  padding: 0px 3px 3px 3px;
  border-bottom: 2px solid #000;
}
/* item 4 */
.product-item-4 {
  grid-column: 5/ span 2;
}
.product-item-4 img {
  height: 100%;
}
/* item 5 */
.product-item-5, .product-item-15 {
  text-align: center;
  background: #eee;
  color: black;
}
.product-item-5 img {
  width: 70%;
  margin-top: 15%;
}
.product-item-5 span {
  display: inline-block;
  margin-top: 35px;
  border-bottom: 2px solid #000;
}
/* item 6 */
.product-item-6 {
  grid-column: 4/ span 2;
}
.product-item-6 img {
  height: 100%;
}
/* item 7 */
.product-item-7 {
  background: #000;
  text-align: center;
}

.product-item-10 {
  grid-column: 3/ span 2;
}

.product-item-11 {
  grid-column: 5/ span 2;
}
.product-item-11 img {
  height: 100%;
}

.product-item-14 {
  grid-column: 3 / span 2;
}

/* intro */
.intro-list {
  display: flex;
  flex-wrap: wrap;
}
.intro-item {
  width: 50%;
  height: 493px;
  color: #ffffff;
  text-align: center;
}
.intro-title {
  text-align: center;
  font-size: 20px;
  padding: 35px 0px;
}
.intro-item p {
  margin-top: 120px;
}
.intro-item h1 {
  margin-top: 230px;
}
.intro-item a {
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
}
.intro-item-1 {
  background: url(../images/hinh20.jpg) no-repeat center center;
  background-size: cover;
}
.intro-item-2 {
  background: url(../images/hinh19.jpg) no-repeat center center;
  background-size: cover;
}
.intro-item-3 {
  background: url(../images/hinh18.jpg) no-repeat center center;
  background-size: cover;
}
.intro-item-4 {
  background: url(../images/hinh21.jpg) no-repeat center center;
  background-size: cover;
}

/* about */
.about-img {
  width: 100%;
}
.about {
  position: relative;
}
.about-content {
  position: absolute;
  top: 65px;
  left:50%;
  transform: translateX(-50%);
  color: #000;
  text-align: center;
}
.about-content h1 {
  margin: 18px 0px 20px 0px;
  font-size: 26px;
  letter-spacing: 1px;
}
.about-content p {
  margin-bottom: 18px;
  font-size: 17px;
  letter-spacing: 1px;
}
.about-content a {
  font-weight: bold;
}

/* portfolio */
.portfolio-img {
  height: 201.188px;
  overflow: hidden;
}
.portfolio-header {
  font-size: 20px;
  padding: 35px 0px;
  text-align: center;
}
.portfolio-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 464px 464px;
}
.portfolio-item img {
  width: 100%;
  transition: transform .5s ease-out;
}
.portfolio-item {
  text-align: center;
  background: #f9f9f9;
  position: relative;
}
.fa-instagram {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  color: #ffffff;
}
.portfolio-item h1 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.portfolio-item p {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0px 20px;
}
.portfolio-item a {
  display: inline-block;
  font-size: 15px;
  color: #337ab7;
  font-weight: bold;
  text-decoration:none;
  margin-bottom: 40px;
}
.portfolio-item-dif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
}
.portfolio-content {
  padding: 0px 30px;
}
.portfolio-item-header {
  display: flex;
  color: #007CC2;
  font-size: 14px;
}
.portfolio-item-header img {
  border-radius: 6px;
  margin-right: 15px;
}
.portfolio-item-header span {
  font-weight: bold;
}
.portfolio-item-header p {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.portfolio-item-content {
  margin: 15px 0px;
  font-size: 24px;
  font-weight: 300;
}
.portfolio-item-content span {
  color: #007CC2;
}
.portfolio-item-time {
  font-size: 12px;
  color: #007CC2;
}
.fa-twitter {
  position: absolute;
  top:10px;
  right: 20px;
  font-size: 20px;
  color: rgb(77, 159, 224);
}

/* footer */
.footer {
  background-color: #eee;
  margin-top: 70px;
}
.footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 0px 60px;
}
.footer h1 {
  font-size: 16px;
  color: #8f8f8f;
  padding: 38px 0px 8px;
}
.footer-list li {
  list-style: none;
  padding: 10px 0px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.footer-list li:hover {
  opacity: 0.7;
}
.footer-list li span {
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  color: #666;
  padding-top: 10px;
}

.footer-navi {
  text-align: center;
  margin-bottom: 20px;
}
.footer-navi img {
  margin-right: 10px;
  cursor: pointer;
}
.footer-navi img:hover {
  opacity: 0.8;
}
.footer-end-list li {
  list-style: none;
  display: inline-block;
  margin: 0px 5px;
}
.footer-end-list li a {
  color: #337ab7;
  font-size: 13px;
}
.footer-end-list li a:hover {
  color: #666;
}
.footer-end-list span {
  margin-left: 10px;
  color: #666;
}
.footer-end {
  text-align: center;
}
.footer-end p {
  font-size: 13px;
  color:#666;
}
.footer-end p a{
  color: #337ab7;
  text-decoration:none;
  display: inline-block;
  margin-bottom: 35px;
  font-size: 16px;
  margin-right: 10px;
}
.footer-end p a:hover {
  color: #23527c;
}
.footer-end p a span {
  margin-left: 10px;
  color: #000;
}
.margin-bt {
  margin-bottom: 20px;
}


/* Responsive */
/* ipad */
@media screen and (max-width:1023px) {
  /* sub header */
  .sub-header-content span {
    display: none;
  }
  .sub-header-bg {
    transform:rotate(18deg) translateX(-249px) translateY(-62px);
  }
  .sub-header-content {
    position: absolute;
    left: 15px;
  }
  .sub-header p {
    margin-left: 80px;
  }
  /* product */
  /* .product-border-bottom::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    bottom: -15px;
    left: 45%;
    border-top:15px solid #da0e0f;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 1;
  } */
  .product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 191.988px 191.988px 191.988px 191.988px 191.988px ;
  }
  .product-item {
    grid-column: initial;
    grid-row: initial;
    position: relative;
  }
  .product-item-2 {
    grid-column: 2/ span 2;
    grid-row: 1 / span 2;
  }
  .product-item-2 img {
    height: 100%;
  }
  .product-item-6 {
    grid-column:2 / span 2;
    grid-row: 3 / span 1;
  }
  .product-item-6 img {
    height: 100%;
  }
  .product-item-4 {
    grid-column:4/ span 1 ;
    grid-row:2 / span 1 ;
  }
  .product-img-height img{
    height: 100%;
    width: 300px;
  }
  .product-item-13 img {
    height: 100%;
  }
  .product-item-3,
  .product-item-9,
  .product-item-12 {
    overflow: hidden;
  }
  .product-item p {
    display: none;
  }
  .product-item span {
    display:block;
    padding-top: 3%;
    border-bottom: none;
    margin: 0px;
  }
  .product-item-8 {
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
  }
  .product-item-14 {
    grid-column: 1/ span 1;
    grid-row: 4/ span 1;
  }
  .product-item-15 {
    grid-column: 2/ span 1;
    grid-row: 4/ span 1;
  }
  .product-item-10 {
    grid-column: 3/ span 1;
    grid-row: 4/ span 1;
  }
  .product-item-11 {
    grid-column: 4/ span 1;
    grid-row: 5/ span 1;
  }
  .product-item-1 img,
  .product-item-3 img,
  .product-item-5 img,
  .product-item-7 img,
  .product-item-9 img,
  .product-item-12 img,
  .product-item-15 img,
  .product-item-16 img {
    margin-top: 25%;
  }
  /* intro */
  .intro-item h1 {
    font-size: 19px;
    margin-top: 340px;
  }
  .intro-item p {
    margin-top: 10px;
    padding: 0px 30px;
  }
  /* about */
  .about-content {
    top: 50px;
  }
  /* portfolio */
  .portfolio-list {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio-img {
    height: 167.91px;
  }
  /* footer */
  .footer-list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-item {
    width: 49%;
  }
  .none-tablet {
    display: none;
  }
  .mr-left {
    margin-left: 50px;
  }
  .pc-none {
    display: block;
  }

}

/* tablet */
@media screen and (min-width:740px) and (max-width:1023px) {

}

/* mobile */
@media screen and (max-width:736px) {
  /* header */
  .header span {
    display: none;
  }
  .header-logo {
    margin-left: auto;
    margin-right: auto;
  }
  .header-right i {
    margin-left: 0px;
  }
  /* sub header */
  .sub-header a {
    display:none;
  }
  .sub-header-btn {
    display: none;
  }
  /* product */
  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 138.587px 138.587px 138.587px 138.587px 138.587px 138.587px 138.587px 138.587px;
  }
  .product-item {
    grid-column: initial;
    grid-row: initial;
  }
  .product-item-1 {
    grid-column: 1 / span 1;
    grid-row:1 / span 1 ;
  }
  .product-item-2 {
    grid-column: 2 / span 2;
    grid-row:1 / span 1 ;
  }
  .product-item-4 {
    grid-column: 1 / span 2;
    grid-row:2 / span 1 ;
  }
  .product-item-6 {
    grid-column: 2 / span 2;
    grid-row:3 / span 1 ;
  }
  .product-item-8 {
    grid-column: 1 / span 2;
    grid-row:4 / span 1 ;
  }
  .product-item-14 {
    grid-column: 2 / span 2;
    grid-row:5 / span 1 ;
  }
  .product-item-15 {
    grid-column: 1 / span 1;
    grid-row:5 / span 1 ;
  }
  .product-item-10 {
    grid-column: 1 / span 2;
    grid-row:6 / span 1 ;
  }
  .product-item-11 {
    grid-column: 2 / span 2;
    grid-row:7 / span 1 ;
  }
  .product-item-13 {
    grid-column: 1 / span 2;
    grid-row:8 / span 1 ;
  }
  /* intro */
  .intro-item {
    width: 100%;
  }
  .intro-item h1 {
    font-size: 19px;
    margin-top: 340px;
  }
  .intro-item p {
    margin-top: 10px;
    padding: 0px 30px;
  }
  /* about */
  .about-content h1 {
    font-size: 19px;
  }
  .about-content p {
    font-size: 13px;
  }
  .about-content {
    width: 90%;
    color: #ffffff;
  }
  /* portfolio */
  .portfolio-list {
    grid-template-columns: 1fr;
  }
  .portfolio-img {
    height: 161px;
  }
  /* footer */
  .footer-item {
    width: 100%;
  }
}
