*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* <!-- =============================== * navbar * ============================================ --> */

.header{
    background-color: #f7f8f9;
    box-shadow: 0 0 2px grey;
    position: sticky;
    top: 0%;
    z-index: 5;
}
.navbar{
    display: flex;
    align-items: center;
    width: 1300px;
    margin: auto;
}

.navbar img{ 
 width: 70px;
}



.country_select{
    width: 250px;
    margin-left: 60px;
}
.select i{
    font-size: 15px;
    transition: all 0.3s;
}
.select{
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}
.option{
    display: flex;
    padding: 10px;
    width: 250px;
    cursor: pointer;
}
.option:hover{
      background-color: #c7dcff;
}
.option p{
    margin-left: 10px;
    color: #444444;
}
.option i{
    color: #839a9c;
}
.option_box{
    box-shadow: 0 0 10px grey;
    background-color: white; 
    display: none;
    position: absolute;
    top: 60px;
}
.hidden{
    display: block;
}
.rotted{
  transform: rotate(180deg);
}




.search_box{
    display: flex;
    margin-left: 30px;
}
.search_box i{
    background-color: black;
    color: white;
    padding: 14px;
    font-size: 15px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
.searchClass{
    padding: 10px;
    width: 400px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px 0 0 6px;
}




#eng_tag{
    cursor: pointer;
    font-size: 18px;
    margin-left: 25px;
}
.hin_eng{
    background-color: white;
    box-shadow: 0 0 10px grey;
    width: 130px;
    display: none;
    position: absolute;
    top: 60px;
}
.hin_eng li{
   list-style: none;
   padding: 10px 20px;
   margin-top: 10px;
}
.hin_eng li:hover{
    background-color: #c7dcff;
}
.display_div{
    display: block;
}


.messeage i{
    font-size: 22px;
    color: black;
    cursor: pointer;
    margin-left: 25px;
}




.myImage img{
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 55px;
}
.myImage img{
    width: 65px;
    border-radius: 50%;
}
.myImage p{
    font-size: 18px;
    font-weight: bold;
}
.myImage{
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
}
.gropdown{
    width: 250px;
    box-shadow: 0 0 10px grey;
    padding: 15px;
    background-color: white;
    display: none;
    position: absolute;
    top: 60px;
    z-index: 100;
}
.gropdown ul li{
    display: flex;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.gropdown ul li:hover{
    background-color: #c7dcff;
}
.gropdown ul{
    margin-top: 20px;
}
.gropdown ul li i{
    color: black;
    font-size: 17px;
}
.gropdown ul li p{
    margin-left: 10px;
  font-size: 17px;
}
.block_div{
    display: block;
}


.selling_page button{
    margin-left: 25px;
    border-style:solid ;
    border-width: 5px;
    border-top-color: #23e5db;
    border-left-color: #ffce32;
    border-right-color: #3a77ff;
    border-bottom-color: #3a77ff;
    font-size: 15px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 30px;
    background-color: white;
    color: black;
    display: flex;
}




/* <!-- =============================== * ad 1 * ============================================ --> */

.ad_img img{
    width: 700px;
    position: relative;
    z-index: -1;
}
.ad_img{
    width: 700px;
    margin: auto;
    margin-top: 35px;
    height: 300px;
    position: relative;
}
.ad_img i{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    cursor: pointer;
}




/* <!-- =============================== * product* ============================================ --> */

.first_row{
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin: auto;
    margin-top: 35px;
}
.box img{
    width: 250px;
}
.box{
    border: 1px solid rgb(197, 196, 196);
    width: 252px;
    height: 258px;
    cursor: pointer;
}
.box:hover{
    border: 1px solid rgb(138, 137, 139);
}
.box a{
    text-decoration: none;
    color: black;
}
.box h2{
    padding: 5px 0 0 20px;
}
.box p{
    padding: 0 0 10px 20px ;
    color: #6f8a94;
    font-size: 14px;
}
.address_data {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.address_data p{
    font-size: 11px;
    margin-right: 10px;
}



.load_more button {
    margin: 50px auto;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    display: block;
    transition: all 0.3s;
    border: 2px solid black;
}
.load_more button:hover{
    border: 4px solid black;
}
#load_more_products_id {
    display: none;
}

.ads_img2 {
    width: 800px;
    margin: auto;
    margin-top: 35px;
    height: 200px;
    position: relative;
}
.ads_img2 img {
    width: 800px;
    position: relative;
    z-index: 1;
    border: 1px solid black;
}
.ads_img2 i {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
/*--------------------------------*/
.download_app {
    background-color: #f7f8f8;
}
.download {
    margin: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.images {
    width: 400px;
}
.text {
    border-right: 2px solid #cacdce;
}
.text h1 {
    padding: 20px 20px 10px 20px;
    font-size: 35px;
}
.text p {
    padding: 10px 20px 20px 20px;
    font-size: 20px;
}
.download_store p{
    padding: 20px 20px 20px 0;
    font-weight: bold;
    font-size: 17px;
}
.download_store {
    padding-left: 30px;
}
.download_store img {
    width: 140px;
    padding-left: 20px;
    cursor: pointer;
}
/* ---------------------------*/
.main_footer {
    background-color: #ebeeef;
    margin-top: 80px;
    padding: 40px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}
.footer_box h2{
    font-size: 17px;
    margin: 20px 0 15px 0;
    cursor: pointer;
    text-align: center;
}
.footer_box a {
    margin: 8px 0 8px 0;
    text-decoration: none;
    display: block;
    color: #000;
    text-align: center;
}
.footer_box a:hover {
    color: #444444;
}



@media (max-width:768px) {
    html{
        width: 55%;
    }
    .first_row{
        display: block;
        margin-left: 60px;
    }
    .box {
        margin-top: 10px;
    }
    .ads_img2{
        display: block;
    }
    .footer{
        display: flex;
    }
}