.logo{height: 90px;
width:250px}
.nav-link{margin-left: 5px;
    margin-right: 5px;
    font-weight:bold ;
    font-size: 0.8rem;
    color: white !important; 
}

.shop{position: relative;
left:150px;}



.navbar-toggler-icon{cursor:pointer;
    margin-right: 28px;
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
        top: 0; 
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }

  .sidenav a{text-align: right;
    padding: 8px 8px 8px 32px;
    margin-right: 40px;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  
    
  }
  .sidenav a:not(:first-child){
    border-bottom:solid rgba(128, 128, 128, 0.438) 0.8px;
  }

  .sidenav a:hover {
    color: #707070;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sec0{
    background-image: url(./images/3.jpg) ;
    width: 100%;
    height:700px;
  }
  .sec2{
    background-image: url(./images/1.jpg) ;
    width: 100%;
    height:670px;
  }
  .sec3{
    background-image: url(./images/2.jpg) ;
    width: 100%;
    height:660px;
  }
  .sec4{
    background-image: url(./images/4.jpg) ;
    width: 100%;
    height:660px;
  }
  .sec5{
    background-image: url(./images/5.jpg) ;
    width: 100%;
    height:660px;
  }
  h5,h6{position: relative;
  top:320px;
  color: white;
  font-weight: lighter;
left: 50px;}

h1{position: relative;
  top:320px;
  color: white;
  font-size: 3rem !important;
left: 50px;}

.button {
    margin-top: 25px !important; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    color: #ffffff; 
    border: 2px solid #f7efee;
  
}