*{
    padding: 0;
    margin: 0;
    outline: 0;
}

a:hover,
a{
    text-decoration: none;
    
}
ul,ol{
    list-style: none;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
   font-family:'Oswald', sans-serif;

}
p{
  padding: 0;
  margin: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}


.primary_bg{
    background:#68829E;
    
}



/*header start*/
#header{
        padding: 10px 0;
}

#nav .navbar-expand-lg .navbar-nav .nav-link{
    padding: 0;
    margin-left: 20px;
    color:#fff;
    font-size: 18px;
}


  
/*header end*/

/*banner start*/


#banner {
    background: url(../images/bn1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.bnr_overlay {
    background:rgba(0,0,0,0.62);
    padding: 100px 0;
    color: #fff;
}
.bnr_content{
    padding: 88px 70px;
}
.bnr_content h1{
    font-size: 42px;
    color: #ffffff;
    font-weight:700;
    margin-bottom: 15px;
    
}
.bnr_content p{
    font-size: 18px;
    color:#ffffff;
    margin: 15px 0;

}
  .bnr_content a{
      
   display: inline-block;
   padding: 9px 16px;
   border:1px solid #fff;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 600;
   margin-left: 15px;
   color:white;
   transition: all linear 0.3s;
}
.bnr_content a:hover{
    background: #000;
    border-color:#fff;
}

/*header part end*/

#about{
    background: #CFCFC4;
    padding-bottom: 80px;
    padding-top:  65px; 
        
}

.about_content h1{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 30px;
}

.about_content p{
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    
}

/*about part end*/

/*aboutus start*/

#aboutus{
    background: #DBF3FA;
    padding-top: 60px;
    padding-bottom: 50px;
    
}
.abt_main{
    padding-top: 55px;
}
.abt_cont h1{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 80px;
    
}
.abt_icon {
   display: inline-block;
   position: relative;
    
}
.abt_icon i{
    font-size: 60px;
}
/*aboutus end*/



/*Aboutmain start*/

#Aboutmain{
     background: #fff;
    padding-top: 70px;
    padding-bottom: 30px;
    
    
}
.abt_img{
    padding-top: 40px;
    
}
.main_content{
    margin-top: 90px;
    margin-left: 30px;
}
.main_content p{
    margin-top: 30px;
    
}