@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.container-navigation-bar{
    background-color: white;
    /* z-index: 3; */
    /* position: fixed; */
    padding-left: 150px;
    display: flex;
    align-items: center;
    height: 35px;
}

.navigation{
    display: flex;
}

nav ul li a{
    color: #666666;
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover{
    color: orange;
}

nav ul li{
    font-family: OpenSans-Regular, "PingFang SC", "Microsoft YaHei" , sans-serif, Arial;
    font-size: 12px;
    display: inline-block;
}

.nav-list-items{
    padding: 0 6px;
}


.login-detail-list{
    padding-left: 270px;
}

.login-detail-list li a{
    cursor: pointer;
}

.login-detail-list li a:hover{
    color: orange;
}

.login-detail-items{
    padding: 0 11px;
}

/* Realme Logo and other navigation */

.container-logo{
    background-color: white;
    /* z-index: 4; */
    /* position: fixed; */
    padding: 0 140px;
    height: 60px;
    display: flex;
    align-items: center;
}

.container-logo nav ul li{
    font-size: 14px;
    font-weight: 100px;
    padding: 0 25px;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.realme-logo{
    width: 104px;
}

.container-navigation ul li{
    cursor: pointer;
}

.container-navigation ul li:hover{
    color: orange;
}

/* Main Container */
.main-container{
    background:white;
    display: flex;
    justify-content: center;
    padding: 12px 0 0 12px;
    font-family: OpenSans-Regular, "PingFang SC", "Microsoft YaHei" , sans-serif, Arial;

}
.main-container img{
    height: 560px;
    width: 570px
}

.seamless-fun{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    font-size: 20px;
}

.heading-2{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 13px;
    font-size: 11px;
}

.ui-desc{
    font-family: 'Open Sans', sans-serif;    
    margin-top: 90px;
}

.ui-desc p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 22px;
}

.video{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 130px;
}

.fluid-space-design{
    display: flex;
    justify-content: center;
    padding: 140px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #0f9bff;
    background-color: aliceblue;
}

.ui-icons{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    background-size: cover;
    overflow: hidden;
}

.ui-icons div img{
    width: 80vw
}

.delightful{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 118px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    
}
.delightful p{
    margin-top: 12px;
}

.delightful-para-1{
    padding-top: 52px;
}

.selfie-profile{
    font-family: 'Open Sans', sans-serif;
    display:flex;
    justify-content: center;
    margin-top: 120px;
}
.selfie-profile img{
    height: 130px;
    width: 130px;
}

.selfie{
    width: 50vw;
}

.selfie img{
    padding-left: 500px;
}
.selfie h1{
    padding-left: 514px;
    font-weight: 100;

}

.profile{
    width: 50vw;
}

.profile img{
    padding-left: 80px
}

.profile h1{
    padding-left: 50px;
    font-weight: 100;
}

.personalization{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #0f9bff;;
    align-items: center;
    background-color: rgb(14, 13, 13);
    margin-top: 200px;
    padding: 130px 0;
    font-size: 40px;
}

.personalization-image{
    background-color: black;
    padding: 210px 130px 90px 130px;
}

.smart-engine{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:  center;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.smart-engine h1{
    padding-bottom: 40px;
}
.smart-engine p{
    padding: 5px 0;
}

.smart-engine div img{
    padding: 350px 0 100px 0;
    width: 56vw;
    height: 800px;
}

.sketchpad{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    padding-bottom: 250px;
}

.sketchpad h1{
    padding-bottom: 35px;
}

.sketchpad p{
    padding: 3px 0;
}



.seamless{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color: rgb(14, 13, 13);
    color: #0dd88a;
    padding: 150px 0;
}

.android-12{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding : 320px 0 150px 0;
}

.android-12 img{
    width: 35vw;
    height: 40vh;
}

.android-text{
    padding-top: 120px;
    font-size:23px;
}

.android-text p{
    padding: 5px 0;
}

.ai-smooth-engine{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:  center;
    font-size: 25px;
    padding-bottom: 120px;
}

.ai-smooth-engine h1{
    padding-bottom: 40px;
}
.ai-smooth-engine p{
    padding: 5px 0;
}

.usage-item{
    background-color: black;
    font-size: 25px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.usage .app-speed{
    padding: 0 250px
}

.ram-memory{
    color: #e6d427;
}

.app-speed, .battery-life{
    color: #0dd88a;
}
.usage-desc{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 600px;
}
.ram-memory-heading, .battery-life-heading{
    color: grey;
    font-weight: 100;
}
.app-speed-heading{
    padding: 0 110px;
    color: grey;
    font-weight: 100;
}

.smooth-animation-engine{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smooth-animation-engine h1{
    padding-bottom: 40px;
}

.smooth-animation-engine p{
    padding: 5px 0;
}

.game{
    display: flex;
    justify-content: center;
}

.game img{
    width: 98vw;
    height: 100vh;
    padding: 130px 0 500px 0;
}

.privacy-heading{
    background-color: #f8fbfe;
    color: #59baff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}


.privacy-1{
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    display: flex;
    justify-content: center;
}
 .privacy-image-1{
    display: flex;
    justify-content: center;
    padding-top: 270px;
}

.privacy-image-1 img{
    padding: 20px;
    height: 115vh;
    width: 30vw;
}

.privacy-desc-1 .enhanced-1{
    padding-top: 570px;
}

.privacy-desc-1 .enhanced-2{
    padding-bottom: 40px;
}

.privacy-desc-1 .enhanced{
    padding-left: 100px;
}

.privacy-desc-1 p{
    padding: 5px 0 5px 100px;
}



.privacy-2{
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    display: flex;
    justify-content: center;
}

.privacy-image-2{
    display: flex;
    justify-content: center;
    padding: 270px 0;
}

.privacy-image-2 img{
    height: 125vh;
    width: 32vw;
}

.privacy-desc-2 .enhanced-3{
    padding-top: 570px;
    padding-bottom: 40px;
}

.privacy-desc-2 .enhanced1{
    padding-right: 100px;
}

.privacy-desc-2 p{
    padding: 5px 0 5px 0;
}

.productivity{
    background-color: rgb(14, 13, 13);
    color: #0f9bff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.realme-book{
    font-family: 'Open Sans', sans-serif;   
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    background-color: black;
    color: white;
}

.realme-book img{
    padding: 100px 0 130px 0;
    height: 90vh;
    width: 70vw;
}

footer{
    color: grey;
    font-family: 'Open Sans', sans-serif;   
    padding: 100px 100px;
}

footer p{
    padding: 10px 0;
}

footer .p3{
    padding-bottom: 50px;
}