.navbar {
    background-color:#fff;
    width: 100%;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid $color-grey-light;

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    &__brand {
        float: left;
        padding-top: 11px;

        i {
            display: none;
            color: $color-grey-dark;
        }

        @include respond(tab-land) {
            margin: 0 auto;
            float: none;
            text-align: center;

            i {
                display: inline-block;
                float: left;
                font-size: 1.5rem;
                position: relative;
                top: 6px;
                cursor: pointer;
            }

        }

        & a:link,
        & a:active,
        & a:visited {
            font-size: 1.9rem;
            font-family: 'Grand Hotel', cursive;
            color: $color-black-2;
            cursor: pointer;
            text-decoration: none;
            transition: color 0.1s ease-in;
        }

        & a:hover {
            color: $color-black;
        }
    }

    &__left {
        float: left;
        margin-left: 50px;
        margin-top: 4px;

        .navbar__menu-item {
            @include respond(tab-land){
                display: block;
                margin-right: 0 !important;

                 a {
                    font-weight: bold;
                    font-size: 1.3rem;
                    color: $color-grey-dark;
                    margin-left: 0 !important;
                 }

                i {
                    float: right;
                    font-weight: bold;
                    font-size: 1rem;
                }

            }
        }


        @include respond(tab-land) {
            float: none;
            width: 100% !important;
            display: block !important;
            margin-left: 0;
        }

        & i {
            font-size: 0.6rem;
        }
    }

    &__right {
        float: right;

        @include respond(tab-land){
            float: none;
        }
    }

    &__menu {
        
        &-item {
            list-style: none;
            display: inline-block;
            padding: 1rem 0;
            position: relative;

            @include respond(tab-land){
                padding: 0.5rem 0 !important;
                display: block;
                width: 100%;

                .form__group {
                    border-bottom: 1px solid $color-grey-light-2;
                }

                a {
                    margin-left: 0 !important;
                }

                .btn:first-child {
                    margin-right: 1rem !important;
                }
            }

            &:not(:last-child){
                margin-right: 2rem;
            }

            a {
                text-decoration: none;
                color: $color-black;
                font-weight: 400;
                letter-spacing: -0.4px;

                &:last-child {
                    margin-left: 20px;
                }
                
                &:hover {
                    color: $color-black-2;
                }

            }

            .form__group {
                position: relative;
    
                & i {
                    position: absolute;
                    z-index: 10;
                    top: 50%;
                    left: 8px;
                    transform: translateY(-50%);

                }

                @include respond(tab-land){
                    i {
                        top: 33% !important;
                    }
                }

                .form__input {
                    padding-left: 30px;
                    width: 80%;
                    transition: width 0.2s ease-in;
                    display: block;

                    @include respond(tab-land){
                        width: 100%;
                        margin-bottom: 1.5rem;
                        font-size: 1.2rem;
                    }

                    &:focus {
                        width: 90%;
                        display: block;

                        @include respond(tab-land){
                            width: 100%;
                        }
                    }
                }
            }

            .navbar__user {
                display: inline-block;
                width: 40px;
                position: absolute;
                top: 20%;
                left: -20px;
                margin-right: 10px;
                cursor: pointer;

                @include respond(tab-land){
                    position: unset;
                    width: 100%;
                }

                &:hover .action__container{
                    opacity: 1;
                    visibility: visible;
                    display: block;
                }

                & img {
                    width: 40px;
                    border-radius: 100px;
                    display: inline-block;
                    height: 40px;
                    object-fit: cover;

                    @include respond(tab-land){
                        width: 50px;
                        height: 50px;
                    }
                }

                .action__container {
                    width: 250px;
                    border-radius: 10px;
                    padding: 30px 0px;
                    background-color: #fff;
                    position: fixed;
                    z-index: 50000;
                    top: 4rem;
                    right:6rem;
                    opacity: 0;
                    visibility: hidden;
                    display: none;
                    // backdrop-filter: blur(30px);
                    // background-clip: padding-box;
                    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.2);

                    @include respond(tab-land){
                        border-radius: 10px;
                        padding: 30px 0px;
                        background-color: #fff;
                        position: relative;
                        z-index: 10;
                        top: 0;
                        right:0;
                        opacity: 1;
                        visibility: visible;
                        display: block;
                        box-shadow: none;
                        width: 100%;

                        .action__items {
                            span {
                                display: none !important;
                            }

                            .user__name{
                                position: absolute;
                                top: -55px;
                                left: 50px;

                                a {
                                    font-weight: bold;
                                }
                                
                            }
                        }

                        .action__item{
                            font-size: 1.2rem;
                            width: 200px;
                            float: left;

                            &:hover {
                                background-color: transparent !important;
                                a {
                                    color: $color-black;
                                }
                            }
                        }
   
                    }

                    .action__items {
                        list-style: none;

                        span {
                            background: $color-grey-light-2;
                            width: 80%;
                            height: 1px;
                            display: table;
                            text-align: center;
                            margin: 10px auto;
                        }
                        
                    }


                    .action__item {
                        padding: 10px;
                        font-weight: 400;

                        &:hover {
                            background-color: darken(#fff,3);
                            
                            a {
                                color: $color-black;
                            }
                        }

                        i {
                            margin-right: 10px;
                        }
                        a {
                            text-decoration: none;
                            color: lighten($color-black,20);
                        }
                    }
                }
            }
        }
    }

    @include respond(desktop){
        .navbar__toggle {
            display: block !important;
        }
    }

}