*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(to right , rgb(44, 31, 31) , rgb(128, 128, 210)) ;
    min-width: 300px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    max-width:900px;
    width: 90%;
    border: 4px solid rgb(11, 7, 104);
    height: 400px;
    background-color: rgba(89, 184, 184, 0.758);
    border-radius: 15px;
    box-shadow: rgba(45, 15, 122, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#text_content {
    outline: none;
    border: 1px solid #ddd;
    width: 100%;
    margin: auto;
    height: 100%;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(195, 209, 238, 0.877);
    font-size: 25px;
}

.buttons_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 0.5rem;
    background-color: rgb(20, 10, 10);
}
.buttons{
    color: white;
}

button:hover{
    background-color: rgba(129, 170, 181, 0.778);

}

.buttons:hover{
    color: black;
    font-weight: 800px;
}
@media  (max-width : 410px) {

    .card{
        margin: 1rem;
    }
    
    .buttons_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    }
}