
:root {
  --body-bg: black;
  --mercedes-prim: #00adef;
  --main-color: #19c8fa;
  --landing-bg: #1f2021;
  --heading-line: #333;
  --heading-p: #777;
  --overlay-mask: rgb(0 0 0 / 50%);
  --transparent-color: rgb(15 116 143 / 70%);
  --arrows-color: #ddd;
  --container-pad: 15px;
  --trans-main: 0.3s;
  --section-padding: 100px;
  --border-bottom: #ccc;
  --bullets-border: #aaa;
  --progress-bg: #dedadc;
  --plan-bg: #fcfcfc;
  --form-border: #ccc;
  --footer-mask: rgb(0 0 0 / 70%);
}
/* End variables */
/* Start Glob. Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  /* background-color: var(--body-bg); */
}
ul {
  list-style: none;
}
.container {
  padding: 0 var(--container-pad);
  margin: 0 auto;
}
.main-heading {
  padding: 100px;
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--heading-line);
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--heading-line);
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: var(--heading-p);
}
/* End Components */
/* Start Header */

/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: var(--landing-bg);
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-mask);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--arrows-color);
}

.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start Company */
.company {
  padding: var(--section-padding) 0;
}
.company .cmp-box {
  display: flex;
}
.company .cmp-box i {
  margin-right: 50px;
}
.company .cmp-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.company .cmp-box p {
  line-height: 2;
  color: var(--heading-p);
}
/* End Company */
/* Start Design */
.design {
  padding: var(--section-padding) 0;
  height: 600px;
  position: relative;
  background-image: url("../images/design-bg.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-mask);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
.design .image img {
  position: relative;
  bottom: 180px;
  width: 500px;
  color: wheat;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
.design .text h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
.design .text ul li:first-child::before {
  content: "\f1b9";
}
.design .text ul li:nth-child(2):before {
  content: "\f0e7";
  margin-right: 26px;
}
.design .text ul li:nth-child(3):before {
  content: "\f05b";
}
.design .text ul li:last-child:before {
  content: "\f135";
}
/* End Design */
/* Start Vehicles */
.vehicles {
  padding: var(--section-padding) 0;
}
.vehicles .shuffle {
  display: flex;
  justify-content: center;
}
.vehicles .shuffle li {
  padding: 10px;
}
.vehicles .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.vehicles .shuffle li:hover {
  background-color: var(--main-color);
  color: white;
}
.vehicles .imgs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.vehicles .imgs-container .box {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-flow: column;
  border: 0.3vh solid white;
}
.vehicles .imgs-container .box:hover .caption {
  bottom: 0;
}
.vehicles .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (max-width: 767px) {
  .vehicles .imgs-container .box {
    padding: 0 10px 5px;
  }
}
.vehicles .imgs-container .box img {
  max-width: 100%;
  transition: var(--trans-main);
}
.vehicles .imgs-container .box .caption {
  position: absolute;
  left: 0;
  bottom: -100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  transition: var(--trans-main);
}
.vehicles .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.vehicles .imgs-container .box .caption p {
  color: var(--main-color);
}
.vehicles .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
}
.quote {
  padding: var(--section-padding) 0;
  background-image: url("../images/quotes-bg.jpeg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
}
.quote q::before,
.quote q::after {
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  top: -10px;
  color: var(--main-color);
}
.quote q::before {
  content: "\f10d";
  margin-right: 10px;
}
.quote q::after {
  content: "\f10e";
  margin-left: 10px;
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
/* End Quotes */
/* Start Pricing */

.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  color: white;
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
  text-align: center;
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: var(--heading-p);
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
.contact .content .info address {
  color: var(--heading-p);
  line-height: 2;
}
/* End Contact */
/* Start Footer */
.footer {
  padding: calc(var(--section-padding) / 2) 0;
  background-image: url("../images/black1.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}