.home__container {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .home__login {
    margin-top: 30px;
    padding: 20px;
    background-color: #2980b9;
    font-size: 18px;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    width: 250px;
    height: 55px;
    margin-left: 37%;
  }
  
  