$color-primary: #EA4C89;
$color-black: #3D3D3D;
$color-black-2: #222222;
$color-grey-dark: #838383;
$color-grey: #9E9EA7;
$color-grey-light-2: #c9c9c9;
$color-grey-light: #F3F3F4;
$tag-color:#6A7C91;

$color-error: #FF5555;

$grid-width: 90vw;
$gutter-vertical: 2rem;
$gutter-vertical-sm: 1rem;
$gutter-horizontal: 2rem;
$gutter-horizontal-sm: 1rem;

.margin-bottom-xl {margin-bottom: 6rem;}
.margin-bottom-lg {margin-bottom: 3rem;}
.margin-bottom-md {margin-bottom: 1.2rem;}
.margin-bottom-sm {margin-bottom: 0.5rem;}

.margin-top-xl {margin-top: 6rem;}
.margin-top-lg {margin-top: 3rem;}
.margin-top-md {margin-top: 1.2rem;}
.margin-top-sm {margin-top: 0.5rem;}