*{
    margin: 0%;
    padding: 0%;
    
}

body{
    
    outline: none;
    background: rgba(241, 241, 241, 0.555);
}
.container-fluid{
    display: flex;
    justify-content: center;
    margin-top: 35px;

}
.lgncont{
    
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: 5px 0px rgba(0, 0, 0, 0.034);
    width: 95%;
   border-radius: 20px;
}

.lgncont h2{
    font-size: 24px;
    font-weight: bolder;
}

.banner{
    border: none;
    border-radius: 20px 0px 0px 20px;
    
}
.form{
    margin-left: -200px;
    padding-right: 180px!important;
}
.lgnform{
    font-size: 14px;
    font-weight: 400;
    color: black;
    border: 2px solid rgba(230, 230, 230, 0.295);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 100%;
    width: 100%;
    margin-right: 0%!important;

}
.lgnform input[type=tel]{
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    outline: none;
}
::placeholder{
    color: rgba(31, 31, 31, 0.178);
}
.error{
    display: none;
}
.errtrigger{
    display: inline;
    color:  rgb(255, 0, 0);
}
.btn1{
    border-radius: 50%;
    padding: 10px;
    width: 45px;
    outline: none;
    
}
.btnalign{
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
}

@media screen and (max-width:1130px) {
    .mbl{
        display: none;
    }
    .form{
        padding: 15px;
        margin-left: 50px;
    }
    .lgncont{
        border-radius: 0%;
        box-shadow: none;
    }
    body{
        background: none;
        
    }
}
@media screen and (max-width:1080px) {
    
    .formbd{
        padding: 0%!important;
    }
    .lgncont{
        display: block;
        margin: 20px!important;
        justify-content: center;
        
    }
    .form{
        padding: 0%!important;
        margin: 0%!important;
    }
    .lgnform{
        width: 100%;
    }
    
    
}
.footer{
    max-height: 60px;
    padding: 10px;
    font-size: 12px;
    margin: 0%;
    font-weight: bold;
    position: relative;
    border-radius: 0%;
    border-top: 1px solid rgba(121, 120, 120, 0.295);
    color: rgb(121, 121, 121);
    bottom: 0%;
    
}
.footer p a{
    outline: none;
    text-decoration: none;
    color:red;
}
.footer p a :hover{
    
    color: rgb(255, 4, 4);
}
@media screen and (max-width:1080px) {
    .footer{
        margin-top: 90px;
    }
}
