* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1e1e2;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #39424e;
    padding: 10px;
}

.nav__left {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.nav__left>a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 5px;
    color: #fff;
}

.nav__left>a:hover {
    color: rgb(209, 207, 207);
}

.nav__right>a:hover {
    color: rgb(209, 207, 207);
}

.nav__right {
    display: flex;
    justify-content: space-between;
    margin-left: 190px;
}

.nav__right>a {
    font-size: 1rem;
    text-decoration: none;
    padding: 5px;
    color: white;
}

.nav__right>button {
    margin-left: 10px;
    padding: 5px;
}

.login {
    background-color: #39424e;
    border: 1px solid #39424e;
    color: #fff;
}

.signup {
    background-color: #28af59;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 2px solid #28af59;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 26, 26);
}

form>i {
    margin-left: 10px;
    font-size: 1.2rem;
    color: white;
}

form>input {
    padding: 5px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(27, 26, 26);
}

.active {
    border-bottom: 4px solid #28af59;
}

/* Main Content */

.dash__box {
    padding: 10px;
    background-color: white;
}

.dash__content>p {
    margin-bottom: -5px;
    color: #738f93;
    font-weight: 400;
    font-size: 15px;
}

.info-banner {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0;
    background: linear-gradient(140deg, #193b84 15%, #037bc1);
    color: #fff;
}

.community-content {
    display: flex;
}

.skill-verification {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-banner .banner-block {
    box-sizing: border-box;
    width: calc(33.33333% - 40px);
    margin: 50px 0;
}

.info-banner .banner-heading {
    font-weight: 700;
    font-size: 18px;
}

.info-banner .banner-text {
    padding-top: 15px;
    font-size: 13px;
}

.skill-verification .skills-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 1024px;
    max-width: 1240px;
}

.skill-verification .skills-heading {
    margin-bottom: 30px;
}

.v2-section-header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}

.bold{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}

.skill-verification .skills-grid {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(var(--verifiable-skills-columns,3),1fr);
    color: #738f93;
}

.skill-card {
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    padding: 30px;
    min-height: 183px;
    background: var(--card-shadow-1);
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
}

.skill-card-title{
    overflow: hidden;
    max-height: 72.8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    position: relative;
    z-index: 1;
    color: #0e141e;
    font-weight: 700;
    font-size: 26px;
}

.skill-card .skill-card-btn{
    height: auto;
    font-size: 12px;
    background-color: #fff;
    color: #1ba94c;
    border-color: #1ba94c;
    border: 1px solid #1ba94c;
    margin-top: 20px;
    padding: 5px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all .5s ease;
}

.tool-tip {
    display: inline;
    width: 100%;
}

.skill-card .skill-info {
    font-size: 16px;
}

.skill-img{
    position: absolute;
    right: -10%;
    bottom: 0;
    height: 85%;
    opacity: .1;
    pointer-events: none;
}

.title-icon{
    margin-top: -9px;
}

footer {
    padding: 10px;
    background-color: white !important;
}

footer>a {
    text-decoration: none;
    margin-left: 5px;
    color: #097bbf;
}

footer>a:after {
    content: " | ";
    color: gray;
}

.last__a:after {
    content: "";
}