.ImgSliderContainer {

    padding: 0;
    margin: 0;
    height: 344px;
    position: relative;
    /* z-index: 16; */
}

.ImgSlider {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0;
}

.Img {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0;
    position: absolute;
    transition: all 0.5s ease-in-out; 
    /* z-index: 0; */
}

.SliderControls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #757575;
    font-size: 14px;
    padding: 12.8px 0;
}

.SliderControls * {
    cursor: pointer;
}

.Disc {
    font-size: 10px;
    cursor: default;
}

.Active {
    font-weight: bold;
}

.NextSlide {
    /* visibility: hidden; */
    width: 0;
    transform: translateX(964px);
}

.CurSlide {
    /* visibility: visible; */
    width: 100%;
    transform: translateX(0%);
    /* z-index: 16 !important; */
}

.PrevSlide {
    /* display: none; */
    /* visibility: hidden; */
    width: 0;
    /* transform: translateX(-100%); */
}

/* .Wrap {
    position: absolute;
    border: 1px solid brown;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 15;
    background-color: #f8f8f8;
} */