.post {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post__header {
    display: flex;
    margin-bottom: 10px;  
}

.post__info {
    font-size: 10px;
}

.post__info > p {
    font-size: 12px;
    color: gray;
}

.post__info > h2 {
    font-size: 15px;
    margin-left: 10px;
}

.post__buttons {
    display: flex;
    /* justify-content: space-evenly; */
}


.post__body {
    overflow-wrap: anywhere;
}