* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1A1A1B;
}

body {
    background-color: #DAE0E6;
}

button {
    background: white;
}

button:hover {
    cursor: pointer;
}

h3 {
    font-size: 1.1rem;
    font-weight: 700;
}

/* ===========nav bar and header=========== */
nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

#logo-home, #logo-head {
    height: 32px;
    width: auto;
    padding: 5px;
}

#search-logo {
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
}

#search-bar {
    flex-grow: 1;
    background:#f6f7f8;
    padding: 0px 16px 0px 40px;
    margin: 0px 18px;
    height: 36px;
    color: rgba(0, 0, 0, 0.7);
}

#login-button {
    border: 1px solid #0079d3;
    border-radius: 4px;
    color: #0079d3;
    text-decoration: none;
    padding: 6px 16px;
    margin: 0px 0px 0px 4px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

#signup-button {
    border: 1px solid #0079d3;
    border-radius: 4px;
    background: #0079d3;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    padding: 6px 16px;
    margin: 0px 0px 0px 4px;
    font-size: 12px;
    cursor: pointer;
}


/* ===========trending today=========== */

.fa-fire, select {
    color: #0079d3;
    padding: 0px 8px;
    margin: 0px 8px;
    background-color: #fff;
}

select {
    height: 100%;
    border-radius: 4px;
    text-transform: capitalize;
    border: none;
    font-weight: 700;
}

.fa-chart-bar, .fa-th-large, .fa-certificate, .fa-sort-down{
    color: #878a8b;
    padding: 0px 8px;
    margin: 0px 8px;
    background-color: #fff;
}

#popular-links {
    flex: 1;
}

#trending-container {
    padding: 16px 24px 0px;
}

#trending-container {
    padding: 16px 24px 0px 24px;
    font-size: 12px;
}

#trending-container h3 {
    padding: 16px 0px;
}

#trending-posts-container {
    display: flex;
    height: 185px;
}


.trending-content {
    padding: 12px;
    height: 185px;
}

.trending-content h3 {
    margin: 75px 0px 0px;
    font-size: 1.3rem;
    color: white;
}

.trending-content p {
    margin: 0px 0px 8px;
    font-size: 14px;
    color: white;
}

.trending-highlight {
    flex: 1 1 0px;
    border-radius: 6px;
    margin-left: 12px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.trending-highlight:nth-of-type(1) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.9)), url("https://images.unsplash.com/photo-1571842705650-728fd132c62f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    margin: 0px;
}

.trending-highlight:nth-of-type(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.9)), url("https://images.unsplash.com/photo-1519995451813-39e29e054914?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.trending-highlight:nth-of-type(3) {   
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("https://images.unsplash.com/photo-1585007600263-71228e40c8d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.trending-highlight:nth-of-type(4) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.9)), url("https://images.unsplash.com/photo-1557821552-17105176677c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8c2hvcHBpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

#trending-posts {
    display: flex;
    justify-content: space-between;
}

/* ===========popular posts=========== */
#wrapper {
    align-items: center;
    margin: 0 auto;
    max-width: 988px;

}

#popular-header {
    padding: 0px 24px;
    font-size: 12px;
}

#main-wrapper {
    display: flex;
    padding: 16px 24px;
}

.container-box {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #1c1c1c;
    margin-bottom: 16px;
    padding: 16px;
    /* width: 100%; */
    flex-grow: 1;
}

.container-box h3 {
    display: inline;
    flex: 1;
}

.container-box i {
    display: flex;
    justify-content: center;
}

#updates-reddit {
    display: flex;
}
#updates-reddit button {
    justify-content: space-between;
}

#update-scroll {
    display: flex;
    align-items: center;
}

#update-scroll button {
    margin: 10px;
}

#inner-content {
    border: none;
    border-radius: 6px;
    padding: 12px 16px;
    width: 100%;
}

.post-img {
    width: 100%;
    border-radius: 4px;
}

#main {
    flex: 5;
}

#main h3 {
    padding: 0px 0px 10px;
}

#post-image {
    width: 200px;
    height: 200px;
    background-image: url("");
}

/* aside column */

#aside {
    display: flex;
    flex: 2.5;
    flex-direction: column;
    margin-left: 25px;
    border-radius: 4px;
}

#aside-header {
    display: flex;
    border-radius: 4px;
    height: 80px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1517330283827-2527c57981ad?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGRhcmslMjBwYXR0ZXJufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-position: bottom;
    font-size: 10px;
}

.aside-container-box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    color: #1c1c1c;
    padding: 16px 0px;
}

.aside-container-box i {
    display: flex;
    padding: 0px;
}

#aside-header h3 {
    padding: 5px;
    margin-top: auto;
    color: white;
}

.popular-item a {
    width: 100%;
    padding: 0px 12px;
    text-decoration: none;
    font-size: 14px;
}

.fa-sort-up {
    display: flex;
    display: inline;
    color:green;
    font-size: 1.3rem;
}

hr {
    margin-bottom: 0px;
    width: 100%;
}

.popular-button {
    display: flex;
    margin: 12px;
}

.pop-icon {
    font-size: 1.5rem;
    margin: 0px 5px;
}

.pop-number {
    margin-right: 5px;
}

.pop-page {
    color:rgba(0, 0, 0, 0.7);
    font-weight: 700;
}

.popular-button button {
    background: #0079d3;
    color: #fff;
    flex: 1;
    padding:3px 16px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
}

/* icons */
i .fas {
    font-size: 1.3rem;
    color: grey;
}

.fa-user, .fa-caret-down {
    margin: 0 5px;
}


/* Responsive break points */
@media (max-width: 1050px) {
    #logo-home {
        display: none;
    }
}

@media (min-width: 1051px) {
    #logo-head {
        display: none;
    }
}

@media (max-width: 950px) {
    #aside {
        display:none;
    }
    #trending-four {
        display: none;
    }
}

@media (max-width: 725px) {
    #trending-three, .fa-certificate, .fa-chart-bar {
        display: none;
    }
}

@media (max-width: 530px) {
    #trending-two {
        display: none;
    }
}

@media (max-width: 900px) {
    #signup-button {
        display: none;
    }
    #login-button {
        display: none;
    }
}