* {
    margin: 0;
    padding: 0;
    /* added */
    margin-left: 2.5px;
    
}

/* Header Styles */

.header_left img{
    object-fit: contain;
    height: 140px;
    margin-left: 7px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid whitesmoke;
}
.header_left{
    display: flex;
    align-items: center;
}

.header_middle{
  display: flex;
  flex: .7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 4px;
}

.material-icons{
    color: grey;
}

.header_middle input{
    border: none;
    width: 100%;
    padding: 11px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}

.header_right{
    display: flex;
    padding-right: 20px;
}
.header_right span{
    padding: 10px;
    cursor: pointer;
}


/* Sidebar */
.sidebar{
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
}

.sidebar_compose{
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: gray;
  padding: 15px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,.75);
}
.sidebar_compose span{
    margin-right: 5px;
}

.sidebar_option{
    display: flex;
    align-items: center;
    height: 40px;
    padding : 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;

}

.sidebar_option .material-icons{
    padding: 5px;
}
.sidebar_option h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.sidebar_option:hover,
.sidebar_option:hover h3,
.sidebar_option:hover .material-icons,
.sidebarOption_active,
.sidebarOption_active h3,
.sidebarOption_active .material-icons{

    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800;
}

.sidebar_footer{
    display: flex;
    justify-content: center;
}

.sidebar_footerIcons .material-icons{
  margin: 7px;
  cursor: pointer;

}

/* Main Body */
.main-body{
 display: flex;
 height: 100vh;   
}

body {
 height: 100vh;
 overflow-y: hidden;   
}

.emailList{
    flex: 1;
    overflow: scroll;
}

.emailList_settings{
   position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 9px;
}

.emailList_settingsLeft{
    display: flex;
    align-items: center;

}

.emailList_settings .material-icons{
    margin:5px;
    cursor: pointer;
}

.section{
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: gray;
    border-width: 0;

}


.emailList_sections{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.section_selected{
   background-color: whitesmoke;
   color: red;
   border-width: 3px;
   border-bottom: 3px solid red;

}


.section_selected .material-icons{
    color: red;

}

.section:hover{
    background-color: whitesmoke;
    border: 3px;
}

.section h4{
    font-size: 14px;
    margin-left: 15px;
}

.emailRow_options{
    display: flex;
    align-items: center;

}

.emailRow_options .material-icons, input{
    margin: 5px;
}

.emailRow{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}

.emailRow:hover{
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px rgba(0,0,0,.24);
}

.emailRow_message{
    display: flex;
    flex:.8;
    align-items: center;
    font-size: 13px;

}

.emailRow_message h4{
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.emailRow_title{
    font-size: 13px;
    flex: .3;
}

.emailRow_time{
    padding-right: 15px;
    font-size: 15px;
    font-weight: bold;
}

.emailRow_description{
    font-weight: 400;
    color: gray;
}