* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background: #adadad;
}

/**************************************** Navbar ***********************************/
.navbar {
	display: flex;
	padding: 10px 0;
	justify-content: space-around;
	width: 100%;
	height: 44px;
}

.navbar i {
	font-size: 1.6rem;
	color: #dadfe6;
}

.navbar i:hover
{
font-size: 1.9rem;
color:white;
}


.navbar i:nth-child(1) 
{
	color: #fe466d;
}


.navbar i:nth-child(1):hover
{
	color: fuchsia;
	font-size: 1.9rem;
}

/*.navbar i:nth-child(2) 
{
	color: #fe466d;
}


.navbar i:nth-child(2):hover
{
	color: red;
	font-size: 1.9rem;
}

*/


.pic-and-actions {
	height: calc(100vh - 44px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 

.navbar i:nth-child(3) 
{
	color: #fe466d;
}


.navbar i:nth-child(3):hover
{
	color: red;
	font-size: 1.9rem;
}
*/



/******************************** Pic **************************/

.pic 
{
	width: 98vw;
	height: 85vh;
	background: url('../img/hirtik roshan.jpg') center center/cover;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	color: rgb(219, 59, 128);
	box-shadow: 0 26px 20px 0 rgba(0, 0, 0, 0.77);
}

/* .pic:hover
{
	width: 98vw;
	height: 85vh;
	background: url('../img/hirtik roshan.jpg') center center/cover;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	color: rgb(219, 59, 128);
	box-shadow: 0 26px 20px 0 rgba(0, 0, 0, 0.77);
} */


.pic-text {
	padding: 15px;
	background: rgb(2, 0, 36);
	background: rgb(2, 0, 36);
	background: linear-gradient(
		180deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(35, 34, 65, 0) 0%,
		rgba(0, 0, 0, 0.7) 52%
	);
	border-radius: 10px;
}

.pic-name-and-age 
{
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.pic-name-and-age h2 
{
	font-size: 1.7rem;
}

.pic-name-and-age h2:nth-child(2) 
{
	margin-left: 10px;
	font-weight: 500;
}

.pic-bio 
{
	line-height: 1.7rem;
	font-weight: 500;
	font-size: 1.1rem;
}

/************************************** Actions *******************************/
.actions 
{
	flex: auto;
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

.action 
{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	font-size: 2rem;
	box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
}

.actions .action:nth-child(1) 
{
	color: #ef2540;
}


.actions .action:nth-child(1):hover
{
height: 60px;
width: 60px;
font-size: 2.7rem;
background: rgb(225, 222, 222);
}




.actions .action:nth-child(2) {
	height: 58px;
	width: 58px;
	font-size: 1.6rem;
	margin: 0 1rem;
	color: #2db1ff;
}

.actions .action:nth-child(2):hover{
	height: 60px;
	width: 60px;
font-size: 2.7rem;
background: rgb(225, 222, 222);
}


.actions .action:nth-child(3) {
	color: #19c58c;
}


.actions .action:nth-child(3):hover{
	height: 60px;
	width: 60px;
font-size: 2.7rem;
background: rgb(225, 222, 222);
}




/* 1025px or more */
@media (min-width: 1025px) {
	.pic {
		width: 367px;
		height: 684px;
	}

	.actions {
		flex: initial;
	}

	.pic-and-actions {
		justify-content: center;
	}

	.navbar {
		width: 400px;
		margin: auto;
	}
}



