@import "../colors";
@import "../fonts";

.SideBar {
    position: fixed;
    width: 24rem;
    height: calc(100vh - 10rem);

    padding-top: 0.5rem;

    background-color: $secondary-color;
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: scroll;

    transform: translateY(5rem);
    transition: width 150ms ease, height 150ms ease;

    & .topHead {
        display: flex;
        align-items: center;

        box-sizing: border-box;

        width: 100%;
        height: 4rem;

        padding: 1rem;

        & p {
            color: $text;
            font-size: $font-size-5;
            font-weight: 600;
        }

        & .IconContainer {
            display: flex;
            flex-direction: row;

            position: relative;
            z-index: 200;

            box-sizing: border-box;

            width: 3rem;
            height: 3rem;

            margin-left: auto;
            border-radius: 0.3rem;

            cursor: pointer;

            padding: 0.5rem;

            transition: background-color 150ms ease;

            & .Icon {
                width: 100%;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }

            &::after {
                content: attr(name);

                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                z-index: 400;
                
                width: auto;
                height: auto;

                padding: 0.5rem;
                padding-block: 0.25rem;
                border-radius: 0.4rem;

                font-size: $font-size-5;
                font-weight: 600;

                background-color: #fff;

                transform: translateX(-3rem) translateY(-0.2rem) scale(0);
                transition: transform 150ms ease;
            }

            &:hover::after {
                transform: translateX(-7rem) translateY(-0.2rem) scale(1);
            }
        }
    }

    & .showMore {
        display: flex;

        height: 2.2rem;

        font-size: $font-size-5;
        color: $text-purple;

        cursor: pointer;

        margin-left: 1rem;
        &:hover {
            text-decoration: underline;
        }

    }



    & .RecommendedChannels {
        height: 2rem;

        font-size: $font-size-5;
        font-weight: 600;
        color: $text;

        margin-left: 1rem;
        margin-block: 1rem;
    }

    
}



.SearchFriends {
    position: fixed;
    width: 24rem;
    height: 5rem;

    padding: 1rem;

    background-color: $secondary-color;
    border-top: 0.1rem solid rgba($color: #fff, $alpha: 0.2);


    transform: translateY( calc(100vh - 5rem) );

    transition: transform 150ms ease;
    & .SearchIcon {
        position: absolute;

        width: 2rem;
        height: 2rem;

        fill: $text-subcolor;

        transform: translate(.5rem, .5rem);
    }

    & input {
        width: 100%;
        height: 100%;
        
        padding: 0.5rem;
        padding-left: 3rem;
        padding-right: 1rem;

        color: $text;
        background-color: rgba(255, 255, 255, 0.2);
        
        border: none;
        border-radius: 0.4rem;

        outline: 0.2rem solid rgba(255, 255, 255, 0);

        transition-property: outline;
        transition-duration: 250ms;
        transition-timing-function: ease;

        &:hover {
            outline: 0.2rem solid rgba(255, 255, 255, 0.3);
        }

        &:focus {
            background-color: #000;
            outline: 0.2rem solid $purple-color;
        }
    }
}












.SideBar.collapsed {
    width: 5rem;
    height: calc(100vh - 5rem);

    & .RecommendedChannels,
    & .showMore {
        display: none;
    }

    & .topHead {
        display: flex;
        width: 5rem;

        & p {
            display: none;
        }

        & .IconContainer {
    
            & .Icon {
                transform: scale(-1);
            }
        }
    }


    & .IconCollapse {
        width: 5rem;
        height: 5rem;

        fill: $text-subcolor;

        padding-inline: 1.5rem;
        padding-block: 1rem;

        margin-bottom: -1rem;

        &:last-of-type {
            margin-top: -1.2rem;
        }

    }


    & div:not(:first-child):not(:nth-child(2)) { 
        &:hover {
            background-color: $secondary-color;
        }
    }


}


.SearchFriends.collapsed {
    transform: translateY( calc(100vh - 10rem) ) translateX(-100%);
}