body {
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    color: rgb(37, 37, 37);
    font-size: 14px;
    font-weight: 400;
    font-family: "Rakuten Sans UI";
    line-height: 16px;
}

a {
    text-decoration: none;
    color: rgb(37, 37, 37);
}

img,
video {
    max-width: 100%;
    /* height: auto; */
}

* {
    margin: 0px;
    padding: 0px;
}


/* Header */
.header {
    padding-inline-start: 48px;
    padding-inline-end: 48px;
    box-sizing: content-box;
    max-width: 100% !important;
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: fixed;
    top: 0px;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 8px rgb(10 22 70 / 15%);
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 999;
    height: 64px;
}

.inner-header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    height: 64px;
}

.logo-link {
    margin: 13px;
    display: inline-block;
}

.logo-image {
    width: 113px;
    height: auto;
}

.head-span {
    color: #737373;
    margin-left: 212px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
}

.head-sign-in {
    float: right;
    line-height: 64px;
    cursor: pointer;
    color: #8529cd;
    font-weight: 600;
}

/* Section -1 */
.signupFirst {
    overflow: hidden;
    width: 100%;
    height: 584px;
    padding-top: 64px;
    background: #8529CD;
    min-width: 1170px;
}

.sign-in-1 {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    position: relative;
}

.sign-in-1-content {
    width: 55%;
    height: 520px;
    position: absolute;
    z-index: 2;
}

.sign-in-1-content-1 {
    max-width: 616px;
    padding-top: 135px;
}

.sign-in-1-content-h3 {
    font-family: Stag;
    font-size: 64px;
    font-weight: 300;
    line-height: 66px;
    color: white;
}

.sign-in-1-content-p {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 32px;
    margin-top: 16px;
    padding-right: 50px;
    line-height: 24px;
    color: white;
}

.sign-in-button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    border: none;
    cursor: pointer;
    transition: all 200ms;
    box-shadow: 0px 4px 8px #0a164626;
    font-family: Rakuten Sans UI;
    ;
    font-size: 18px;
    font-weight: 600;
    line-height: 24;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
    color: #8529cd;
    ;
    background: white;
    border-radius: 9999px;
    height: 56px;
}

.sign-in-1-image {
    height: 520px;
    position: absolute;
    right: -155px;
    max-width: unset;
}

/* Section-1-1 */
.addchrome {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #f4f3fe;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    min-width: 1170px;
}

.chrome-image {
    display: inline-block;
    width: 62px;
    height: 62px;
    margin-right: 15px;
}

.chrome-button {
    display: inline-flex;
    align-items: center;
    width: auto;
    border: none;
    cursor: pointer;
    transition: all 200ms;
    box-shadow: 0px 4px 8px #0a164626;
    font-family: Rakuten Sans UI;
    ;
    font-size: 18px;
    font-weight: 600;
    line-height: 24;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
    color: #8529cd;
    ;
    background: #8529cd;
    border-radius: 9999px;
    height: 56px;
}

.chrome-link {
    color: white;
}

/* Section-2 */
.sec-2 {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 420px;
    position: relative;
    overflow: hidden;
}

.sec-2-1 {
    width: 50%;
    margin: 0px;
    position: absolute;
    top: 50%;
    padding-left: 64px;
    transform: translateY(-50%);
}

.sec-2-1-h2 {
    font-family: Stag;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 24px;
}

.sec-2-1-p {
    font-size: 20px;
    line-height: 28px;
    color: #737373;
}

.sec-2-image-outer {
    position: relative;
    left: 50%;
}

.sec-2-image {
    margin-left: 67px;
    margin-top: 24px;
    height: 375px;
}

.sec--2 {
    background: #f4f3fe;
    min-width: 1170px;
}

.sec--2-1 {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 600;
}

.sec--2-1-h2 {
    font-family: Stag;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 30px;
}

.sec--2-1-flex {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.sec-2-flex-1 {
    width: 290px;
}

.sec--2-1-flex-p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 6px;
}

.sec--2-1-flex--p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
}

.sec-2--image {
    width: 88px;
}

.sec-2--button {
    display: inline-flex;
    align-items: center;
    width: auto;
    border: none;
    cursor: pointer;
    transition: all 200ms;
    box-shadow: 0px 4px 8px #0a164626;
    font-family: Rakuten Sans UI;
    ;
    font-size: 18px;
    font-weight: 600;
    line-height: 24;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
    color: #8529cd;
    ;
    background: white;
    border-radius: 9999px;
    height: 56px;
    margin-top: 30px;
}

.sec-2--link {
    color: #8529cd;
}

/* Section - 3*/
.sec-3 {
    display: flex;
    flex-direction: row-reverse;
    --chakra-space-x-reverse: 1;
    --chakra-divide-x-reverse: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 1170px;
    height: 420px;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 55px;
    padding-right: 55px;
    margin: auto;
}

.sec-3-contain {
    width: 50%;
    padding: 10px;
}

.sec-3-contain-h2 {
    font-family: Stag;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 24px;
}

.sec-3-contain-p {
    font-size: 24px;
    line-height: 28px;
    color: #737373;
}

.sec-3--contain {
    width: 50%;
    height: 100%;
    text-align: center;
}

.sec-3-image {
    height: 100%;
}

/* Section-4 */
.sec-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1170px;
    height: 420px;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 55px;
    padding-right: 55px;
    margin: auto;
}

.sec-4-left {
    width: 50%;
    padding: 10px;
}

.sec-4-h2 {
    font-family: Stag;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 24px;
}

.sec-4-p {
    font-size: 20px;
    line-height: 28px;
    color: #737373;
}

.sec-4-right {
    width: 50%;
    height: 100%;
    text-align: center;
}

.sec-4-image {
    height: 290px;
}

/* Section-5 */
.sec-5 {
    display: flex;
    flex-direction: row-reverse;
    --chakra-space-x-reverse: 1;
    --chakra-divide-x-reverse: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 1170px;
    height: 420px;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 55px;
    padding-right: 55px;
    margin: auto;
}

.sec-5-right {
    width: 50%;
    padding: 10px;
}

.sec-5-h2 {
    font-family: Stag;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 24px;
}

.sec-5-p {
    font-size: 20px;
    line-height: 28px;
    color: #737373;
}

.sec-5-left {
    width: 50%;
    height: 100%;
    text-align: center;
}

.sec-5-image {
    height: 290px;
}

/* secion-6 */
.sec-6 {
    background: #f4f3fe;
    min-width: 1170px;
}

.sec-6-outer {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
}

.sec-6-outer-h2 {
    font-family: Stag;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 10px;
}

.sec-6-outer-p {
    color: #737373;
    font-family: Rakuten Sans UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.sec-6-flex {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 15px;
}

.sec-6-flex-box {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: auto;
    width: 270px;
    padding: 25px;
}

.sec-6-image {
    width: 128px;
    height: 128px;
    margin-bottom: 15px;
}

.sec-6-flex-p1 {
    font-family: Rakuten Sans UI;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
}

.sec-6-flex-p2 {
    font-family: Rakuten Sans UI;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

/* Section-7 */
.sec-7 {
    padding: 65px;
    text-align: center;
}

.sec-7-h2 {
    font-family: Stag;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 35px;
}

.sec-7-button {
    display: inline-flex;
    align-items: center;
    width: auto;
    border: none;
    cursor: pointer;
    transition: all 200ms;
    box-shadow: 0px 4px 8px #0a164626;
    font-family: Rakuten Sans UI;
    font-size: 18px;
    font-weight: 600;
    line-height: 24;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
    color: white;
    background: #8529cd;
    border-radius: 9999px;
    height: 56px;
}

/* Section -8 */
.sec-8 {
    text-align: center;
    min-width: 1170px;
    padding-bottom: 50px;
    color: #575757;
    font-size: 14px;
}

.sec-8-div {
    margin-bottom: 30px;
}

.sec-8-link {
    display: inline-block;
    color: #8529cd;
}

/* Footer */
.footer {
    background-color: #252525;
    color: white;
}

.footer-1 {
    overflow: auto;
    padding-top: 64px;
}

.footer--1 {
    padding-inline-start: 48px;
    padding-inline-end: 48px;
    box-sizing: content-box;
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    flex-direction: column;
}

.footer--1-1 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.footer--1-stack{
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 10px);
}

.footer--1-stack-div {
    display: flex;
    flex-direction: column;
}

.footer--1-stack-span {
    color: white;
    opacity: 0.7;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer--1-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer-mob-icon {
    display: inherit;
}

.footer-mob-icon-link {
    color: white;
    font-family: Rakuten Sans UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.footer--1-ul>*:not(style)~*:not(style) {
    margin-top: 8px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
}

.footer-ios-and{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.footer-ios-and-1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
}

.css-19r821h:not(:root) {
    overflow: hidden;
}

.css-19r821h {
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    fill: #ddd;
    margin-right: 4px;
    flex-shrink: 0;
    backface-visibility: hidden;
}

.footer-ios-and-2{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.footer--1-stack>*:not(style)~*:not(style) {
    margin-top: 24px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
}

.css-1c6vscd {
    display: inherit;
}

.css-17pkpn4, .chakra-link {
    color: white;
    font-family: Rakuten Sans UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.css-1pe3zmv {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
}

.css-14b8d12:not(:root) {
    overflow: hidden;
}

.css-14b8d12 {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    fill: #ddd;
    margin-right: 4px;
    flex-shrink: 0;
    backface-visibility: hidden;
}

.css-5e7ve0 {
    font-weight: bold;
    white-space: nowrap;
}

.footer--1-2{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.css-1fscg46 {
    opacity: 0.6;
    border: 0;
    border-color: inherit;
    border-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    color: #b9b9b9;
    margin: 0px;
}

.footer--1-3{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer--1-3-1 {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.css-c26408 {
    color: white;
}

.footer--1-3-2{
    margin-left: 16px;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-align: left;
}

.footer--social{
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    margin-left: auto;
}

.footer--social-link{
    color: #252525;
    background-color: #b9b9b9;
    border-radius: 9999px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.css-1vopo0h:not(:root) {
    overflow: hidden;
}

.css-1vopo0h {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    backface-visibility: hidden;
}

.footer-2{
    background-color: white;
    padding-top: 16px;
    padding-bottom: 32px;
}

.footer--2{
    padding-inline-start: 48px;
    padding-inline-end: 48px;
    box-sizing: content-box;
    margin-inline-end: auto;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.footer--2-link{
    flex: 0 0 270px;
    margin-right: 16px;
}

.footer--2-img {
    width: 100%;
    height: auto;
    max-width: 384px;
}

.footer--2-links{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

.footer--2-link-div{
    flex-basis: auto;
    margin-left: 16px;
    align-self: flex-start;
    margin-bottom: 16px;
}

.css-1mtxxls {
    color: #737373;
}