.header-background{
    background-color: #282a35; 
    height: 500px ;
    width: 1549px;
position: relative;
font-family: 'Source Sans Pro', sans-serif;
bottom: 150px;
right: 7px;
}
#header-size{
    color: aliceblue;
    font-size: 72px;
}
.submit-box{
    position: relative;
    top: 20px;
    right: 73px;
    height: 49.8px;
    background-color: #04AA6D;
    border: none;
    width: 71px;
border-radius: 25px;

}

.search-icon{
    color: #FFFFFF;
    position: relative;
    right: 117px;
    top: 3px;

}


.list-header{
    position: relative;
    top: 110px;
    right: -0px;
     color: #FFC0C7;
    text-align: center;
 list-style: none;  
}
.list-header-2{
    position: relative;
    top: 140px;
    right: -50px;
     color: #FFC0C7;
    text-align: center;
 list-style: none;  
}
.list-header-3{
    position: relative;
    top: 170px;
    right: -0px;
     color: #ffffff;
     cursor: pointer;
    text-align: center;
 list-style: none;  
}
.search-box{
    border-radius: 25px;
border: none;
    height: 47.5px;
    width: 330px;
    background-color: #FFFFFF;
    font-size: 17px;
}
.imgcurve{
    position: relative;
    top: 178px;
    left: -7px;
    width: 1543px;
}

@media only screen and (max-width:415px){
    .header-background{
        position: relative;
        top: -65px;
        width: 419px;
        height: 740px;
    }
    .imgcurve{
        position: relative;
        top:219px;
    }
   .submit-box{
       display: flex;
       position: relative;
       right:-80px
   }
   .search-box{
       position: relative;
       right: 70px;
       width: 293px;
   }
   .list-header{
       position: relative;
       right: 30px;
   }
   .search-icon{
       position: relative;
       left: -73px;
       top: -9px;
   }
   
}