@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Amazon Ember", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: $background-color !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-btn-primary {
  background-color: $button-color !important;
  border: 1px solid $button-border !important;
  color: $primary-color-light !important;
}

.ant-btn:hover {
  border: 1px solid $button-border !important;
  color: $primary-color-light !important;
}

.anticon-close {
  color: white !important;
}

.ant-drawer-title {
  color: white !important;
  font-weight: bold !important;
  font-size: 1.2rem !important;
}

.image-gallery-thumbnail-image {
  width: 60% !important;
}

.image-gallery-image {
  width: 80% !important;
}