/* Breakpoints */
@mixin breakpoint($point) {
    @if $point == xs {
        @media (min-width: 30rem) { @content; }
    }
    @else if $point == s {
        @media (min-width: 40rem) { @content; }
    }
    @else if $point == m {
        @media (min-width: 48rem) { @content; }
    }
    @else if $point == l {
        @media (min-width: 60rem) { @content; }
    }
    @else if $point == xl {
        @media (min-width: 64rem) { @content; }
    }
    @else if $point == xxl {
        @media (min-width: 80rem) { @content; }
    }
}

/** clear fix */


@mixin clearfix() {
    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }