$primary-color-main:#131A22;
$primary-color-light:#232F3E;

$secondary-color-main:#F1C55A;
$secondary-color-light:#F0C459;
$secondary-color-dark:#FF794A;

$background-color:#EAEDED;
$background-color-light:#fff;

$text-color:#fff;
$text-color-grey:#918382;
$text-color-blue:#0167C0;
$text-color-red:#B12705;

$button-color:#F1C964;
$button-border:#A88733;

$star-color:#e67e22;

$line-color:#dddddd;