* {
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  background-color: #f3f3f3;
}
.nav {
  width: 100%;

  background-color: #fff;
  box-sizing: border-box;

  display: flex;
  height: 80px;
}
.logo {
  width: 20%;

  margin-left: 5%;
}

.option {
  display: flex;
  width: 40%;

  margin-left: 5%;
}
.login {
  width: 31%;

  margin-left: 0.2%;
  color: #3f414d;
  font-size: 16px;
  font-weight: 600;
  overflow-x: hidden;
}
.address {
  width: 31%;

  margin-left: 0.2%;
  color: #fc2779;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 3px solid #fc2779;
}
.payment {
  width: 31%;
  font-size: 16px;
  font-weight: 600;
  margin-left: 0.2%;
}
.line {
  background-color: #ebebeb;
  height: 60px;
  width: 0.1%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 0px;
}
.line2 {
  background-color: #ebebeb;
  height: 60px;
  width: 0.1%;
  margin-top: 2%;
  margin-left: 0px;
}
.contain {
  width: 80%;
  transform: translateX(14%);
}

.smallemail {
  font-size: 14px;
  color: #8c8d94;
  font-weight: 400;
}
.newadress {
  width: 24.5%;
  color: #fc2779;
  font-size: 16px;
  font-weight: 600;

  height: 7vh;
}
.addresstake {
  width: 43%;

  margin-left: 1%;

}
.iteambag {
  width: 30%;
  margin-left: 1%;
}

.list {
  width: 100%;
}
.paymentmode {
  width: 30%;
}
.hor {
  width: 90%;
  background-color: #ebebeb;

  height: 1px;
  margin-top: -1%;
  margin-left: 2%;
  margin-right: 0px;
}

.smallmera {
  margin-top: -2%;
}
input:focus {
  outline: none;
}
input {
  border: none;
}
textarea:focus {
  outline: none;
}
textarea {
  border: 1px solid #ebebeb;
  width: 90%;
}
input.largerCheckbox {
  width: 17px;
  height: 17px;
  border: 1px solid #ebebeb;
}

.che {
  display: flex;
}
.text {
  font-size: 16px;
  margin-top: 0.3%;
  margin-left: 2%;
}
button {
  width: 90%;
  background-color: #fc2779;
  color: #fff;
  outline: none;
  border: none;
  height: 5vh;
}
.iteambag {
  width: 30%;
  height: 30vh;
  background-color: #fff;
}

.collapsible {
    background-color: #fff;
    
    cursor: pointer;
   text-align: left;
    width: 100%;
    border: none;
  
    outline: none;
    color: #fea838;
    cursor: pointer;
    font-weight: 600;
    
}
  
.active,
.collapsible:hover {
  background-color: #fff;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.2s ease-out;
  background-color: #fff;
}
.usereward{
    display: flex;
}
#usrew{
    margin-left: 30%;
    color:#fc2779 ;
}
/* */
.ds{
    display: flex;   
}
.shc{
    display: flex;
}
.subtotal{
    display: flex;
}
#subt{
    margin-left: 68%;  
}
#sc{
    margin-left: 50%;
    font-size: 13px;
}
#dis{
    margin-left: 67%;
}
.deta{
    color: #4db6ac ;
}
.grandt{
    display: flex;
}

#usrewt{
    margin-left: 62%;
    font-size: 16px;
}


.select-address-type{
  display: flex;
  flex-direction: column;
}
.newadress{
  padding-left: 10px;
  width: 300px;
  margin-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#newaddress-box{
  display: flex;
  flex-direction: column;
  display: none;
}
.saved-addresses-cont{
  width: 43%;
  margin-left: 1%;
  background-color: white;
  margin-top: 1rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  padding: 1rem;
}
.saved-addresses-cont> p {
  margin: 10px 0;
}
.edit-ship-cont{
  display: grid;
  grid-template-columns: 15% 80%;
  margin-top: 3rem;
}
.add-edit-btn{
  background-color: #fff;
  color: grey;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.redirect_paybtn{
  width: 100%;
font-size: 16px;
  font-weight: 500;
}
.savedADDRESSES{
  border-right: 3px solid #fc2779;
}
#cartiteam{
  
  background-color: rgba(0, 0, 0, 0.1);

}
.main__div{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 68%;
  grid-gap: 2%;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 4px 2px 0 rgba(17, 16, 16, 0.2);
  font-size: 14px;
  border-radius: 5px;

}
.qpdiv{
  display: flex;
  justify-content: space-between;
}

.text__div{
  padding: 10px;
}
.cartimg_div img {

  width: 100%;
}

.foot_address{
  width: 80%;
  margin:10rem auto;
  display: flex;
  justify-content: space-between;
}

.foot_address > div {
  display: grid;
  grid-template-columns: 24% 70%;
  grid-gap: 6%;
}
.foot_address > div > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.sma_text{
  font-size: 12px;
}
.gui_text {
  font-size: 14px;
}