

.explorechatbox {
    width: 25%;
    height: 600px;
    background-color: #ffffff;
    position: absolute;
    z-index: 100;
    top: 100px;
    right: 25px;
  
    position: fixed;
    border-radius: 1.5%;
    display: none;
  }
  .grey__ {
    background-color: #3b5268;
    width: 100%;
    height: 8.5%;
    border-radius: 0.5%;
    color: #ffffff;
    display: flex;
  }
  .closeicon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3b5268;
    border: 1px solid red;
    margin-top: 17.5px;
    margin-left: 27%;
  }
  .cl {
    color: black;
    font-size: 22px;
    margin-top: 1.8%;
    margin-left: 25%;
    cursor: pointer;
    font-weight: bolder;
  }
  .chatbox {
    position: sticky;
  
    position: absolute;
    top: 675px;
    right: 15px;
    z-index: 100;
    background-color: #fff;
    width: 18%;
    position: fixed;
    box-shadow: 0px 0px 18px rgba(31, 29, 29, 0.5);
    cursor: pointer;
  }