
        body{
            background-image: url("https://cdnr.nykaa.com/assets/desktop/images/install_app/install_app_bg.jpg");
        }
        .content{
            width: 50%;
            height: 20%;
            margin-left: 50px;
            margin-top: 20%;
           
           
           
        }

        #mblImg{
          width: 150%;
         
        }

        #MblNumb{
            width: 70%;
            height: 50px;
            
        }
        .send-link{
            margin-left: -22%;
            width: 20%;
            height: 30px;
            margin-bottom: -5%;
            border: none;
            background-color: rgba(0, 0, 0, 0.2);
            color: white;
            }
        #div2{
            width: 30%;
            margin-right: 25%;
           
        }
        #div1{
            margin-left:8% ;
            
        }

        #AppDiv{
            display: flex;
            
        }
        #AppDiv > div:nth-child(1){
            margin-right: 50px;
        }

        #Imgplay{
            width: 20%;
          
        }
        .App{
            
           padding: 15px;
            width: 25%;
            text-align: justify;
            background-color: white;
            height: 50%;

        }
        #imageApp{
            
            width: 20px;
            height: 20px;
        }

        #butonDiv{
            width: 500px;
            border: none;
        }
        #butonDiv > input {
            border: none;
            padding-left: 10px;
        }
        .available-on{
            margin-top: 2rem;
            font-size: 14px;
            color: gray;
        }

        .main_akki {
            display: flex;
        }

        .p1-text {
            font-size: 14px;
            font-weight: 500;
        }
        .p2-text{
            font-size: 14px;
            font-weight: 300;
        }