@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F3F3F3;
}

.H-Mtext{
    margin-top:12%;
    margin-left: 10%;
    font-size: 12px;
    color: grey;
}

.H-Mtext a {
    color:grey;
    font-weight: 500;
    text-decoration: none;
}

.MyProfile-Container{
    width: 78%;
    margin: auto;
    display: grid;
    grid-template-columns: 26% 72%;
    grid-gap: 2%;
    margin-bottom: 1rem;
}

.Myprofile-navdiv{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 17.6rem;
}

.Myprofile-navdiv > a {
    padding: 0.8rem 0;
    border-bottom: 1px solid lightgray;
    color: rgb(75, 73, 73);
    font-size: 14px;
    text-decoration: none;
}

.Myprofile-navdiv > a:nth-child(3) {
    color: #fc2779;
    border-right: 3px solid #fc2779;
}


#parent_box{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

div.order_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 2%; */
    height: 8rem;
    /* border: 1px solid black; */
    padding: 0 1%;
    background-color: white;
    color: gray;
}

.order_card .img_div{
    border: 1px
     solid #dedddd;
    height: 90%;
    width: 15%;
}

.img_div img{
    width: 100%;
    height: 100%;
}

.order_card .text_div{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    padding: 0 2%;
}

.text_div > p{
    font-size: 1.14rem;
}

.text_div .price_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_div p.quantity_text::before{
    content: "Qty: ";
}

.price_div p.price_text::before{
    content: "\20B9";
}

#parent_box{
    overflow-y: scroll;
}

#parent_box::-webkit-scrollbar {
    display: none;
    width:5px
}
#parent_box:hover::-webkit-scrollbar {
    display: block;
}

#parent_box::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  #parent_box::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  #parent_box::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  