body {
    background-color: #F3F3F3;
}


.H-Mtext{
    margin-top:12%;
    margin-left: 10%;
    font-size: 12px;
    color: grey;
}
.H-Mtext a {
    color:grey;
    font-weight: 500;
}

.MyProfile-Container{
    width: 78%;
    margin: auto;
    display: grid;
    grid-template-columns: 26% 72%;
    grid-gap: 2%;
    margin-bottom: 1rem;
}
.Myprofile-navdiv{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 17.6rem;
}
.Myprofile-navdiv > a {
    padding: 0.8rem 0;
    border-bottom: 1px solid lightgray;
    color: rgb(75, 73, 73);
    font-size: 14px;
}
.Myprofile-navdiv > a:nth-child(1) {
    color: #fc2779;
    border-right: 3px solid #fc2779;
}
.MYPROFILE-BOX{
    display:grid;
    grid-template-rows: 16rem 70%;
}
.MyProBackground{
    background-image: url("https://th.bing.com/th/id/OIP.9TEMyf5nP11PWJh02ZUS8QHaEK?w=310&h=180&c=7&r=0&o=5&pid=1.7");
    background-size: cover;
    padding: 1rem 0rem 2rem;
}
.mainProfile-box{
    background-color: white;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 39% 59%;
    grid-gap: 2%;
    padding: 0.7rem;
}
.Profile-Pic{
    width: 100%;
    border-radius: 50%;
}
.USER-NAME{
    font-size: 1.7rem;
    margin-bottom: 0;
}
.USER-EMAIL {
    font-size: 14px;
    color: grey;
    margin-top: 0;
}
.Email___ {
    font-size: 14px;
    color: grey;
    margin-top: 0;
}
.Address-Container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 3rem 1rem 0 1rem;
    
}
.myaddresses-text {
    font-weight: 500;
    font-size: 1.2rem;
}
.myaddresses-BOx{
    width: 17rem;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(31, 29, 29, 0.5);
    height: 15rem ;
    padding: 1rem;
    overflow: hidden;
}
.Add-New_address{
    color: grey;
    cursor: pointer;
    vertical-align: top;
}
.ShowAddress{
    background-color: #6E7079;
    color: white;
    font-size: 14px;
    padding: 0.2rem;
    display: inline;
}
.NewAddress__Box{
    padding: 2rem;
    width: 30%;
    position: fixed;
    z-index: 1000;
    top:5%;
    z-index: 999;
    background-color: white;
    left:40%;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px rgba(31, 29, 29, 0.5);
    display: none;
}
.Cut-NewAddress__Box{
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}
.NewAddress__Box > label {
    font-size: 12px;
    color: grey;
    margin-top: 1rem;
}
.NewAddress__Box > select {
    border: none;
    border-bottom: 1px solid lightgray;
}
.NewAddress__Box > input{
    border: none;
    border-bottom: 1px solid lightgray;
}
#Address-Textarea{
    height:5rem;
    margin-top: 1.5rem;
}
.NewAddress__Box > span {
    margin-top: 1rem;
    font-size: 12px;
}
.add-address-btn{
    background-color: #fc2779;
    color: white;
    padding: 0.5rem;
    width: 100%;
    outline: none;
    margin-top: 4rem;
}

.Noaddress{
    font-size: 12px;
}

.search-resultbox{
    right: 24.6%;
}