* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
}

/* chatbox */


.explorechatbox{
  width: 25%;
  height: 600px;
  background-color: #ffffff;
  position: absolute;
  z-index: 100;
  top: 100px;
  right: 25px;
  
  position: fixed;
  border-radius: 1.5%;
  display: none;
  
}
.grey{
  background-color:#3b5268 ;
  width: 100%;
  height: 8.5%;
  border-radius: 0.5%;
  color:#ffffff ;
  display: flex;

}
.closeicon{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3b5268 ;
  border: 1px solid red;
 margin-top: 17.5px;
 margin-left: 27%;
}
.cl{
  color: black;
 font-size: 22px;
 margin-top: 1.8%;
 margin-left: 25%;

  font-weight:bolder;
}
.chatbox{
    position: sticky;
  
    position: absolute;
    top: 675px;
    right: 15px;
    z-index: 100;
    background-color:  #fff;
    width: 18%;
    position: fixed;
    box-shadow: 0px 0px 18px rgba(31, 29, 29, 0.5);
}
.arrow{
    top: 600px;
   
    display: none;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    text-align: center;
    position: fixed;
    padding-top:0.8%;
    box-shadow: 0px 0px 18px rgba(31, 29, 29, 0.5);
    z-index: 90;

}
.arrow img{
    max-width: 100%;
    object-fit: cover;
}

/* contain */
.contain{
    display: flex;
    gap: 3%;
    
}
.topimage {
  max-width: 100%;
  margin: 30px auto;
  margin-top: 11rem;
}

.topimage img {
  max-width: 100%;
}

.lownav {
  background-color: #ffffff;
  width: 70%;
  transform: translateX(20%);

  height: 40px;
  display: flex;
  position: sticky;
  z-index: 10;
  top:15%;
}

.link {
  text-align: center;
  width: 30%;
  box-sizing: border-box;
  margin-top: 4px;
  cursor: pointer;

  margin-left: 3%;
}

.link a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 17px;
}
.margind {
  margin-bottom: 0px;
}
.pinkypofeaturebrand {
  font-weight: 400;
  font-size: 15px;
}

.link a:hover {
  color: #e91e63;
  font-weight: 600;
  /* border-bottom: 2px solid #E91E63; */
}

.borderb {
  width: 100%;
  margin: 10px auto;
  background-color: #e91e63;
  display: none;
  height: 3px;
}

.topoffer {
  background-color: #ffffff;
  width: 70%;
  transform: translateX(20%);

  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  gap: 1.3%;
}

.img-1 {
  border-radius: 1%;
}

.img-1:hover {
  box-shadow: 0px 0px 18px rgba(31, 29, 29, 0.5);
}

.img-1 img {
  max-width: 100%;
  border-radius: 1%;
  position: relative;
}

.gridtwo {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  gap: 1.3%;
}

.alloffer {
  background-color: #ffffff;
  width: 70%;
  transform: translateX(20%);

  margin-top: 10px;
}

.img-2 {
  border-radius: 1%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.img-2:hover {
  box-shadow: 0px 0px 18px rgba(31, 29, 29, 0.5);
}

.img-2 img {
  max-width: 100%;
  border-radius: 1%;
  position: relative;
}

.clearance {
  background-color: #ffffff;
  width: 70%;
  transform: translateX(20%);

  margin-top: 150px;
}

.img-3 {
  border-radius: 1%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.img-3:hover {
  box-shadow: 0px 0px 18px rgba(31, 29, 29, 0.5);
}

.img-3 img {
  max-width: 100%;
  border-radius: 1%;
}

.first-foot {
  background-color: #ffffff;
  width: 100%;

  margin-top: 10px;
}

.content-foot {
  background-color: #ffffff;
  width: 70%;
  transform: translateX(20%);

  margin-top: 10px;
}

.pinky {
  color: #fc2779;
  font-weight: 600;
  font-family: sans-serif;
}

