* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
  }
  body {
    background-color: #f3f3f3;
  }
  .nav {
    width: 100%;
  
    background-color: #fff;
    box-sizing: border-box;
  
    display: flex;
    height: 80px;
  }
  .logo {
    width: 20%;
  
    margin-left: 5%;
  }
  
  .option {
    display: flex;
    width: 40%;
  
    margin-left: 5%;
  }
  .login {
    width: 31%;
  
    margin-left: 0.2%;
    color: #3f414d;
    font-size: 16px;
    font-weight: 600;
    overflow-x: hidden;
  }
  .address {
    width: 31%;
    color: black;
    border-bottom: none;
    margin-left: 0.2%;
    font-size: 16px;
    font-weight: 600;
  }
  .payment {
    width: 31%;
    font-size: 16px;
    font-weight: 600;
    margin-left: 0.2%;
    border-bottom: 3px solid #fc2779;
    color: #fc2779;
  }
  .line {
    background-color: #ebebeb;
    height: 60px;
    width: 0.1%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 0px;
  }
  .line2 {
    background-color: #ebebeb;
    height: 60px;
    width: 0.1%;
    margin-top: 2%;
    margin-left: 0px;
  }
  .contain {
    width: 80%;
    transform: translateX(14%);
  }
  
  .smallemail {
    font-size: 14px;
    color: #8c8d94;
    font-weight: 400;
  }
  .newadress {
    width: 22.5%;
    color: #fc2779;
    font-size: 16px;
    font-weight: 600;
    border-right: 4px solid #fc2779;
    height: 7vh;
  }
  .addresstake {
    width: 43%;
    height: 340px;
    margin-left: 1%;
    margin-top: 3.5%;
  }
  .iteambag {
    width: 30%;
    border: 1px solid black;
    margin-left: 1%;
  }
  
  .list {
    width: 100%;
  }
  .paymentmode {
    width: 25%;
    cursor: grab;
  }
  .pinky {
    color: #fc2779;
    font-size: 16px;
    font-weight: 600;
  }
  
  #cd {
    border-right: 4px solid #fc2779;
    color: #fc2779;
  }
  .left {
    width: 30%;
    margin-left: 1%;
    margin-top: 3.5%;
  }
  .hor {
    width: 90%;
    background-color: #ebebeb;
  
    height: 1px;
    margin-top: -1%;
    margin-left: 2%;
    margin-right: 0px;
  }
  input:focus {
    outline: none;
  }
  input {
    border: none;
  }
  #month {
    width: 10%;
    border-bottom: 1px solid #ebebeb;
  }
  #year {
    width: 10%;
    border-bottom: 1px solid #ebebeb;
  }
  #cvv {
    width: 10%;
    border-bottom: 1px solid #ebebeb;
  }
  .cont {
    width: 20%;
    font-size: 12px;
    font-weight: 500;
    color: grey;
  }
  input.largerCheckbox {
    width: 17px;
    height: 17px;
    border: 1px solid #ebebeb;
  }
  
  .che {
    display: flex;
  }
  .text {
    font-size: 16px;
    font-weight: 300;
    margin-top: 0.3%;
    margin-left: 2%;
  }
  #final_payment_text{
    width: 90%;
    background-color: #fc2779;
    color: #fff;
    outline: none;
    border: none;
    height: 8vh;
  }
  .final_ship_address{
    background-color: #F3F3F3;
    padding: 1rem;
  }
  .ship_change{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ship_change > p {
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .change_ {
    color: #fc2779;
    text-decoration: none;
    font-size: 14px;
  }
  .USER_addr{
    margin-top: 1rem;
    font-size: 12px;
  }
  .USER_addr > p {
    margin-bottom: 7px;
  }

  .SUggestion{
    width: 77%;
    margin:2rem auto;
    padding:0.8rem 1rem;
    font-size: 14px;
    background-color: #E0EDFF;
    border: 1px solid rgb(182, 182, 245);
    border-radius: 10px;
  }
  .cir {
    color: blue;
    font-size: 14px;
  }