body {
  background-color: rgb(243, 243, 243);
  font-family: 'Source Sans Pro', Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
}
.zoomer {
  width: 75%;
  transform: translateX(18%);

  margin-top: 1%;
  display: flex;
}

.left {
  width: 40%;

  background-color: #fff;
}

.right {
  width: 60%;
  border-left: 1px solid grey;
  background-color: #fff;
}
.container {
  width: 500px;
  /* border: 2px solid black; */
  position: relative;
  cursor: crosshair;
  margin-left: 10px;
}

.image {
  width: 100%;
  height: auto;
}

.lens {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  /* border: 1px solid blue; */
  /* backdrop-filter: brightness(50%); */
}

.result {
  position: absolute;
  left: calc(100% + 2px);
  top: -39px;
  border: 1px solid rgba(101, 119, 134, 0.22);

  width: 550px;
  height: 550px;
  background-repeat: no-repeat;
}
.taxes {
  color: rgba(0, 19, 37, 0.72);
}
.big-container {
  width: 40%;

  display: flex;
  flex-direction: column;
}
.im-1 {
  width: 49%;
  border: 1px solid #fc2779;
  height: 3.6rem;
  margin-bottom: 0.5rem;
  border-radius: 4%;
}
.double {
  width: 100%;

  display: flex;
  margin-top: 20px;
}
.im-1 img {
  max-width: 100%;
  object-fit: cover;
}
#nana {
  font-weight: 600;
  color: #001325;
}
#st {
  margin-top: -5px;
}
#price {
  font-weight: 700;
  margin-top: 20px;
}
button {
  width: 35%;
  border: 1px solid red;
  height: 7.5vh;
  background-color: #fc2779;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 30px;
}
.adressbag {
  display: flex;
  margin-bottom: 4%;
}
.hori {
  background-color: rgba(101, 119, 134, 0.22);
  width: 1.5%;
  margin-left: 3%;
  margin-top: 2%;
  height: 23vh;
}
.addt {
  margin-top: 4.5%;
  width: 40%;
}
.grey {
  width: 100%;

  height: 6vh;
  background-color: rgba(101, 119, 134, 0.08);
}
.productdesc {
  width: 60%;

  height: 100px;
  transform: translateX(22.5%);
  margin-top: 1%;
}
.pd {
  width: 30%;

  transform: translateX(45%);
  height: 5vh;
  margin-top: 5%;
  font-weight: 400;
}
.imagerone {
  width: 60%;

  height: 3.6rem;
  transform: translateX(22.5%);
  margin-top: -150px;
}
.imagerone img {
  max-width: 100%;
  object-fit: cover;
}
#imagertelle {
  width: 60%;

  transform: translateX(22.5%);
  object-fit: cover;
}
#imagertelle img {
  max-width: 100%;
  height: auto;
}
#imagertelletwo {
  width: 60%;

  transform: translateX(22.5%);
  object-fit: cover;
  margin-top: -50px;
}
#imagertelletwo img {
  max-width: 100%;
  height: auto;
}

.main___text {
  margin-top: 12%;
  margin-left: 10%;
}
.main___text a {
  color: gray;
  font-size: 14px;
}

.getpin {
  color:#fc2779;
}
.forfont {
  font-size: 12px;
}
.second-search{
  padding: 11px 12px;
}
.add_hrt{
  color: #fc2779;
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-left: 90%;
  cursor: pointer;
}