* {
    box-sizing: border-box;
    font-family: "Source Sans Pro", Roboto, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

body{
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#container {
background-color: white;
width:25%;
margin:3rem auto;
padding: 1.2rem 1.8rem;
border-radius: 1rem 1rem 0 0;
line-height: 3rem;
box-shadow: 0 4px 10px 0 rgba(156, 149, 149, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#container p {
    color: rgb(104, 103, 103);
    font-size: 14px;
}
.to-quickly-text{
    line-height: 1.5rem;
    margin: 1.4rem 0;
}

.gift-images-box{
    display: grid;
    grid-template-columns: 25% 40% 25%;
    grid-gap: 5%;

}
.gift-images-box > img {
    width: 100%;
    vertical-align: bottom;
}
.small-signgift{
    margin-top: 2.3rem;
    height: 6rem;
}
.Enter-Emailid{
    background-color: #FC2779;
    color: white;
    width: 100%;
    padding:0.6rem 1.4rem;
    margin-top: 1.7rem;
}
#for-googlebtn{
    width: 100%;
}
#for-googlebtn > div{
    margin-left: 7rem;
    margin-top: 1rem;
}

