
        body{
            background-color: #ffd3e4;
            display: flex;
        }
        .content{
            width: 50%;
            height: 20%;
            margin-left: 50px;
            margin-top: 20%;
           
           
           
        }

        #mblImg{
          width: 150%;
         
        }

        #MblNumb{
            width: 70%;
            height: 50px;
            
        }
        button{
            margin-left: -18%;
            width: 16%;
            height: 18%;
            margin-bottom: -5%;
      
            }
        #div2{
            width: 30%;
            margin-right: 25%;
           
        }
        #div1{
            margin-left:8% ;
            
        }

        #AppDiv{
            display: flex;
            
            margin-top: 3%;
            margin-right: 25%; ;

        }

        #Imgplay{
            width: 20%;
          
        }
        .App{
            margin-left: 5%;
           
            width: 60%;
            text-align: justify;
            background-color: white;
            height: 50%;

        }
        #imageApp{
            width: 30%;
            
        }

        #butonDiv{
            margin-right:  ;
            height:;
            
            
        }