body {
    text-align: center;
    font-family: roboto, sans-serif;
}

img {
    width: 100px;
}

button {
    background-color: green;
    color: white;
    padding: 5px;
    font-size: 16px;
    border-radius: 6px;
}