body {
    padding-top: 96px;
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

img,
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

figure {
    display: block;
}


/* Navigation bar */

#top-header .header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow: visible;
}

header {
    clear: both !important;
}

#top-header .header .bar-loader--top {
    opacity: 0;
}

#top-header .header .f-row.top-row {
    height: 96px;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    transform-origin: 50% 0;
    will-change: margin-top;
    z-index: 1;
}

#top-header .header .f-row {
    display: flex;
}

#top-header .header .header-logo {
    width: 108px;
    margin-left: 24px;
    display: block;
    transition: width 400ms;
}

#top-header .header .btn[data-type="hamburger"] {
    margin-left: 32px;
}

#top-header .btn {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .5px;
    outline: none;
    display: inline-flex;
    background: transparent;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    padding: 8px;
    text-decoration: none;
}

.btn--hamburger img {
    width: 30px;
    height: 26px;
}

#top-header button {
    margin: 0;
}

#top-header .header .f-row.top-row .f-col:nth-of-type(3) {
    flex-grow: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#top-header .header .btn[data-type="search"] {
    font-size: 26px;
    font-weight: normal;
}

#top-header .btn--search {
    position: relative;
}

.btn--search img {
    width: 40px;
}

#top-header .btn--search .line {
    background-color: black;
}

#top-header .btn--search .line {
    width: 50%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform-origin: 50%;
    display: inline-block;
    opacity: 0;
}

#top-header .nav-pipe {
    line-height: 45px;
    font-size: 21px;
    font-weight: 100;
    color: rgb(28, 43, 54);
    margin-left: 26px;
}

#top-header .btn.button {
    position: relative;
    padding-left: 19px;
}

#top-header .btn.client-button span.text {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    letter-spacing: 0;
}

#top-header .client-login-button-text {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    border-radius: 2px;
    font-weight: 500 !important;
    font-size: 16px !important;
    background: transparent;
    color: rgb(28, 43, 54);
    padding: calc(5px) 0px;
    transition: border-color 0.15s ease-in-out 0s;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.search-overlay {
    height: calc(100% - 96px);
    top: 96px;
    position: fixed;
    width: 100%;
    z-index: 11001;
    left: 0;
    visibility: hidden;
    opacity: 0;
}


/* Main Section */
.cards {
    overflow: hidden;
    position: relative;
}

.content {
    margin: 0 auto;
    max-width: 1920px;
    padding: 80px 48px 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.content__wrapper.u-animate {
    opacity: 1;
}

.content__wrapper {
    position: relative;
    padding: 0;
    margin: 0 -48px;
}

.content__canvas {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.content__tease {
    padding: 48px;
    position: relative;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    height: auto;
    opacity: 1;
    transform: translateX(0);
    transition: opacity .5s;
    z-index: 1;
}

.content__section {
    width: 50%;
}

.content__copy-container {
    padding-right: 32px;
}

.content__copy-center {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.sec .content__p,
sec .content__h4 {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}

.white-text p,
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6 {
    color: white !important;
}

.content__h4,
.content__p {
    padding: 0;
    margin: 0 0 40px 0;
}

.sec-large .content__h1 {
    font-size: 76px;
    line-height: 82px;
}

.sec .content__h1 {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

.content__h1 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.sec-large .content__copy {
    font-size: 20px;
    line-height: 30px;
}

.sec .content__copy {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
}

.content__h1+.content__copy {
    margin-top: 24px;
}

.content__copy+.content__button {
    margin-top: 40px;
}

.content__button {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.content__button .content__button-anchor {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

.content__button .content__button-anchor {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.content__button .content__button-anchor {
    position: relative;
    display: flex;
    padding: 12px 24px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.6;
    text-decoration: none;
    transition: background-color .3s;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.content__button .content__anchor-text {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

.content__button .content__anchor-text {
    font-weight: 500;
    line-height: 1.4;
}

.content__image-container {
    position: relative;
    width: auto;
    margin: 0;
    overflow: hidden;
}

.content .content__overlay {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: transparent;
}

.content .content__overlay::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgb(0, 0, 0);
    transition: opacity .3s;
}

.content__image,
.content__caption {
    width: 100%;
    height: auto;
    left: 100vw;
    overflow: hidden;
    transform-origin: center;
}

.sec.container.homepage {
    background-color: #192E47;
    margin: 0;
    width: 100%;
}

body.full-width .container:before,
body.full-width .container:after {
    content: " ";
    display: table;
}



.container .component {
    margin-bottom: 55px;
    margin-top: 120px;
    margin: 0;
    margin-top: -40px;
}

.component>.section-header {
    padding: 0;
}

.section-header--center {
    text-align: center;
}

header {
    height: initial;
    width: initial;
    margin: 0;
}

.sec .component .section-header h2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1px;
}

.sec .component .section-header h2 {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
}

.sec .component .section-header p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
}

.sec .component .section-header p {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
}

.section-header p {
    padding-top: 16px;
}

.section-header--center p {
    max-width: 600px;
}

.section-header--center p {
    margin: 0 auto;
}

.section-header__btn {
    padding-top: 24px;
}

.white-text.sec .component .section-header .section-header__btn a {
    color: white;
}

.sec .component .section-header .section-header__btn a {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 600;
}

.sec .component .section-header .section-header__btn a {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
}

.section-header__btn a {
    cursor: pointer;
}

body.full-width .container:after {
    clear: both;
}

body.full-width .container:before,
body.full-width .container:after {
    content: " ";
    display: table;
}

div.grey {
    background: #f7f7f7;
}

.one-component {
    padding-bottom: 120px;
}

.one-component {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    background-size: cover !important;
    max-width: 1920px;
    margin: 0 auto;
}

.one-component .tabs {
    display: flex;
}

.one-component .tabs {
    justify-content: center;
}

.one-component .tabs .tab {
    border: none;
}

.one-component .tabs .tab,
.one-component .mobile-drawer {
    height: 120px;
    flex: 50;
    text-align: center;
    cursor: pointer;
    background: rgba(99, 151, 217, 0.3);
    transition: background-color .1s ease-in-out;
    mix-blend-mode: normal;
}

.one-component .tabs .tab:first-child span {
    float: right;
}

.one-component .tabs .tab span {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
}

.one-component .tabs .tab span {
    line-height: 120px;
    position: relative;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    width: 100%;
    display: inline-block;
}

.one-component .tabs .tab span::after {
    position: relative;
    left: 10px;
    top: -1px;
    content: "";
    display: inline-block;
    width: 0.35em;
    height: 0.35em;
    border-right: 0.1em solid rgb(255, 255, 255);
    border-top: 0.1em solid rgb(255, 255, 255);
    transform: rotate(45deg);
    margin-right: 0.5em;
    clear: both;
    transition: transform .1s ease-in-out;
    transform-origin: 66% 36%;
}

.one-component .tabs .tab:nth-of-type(2) {
    background: rgba(99, 151, 217, 0.5);
    mix-blend-mode: normal;
}

.one-component .tabs .tab {
    border: none;
}

.one-component .tabs .tab,
.one-component .mobile-drawer {
    height: 120px;
    flex: 50;
    text-align: center;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

.one-component .tabs .tab span {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
}

.one-component .tabs .tab span {
    line-height: 120px;
    position: relative;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    width: 100%;
    display: inline-block;
}

.one-component .tabs-content-view {
    position: relative;
}

.one-component .tabs-content-view .featured-cards .featured-content {
    display: flex;
    flex-flow: row wrap;
    max-width: 1120px;
    margin: 50px auto 0;
}

.one-component .mobile-drawer {
    height: inherit;
    background: none;
}

.one-component .mobile-drawer {
    display: none;
}

.one-component .tabs .tab,
.one-component .mobile-drawer {
    flex: 50;
    text-align: center;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
    mix-blend-mode: normal;
}

.one-component .mobile-drawer span.drawer-text {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
}

.one-component .mobile-drawer span.drawer-text {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 21px;
    color: white;
    font-family: "GoldmanSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: block;
}

.one-component .mobile-drawer .drawer-content {
    display: none;
}

.one-component .mobile-drawer .drawer-content {
    height: 0;
    overflow: hidden;
}

.one-component .tabs-content-view .featured-cards .featured-content .featured-card {
    flex: 50%;
}

.one-component .tabs-content-view .featured-cards .featured-content .featured-card {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.one-component .tabs-content-view .featured-cards .featured-content .featured-card figure.image-content {
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0;
}

.one-component .tabs-content-view .featured-cards .featured-content .featured-card figure.image-content img {
    width: inherit;
}

img {
    border-style: none;
}

.sec .one-component .tabs-content-view .featured-cards .featured-content .featured-card p {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
}

.one-component .tabs-content-view .featured-cards .featured-content .featured-card p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 30px;
    color: white;
    font-weight: 300;
    margin-bottom: 30px;
}

.header-primary__headline__box__btn {
    margin-top: auto;
}

a.header-primary__headline__box__btn__link.gs-btn.gs-btn-white.gs-btn-white-hollow {
    border: 1px solid white;
    text-decoration: none;
    transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

a.gs-btn-white-hollow {
    color: white;
    background: none;
}

.gs-btn-white {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 0 24px;
    min-width: 160px;
    box-sizing: border-box;
    position: relative;
}

.gs-btn,
.gs-btn-white,
.gs-btn-white-hollow {
    overflow: visible;
}

.gs-btn-white:after {
    border-color: #fff;
    color: transparent;
}

.gs-btn:after,
.gs-btn-white:after {
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: transparent;
    border: 1px solid #241d1d;
    top: 0px;
    left: 0px;
    z-index: 0;
    box-sizing: content-box;
    font-weight: bold;
}

.one-component .mobile-drawer {
    height: inherit;
    background: none;
}

.one-component .mobile-drawer {
    display: none;
}

.one-component .tabs .tab,
.one-component .mobile-drawer {
    flex: 50;
    text-align: center;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
    mix-blend-mode: normal;
}

.sec .one-component .mobile-drawer span.drawer-text {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
}

.one-component .mobile-drawer span.drawer-text {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 21px;
    color: white;
    font-weight: 400;
    display: block;
}

.one-component .mobile-drawer .drawer-content {
    display: none;
}

.one-component .mobile-drawer .drawer-content {
    height: 0;
    overflow: hidden;
}

.one-component .tabs-content-view .featured-cards .featured-content .featured-card {
    flex: 50%;
}

.one-component .tabs-content-view .featured-cards .featured-content .featured-card figure.image-content img {
    width: inherit;
}

.content {
    margin: 0 auto;
    max-width: 1920px;
}

.content {
    padding: 80px 48px 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.content[data-scroll-fade="true"] .content__wrapper.u-animate {
    opacity: 1;
}

.content__wrapper {
    position: relative;
    padding: 0;
    margin: 0 -48px;
    background-color: rgb(255, 255, 255);
}

.content__canvas {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.content__tease {
    padding: 48px;
    position: relative;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    height: auto;
    opacity: 1;
    transform: translateX(0);
    transition: opacity .5s;
    z-index: 1;
}

.content__section {
    width: 50%;
}

.content__copy-container {
    padding-right: 32px;
}

.content__copy-center {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.sec .content__p,
sec .content__h4 {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}

.content__p {
    padding: 0;
    margin: 0 0 40px 0;
    color: #504f4f;
    font-weight: normal;
}

.sec .content__h1 {
    font-size: 48px;
    line-height: 52px;
}

.sec .content__h1 {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

.content__h1 {
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.sec .content__copy {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
}

.content__h1+.content__copy {
    margin-top: 24px;
}

.content__copy {
    color: #707070;
    font-weight: normal;
}

p {
    widows: 3;
    orphans: 3;
}

.content__copy+.content__button {
    margin-top: 40px;
}

.content__button {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.sans .content__button .content__button-anchor {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

.content__button .content__button-anchor {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.content__button .content__button-anchor {
    position: relative;
    display: flex;
    padding: 12px 24px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.6;
    text-decoration: none;
    transition: background-color .3s;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.sans .content__button .content__anchor-text {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

.content__button .content__anchor-text {
    font-weight: 500;
    line-height: 1.4;
}

.content__image-container {
    position: relative;
    width: auto;
    margin: 0;
    overflow: hidden;
}

.content .content__overlay {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: transparent;
}

.content .content__overlay::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgb(0, 0, 0);
    transition: opacity .3s;
}

.content__image,
.content__caption {
    width: 100%;
    height: auto;
    left: 100vw;
    overflow: hidden;
    transform-origin: center;
}

.max-width-1920 .content {
    margin: 0 auto;
    max-width: 1920px;
}

.content {
    padding: 80px 48px 0;
}

.background {
    background: transparent !important;
}

.content {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.content[data-scroll-fade="true"] .content__wrapper.u-animate {
    opacity: 1;
}

.content__wrapper {
    position: relative;
    padding: 0;
    margin: 0 -48px;
}

.content__canvas {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.content.u-copy-right .content__tease {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.content__tease {
    padding: 48px;
    position: relative;
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    height: auto;
    opacity: 1;
    transform: translateX(0);
    transition: opacity .5s;
    z-index: 1;
}

.content__section {
    width: 50%;
}

.content.u-copy-right .content__copy-container {
    padding-left: 32px;
}

.content.u-copy-right .content__copy-container {
    padding-right: 0;
}

.content__copy-center {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.sec .content__p,
sec .content__h4 {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}

.content__h4,
.content__p {
    padding: 0;
    margin: 0 0 40px 0;
    font-weight: normal;
}

.sec-large .content__h1 {
    font-size: 76px;
    line-height: 82px;
}

.sec .content__h1 {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

.content__h1 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.sec-large .content__copy {
    font-size: 20px;
    line-height: 30px;
}

.sec .content__copy {
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
}

.content__h1+.content__copy {
    margin-top: 24px;
}

.content__copy+.content__button {
    margin-top: 40px;
}

.content__button {
    display: flex;
    flex-direction: row;
}

.white-cta .content__button .content__button-anchor {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.sans .content__button .content__button-anchor {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

.content__button .content__button-anchor {
    position: relative;
    display: flex;
    padding: 12px 24px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.6;
    text-decoration: none;
    transition: background-color .3s;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.sans .content__button .content__anchor-text {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

.content__button .content__anchor-text {
    font-weight: 500;
    line-height: 1.4;
}

.signup {
    padding: 0 100px;
}

.signup {
    margin: 0;
    box-sizing: border-box;
    background-color: #192e47;
}

.max-width-1920 .signup__wrapper {
    margin: 0 auto;
    max-width: 1920px;
}

.signup__wrapper {
    padding: 120px 0;
    justify-content: space-between;
    display: flex;
}

.signup__h4 {
    padding: 0;
    margin: 0;
    line-height: 1.2;
    font-family: "Basis Grotesque", 'sabonroman', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: none !important;
    color: white;
    font-size: 70px;
}

.signup__highlight {
    color: #5997e9;
}

.signup__wrapper .signup__content {
    margin-left: 110px;
    display: block;
}

.signup__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.signup__box:first-child {
    padding-right: 120px;
    display: flex;
    justify-content: left;
}

.signup__box {
    position: relative;
    width: 100%;
}

.signup__copy {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.signup__copy {
    padding: 0;
    margin: 0;
    text-align: left;
    margin-bottom: 130px;
    color: white;
    line-height: 48px;
    max-width: 760px;
}

.signup__copy {
    font-size: 32px !important;
}

.signup__box:last-child {
    display: flex;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.signup__box {
    position: relative;
    width: 100%;
}

.signup__form {
    position: relative;
    justify-content: center;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    align-self: center;
}

.signup__form-wrapper {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
}

.signup__label {
    font-family: "GoldmanSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.signup__label {
    display: none;
    padding: 0;
    margin: 0;
    color: #707070;
    font-size: 16px;
    line-height: 2;
}

.signup__input-container {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding-bottom: 0px;
    border-bottom: solid 1px #5a7097;
    transition: border-color .3s;
}

.signup__form .signup__input-container .signup__input {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.signup__form .signup__input-container .signup__input {
    -webkit-box-flex: 1;
    flex: 1;
    padding: 0 16px 0 0;
    margin: 0;
    color: white;
    font-size: 31px;
    width: 100%;
    line-height: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

button,
input {
    overflow: visible;
}

.signup__button {
    width: 60px;
    height: auto;
    position: relative;
    display: inline-block;
    padding: 5px 0px;
    color: rgb(255, 255, 255);
    font-family: 'GS_Univers', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
    font-weight: 500;
    overflow: hidden;
    background-color: #2471d6;
}

form button {
    background: #7399c6;
    border: none !important;
    margin: 0;
    cursor: pointer;
}

.signup__button-text {
    font-family: "GoldmanSans", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.signup__button-text {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
}

.signup__icon-wrap {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    display: none;
}

.signup__button-icon {
    display: block;
    color: rgb(255, 255, 255);
    font-family: "Basis Grotesque", 'sabonroman', sans-serif;
    text-decoration: none;
    font-weight: 500;
    transform: translateY(0);
    font-size: 50px;
    line-height: normal;
}

.signup__notification {
    position: relative;
    color: #f60a1a;
    font-size: 12px;
    font-weight: normal;
    opacity: 0;
    transition: opacity .3s;
}

.signup__success-message {
    position: absolute;
}

.signup__success-message-wrapper {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
}

.signup__success-message .signup__success-message-wrapper .signup__box {
    justify-content: flex-start;
}

.signup__success-message-wrapper .signup__box.full-width {
    padding-left: 0px;
}

.signup__success-message-wrapper .signup__box:first-child {
    padding-right: 24px;
}

.signup__box:last-child {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.signup__box.full-width {
    width: 100%;
}

.signup__box {
    position: relative;
}

.signup__success-message-wrapper .signup__h4 {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 1.3;
}

.signup__h4 {
    padding: 0;
    margin: 0;
    font-family: "Basis Grotesque", 'sabonroman', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: none !important;
    color: white;
}

.signup__highlight {
    color: #5997e9;
}

#footer.footer {
    clear: both;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(244, 244, 244);
    font-weight: normal;
    font-size: 14px;
}

#footer .footer__top,
#footer .footer__bottom {
    padding: 0 48px;
}

#footer .footer__top {
    background-color: rgb(244, 244, 244);
}

#footer .footer__top,
#footer .footer__bottom {

    margin: 0;
    overflow: visible;
    border: none;
    clear: none;
}

#footer .footer__top-wrapper {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 85px 0 64px 0;
}

#footer .footer__inline-lists {
    -webkit-box-flex: 1;
    flex: 1;
    padding-right: 40px;
    display: flex;
}

#footer * {
    box-sizing: inherit;
}

.footer__logo-img {
    width: 50%;
    margin-bottom: 75px;
}

#footer .footer__list__first {
    margin-right: 150px;
}

#footer .footer__list,
#footer .footer__list__first {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -24px;
    text-align: left;
    font-size: 14px;
    overflow: visible;
    flex-direction: column;
}

#footer .footer__list-item {
    padding: 0;
    margin: 8px 24px;
    display: block;
    float: none;
    color: rgb(255, 255, 255);
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

#footer .footer__list__first {
    margin-right: 150px;
}

#footer .footer__link,
#top-header .nav-legal__link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 4px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    line-height: 1.6;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

#footer .footer__link::after,
#top-header .nav-legal__link::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    bottom: 0;
}

#footer .footer__list,
#footer .footer__list__first {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -24px;
    text-align: left;
    font-size: 14px;
    overflow: visible;
    flex-direction: column;
}

#footer * {
    box-sizing: inherit;
}

#footer .footer__list__first {
    margin-right: 150px;
}

.footer__bottom {
    padding: 0 48px;
}

.footer__bottom {
    margin: 0;
    overflow: visible;
    border: none;
    clear: none;
}

#footer .footer__bottom-wrapper {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 32px 0;
}

#footer .footer__social-bar {
    -webkit-box-flex: 1;
    flex: 1;
    padding-right: 40px;
}

#footer .footer__social-list {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 0;
    margin: 0 0 0 -4px;
    overflow: visible;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

#footer .footer__social-item {
    position: relative;
    padding: 4px;
    margin-right: 20px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(105, 106, 107);
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

#footer .footer__social-link {
    position: relative;
    display: block;
    color: rgb(105, 106, 107);
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

#footer .footer__icon {
    fill: #999999;
    width: 27px;
    height: 27px;
    transition: all .3s;
}

#footer .footer__copyright {
    color: #999999;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.6;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

#footer .footer__social-item.u-dropdown {
    padding-right: 6px;
}

#footer .footer__social-item.u-dropdown .footer__social-link {
    padding-right: 20px;
}

#footer .footer__social-link {
    position: relative;
    display: block;
    color: rgb(105, 106, 107);
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

#footer .footer__social-dropdown-list {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 140px;
    padding: 12px;
    margin: 0;
    overflow: visible;
    text-align: left;
    background-color: #7399c6;
}

#footer .footer__social-dropdown-list .footer__dropdown-item:not(:last-child) {
    margin-bottom: 0;
}

#footer .footer__dropdown-item {
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

#footer .footer__social-dropdown-list .footer__link {
    padding-bottom: 2px;
    line-height: 1.2;
}

#footer .footer__link,
#top-header .nav-legal__link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}