* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #555;
}

a {
    outline: none;
    /* color: #0000A0; */
}

a{
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/* Navigation */

#header{
    display: block;
    width: 1170px;
}

.content > .container {
    background: #fff;
    border-left: 1px solid #d9dddf;
    border-right: 1px solid #d9dddf;   
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-brand {
    padding-left: 10px;
    height: 70px;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #23527c;
}

.navbar-brand > img{
    height: 40px;
}

.nav-first{
    float: right;
    margin-top: 10px;
}

#menu > div > nav {
    font-size: 1.2em;
    /* margin-bottom: 20px; */
}

#menu nav li {
    height: 47px;
    margin-right: 20px;
}

#menu nav a {
    /* color: #0000a0; */
    color: #777;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-weight: bold;
}

.content > .container {
    background: #fff;
    border-left: 1px solid #d9dddf;
    border-right: 1px solid #d9dddf;
}

#content > div > div {
    padding-top: 20px;
}

#main-banner {
    background: #337ab7;
    color: #eee;
    margin-bottom: 15px;
}

#main-banner h1, #main-banner span {
    color: #fff;
    margin-top: 0px;
}

#main-banner h2 {
    color: #eee;
    margin-top: 10px;
    font-size: 24px;
}

.btn.btn-lg.btn-primary {
    background: white;
    color: #337ab7;
    font-weight: bold;
}

.box{
    padding-top: 0px;
}

.avatar img{
    width: 25px;
    height: 25px;
}

#footer {
    position: relative;
    background: none repeat scroll 0 0 #eee;
    border-left: 1px solid #d9dddf;
    border-right: 1px solid #d9dddf;
    border-bottom: 1px solid #d9dddf;
    padding: 20px;
    color: #8c8e90;
}

#footer a {
    color: #777;
}