

body{
  margin-top: 250px;
  overflow-x: hidden;
}
.space{
  margin-left: 20px
}
.dash{
  text-decoration : line-through;
}
.topcat{
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}
.card22{
  background: #fbe0c4;
}
.card23{
  background: #caf7e3;
}
.ad{
  width: 98%;
}
.c{
  width: 100%
}
.img-responsive{
  width: 100%;
}
.badge {

top: 15px; left: 19px; font-size:13px; position:absolute;
}
.aj{
  width : 100%;
}


.active{
background:rgba(0, 0, 0, 0.178);
}


@media screen and (max-width:991px) {
  .hideInmob{
    display: none;
  }
}