body{
	background-color: #010409;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: #f0f6fc;
}
/* a{
	text-decoration: none;
	background-color: transparent;
} */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header{
	z-index: 32;
	display: flex;
	background-color: #161b22;
	padding: 16px 24px;
	font-size: 14px;
	line-height: 1.5;
	color:  rgba(240, 246, 252, 0.7);
	align-items: center;
}
/* Header Logo CSS */
.a_logo{
	font-weight: 600;
	color: #f0f6fc;
	margin-left: 14px;
	white-space: nowrap;
}
.toggle-button {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 25px;
	height: 18px;
}

.toggle-button .bar {
	height: 2px;
	width: 100%;
	margin-right: 1rem;
	border-radius: 4px;
	background-color: #f0f6fc;
}
.logo{
	font-weight: 600;
	color: #f0f6fc;
	white-space: nowrap;
	display: inline-block;
	overflow: visible  ;
	fill: currentColor;
	vertical-align: middle  ;
	margin-right: 16px;
}
.logo:hover, .logo:focus{
	color: rgba(240, 246, 252, 0.7);
	text-decoration: none;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.navbar-links li a {
	text-decoration: none;
	display: block;
}


/* Header middle section CSS */
.middle_section{
	flex: auto;
	align-self: stretch;
	align-items: center;
	flex-wrap: nowrap;
	display: flex  ;
	margin-top: 0  ;
	margin-right: 16px  ;
	width: 100%  ;
	order: inherit  ;
	flex-direction: row  ;
}
.header_search{
	max-width: 272px;
	transition: .2s ease-in-out;
	transition-property: max-width,padding-bottom,padding-top;
	margin-right: 16px  ;
	margin-bottom: 0  ;
	position: relative  ;
	align-self: auto  ;
	flex: auto  ;
}
.wrapper{
	min-height: 28px;
	width: 100%;
	max-width: 100%;
	font-size: inherit;
	font-weight: 400;
	color: #f0f6fc;
	vertical-align: middle;
	background-color: #0d1117;
	border: 1px solid #30363d;
	box-shadow: none;
	display: flex  ;
	padding: 0  ;
	position: relative  ;
	align-items: center  ;
	justify-content: space-between  ;
	line-height: 20px;
	border-radius: 6px;
	outline: none;
}
.form-control-header{
	min-height: 28px;
	display: table-cell;
	width: 100%;
	padding: 5px 12px;
	font-size: inherit;
	color: inherit;
	background: none;
	border: 0;
	box-shadow: none;
	line-height: 20px;
	vertical-align: middle;
	border-radius: 6px;
	outline: none;
	overflow: visible;
}
.form-control-header::placeholder{
	color: #c9d1d9;
}
.form-control-header:focus{
	border-color: #1f6feb;
	outline: none;
	box-shadow: 0 0 0 3px #0c2d6b;
}


/* Nav CSS */
nav{
	display: flex ;
	align-self: auto ;
	flex-direction: row;
}
.nav_link{
	margin-right: 21px;
	font-weight: 600;
	color: #f0f6fc;
	white-space: nowrap;
	border-color: rgba(255, 255, 255, 1.5)  ;
	padding: 16px -16px  ;
	border-top: 0  ;
	text-decoration: none;
	background-color: transparent;
}
.nav_link:hover, .nav_link:focus{
	color: rgba(240, 246, 252, 0.7);
	text-decoration: none;
}


/* Right section CSS */
.icons{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.parent{
	position: relative;
	left: 40rem;
	display: flex;
	align-self: stretch;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
	margin-right: 16px  ;
	order: inherit  ;
}
.bell{
	display: inline-block;
	overflow: visible  ;
	vertical-align: text-bottom;
	fill: currentColor;
}
.bell:hover, .bell:focus{
	color: rgba(240, 246, 252, 0.7);
	text-decoration: none;
}
summary{
	list-style: none;
	font-weight: 600;
	color: #f0f6fc;
	white-space: nowrap;
	cursor: pointer;
	display: list-item;
}
.dropdown-caret{
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	content: "";
	border-style: solid;
	border-width: 4px 4px 0;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.bell{
		color: rgba(240, 246, 252, 0.7);

}
.dropdown-caret:focus, .dropdown-caret:hover{
	color: rgba(240, 246, 252, 0.7);
	text-decoration: none;
}
.avatar{
	display: inline-block;
	overflow: hidden;
	line-height: 1;
	vertical-align: middle;
	background-color: rgba(240, 246, 252, 0.1);
	flex-shrink: 0;
	box-shadow: 0 0 0 1px rgba(240, 246, 252, 0.1);
	border-radius: 50%  ;
	border-style: none;
}


/* Main CSS */

/* aside CSS */
.aside{
	/* max-width: 300px; */
	border-color: #21262d  ;
	background-color: #0d1117;
	color: #8b949e;
	/* border-bottom: 1px solid #30363d  ; */
	border-right: 1px solid #30363d  ;
	/* width: 25%; */
	height: 100vh;
	overflow-y: scroll;
	font-size: 14px;
	line-height: 21px;
}
.aside p{
	font-size: 12px;
	line-height: 18px;
}
.text{
	font-size: 14px;
	line-height: 20px;
}
.aside > .child{
	position: static;
	width: auto;
	top:  0px;
	left: 0px;
	padding: 0 32px;
	margin-top: 32px;
	margin-bottom: 32px;
	font-size: 14px;
	line-height: 18px;
	color: #c9d1d9;
}
.h2_aside{
	display: flex  ;
	font-size: 14px;
	line-height: 21px;
	margin: 16px 0;
	align-items: center  ;
	justify-content: space-between  ;
	font-weight: 600;
	color: #c9d1d9;
}
.btn{
	padding: 3px 12px;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	background-color: #238636;
	border-color: rgba(240, 246, 252, 0.1);
	box-shadow: 0 0 transparent;
	transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
	transition-property: color,background-color,border-color;
	position: relative;
	display: inline-block;
	font-weight: 500;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: none;
	text-decoration: none;
	border-radius: 6px;
	appearance: none;
}
.btn:hover{
	background-color: #2ea043;
	border-color: rgba(240, 246, 252, 0.1);
}
ul{
	list-style: none  ;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.list-item-div{
	display: flex  ;
	margin-top: 8px  ;
	width: 100%  ;
}
.a-item-div{
	display: flex  ;
	/* margin-top: 16px; */
	font-size: 14px;
	margin-right: 8px  ;
	align-items: center  ;
	color: #efefef;
	text-decoration: none;
}
.a-item-div:hover{
	text-decoration: underline;
}
.show-more{
	text-align: left  ;
	font-size: 12px  ;
	padding: 0 0;
	margin: 16px 0 ;
	width: 100%  ;
	color: #8b949e;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	background-color: transparent;
	appearance:  none;
	border-radius: 0;
	border: none;
	text-transform: none;
}
.show-more:hover{
	color: #58a6ff;
	text-decoration: none;
}


.aside-bottom{
	border-top: 1px solid #30363d;
	font-size: 14px;
	line-height: 21px;
}
.aside-bottom h2{
	font-size: 14px;
	margin: 16px 0;
	line-height: 21px;
}
.aside-bottom-div{
	margin-top: 8px;
	display: flex  ;
	align-items: baseline  ;
}
.aside-bottom-a{
	margin-right: 8px;
	color: #c9d1d9;
	text-decoration: none;
}
.aside-bottom-a:hover{
		text-decoration: underline;
}
.aside-bottom-logo{
	color: #3fb950;
	display: inline-block;
	overflow: visible  ;
	vertical-align: text-bottom;
	fill:  currentColor;
}


.main{
	display: inline-flex;
	padding-right: 32px  ;
	padding-left: 32px  ;
	flex: auto;
}
.main_h2{
	font-weight: 400;
	font-size: 16px;
	padding-top: 16px;
	line-height: 1.5;
	color: #c9d1d9;
}

.card{
	padding-top: 16px;
	padding-bottom: 16px;
	align-items: baseline;
	border-color: #21262d;
	border-bottom: 1px solid #30363d;
}
.card-link{

	/* display: inline-block; */
	font-size: 14px;
	margin: 16px 0;
	word-break: break-all;
	text-decoration: none;
	color: #c9d1d9;
}
.card-link:hover{
	color: #58a6ff;
}
.card-inner-div{
	padding: 16px;
	margin-top: 8px;
	/* margin-left: 32px; */
	color: #8b949e;
	background-color: #0d1117;
	border-color: #30363d;
	border-style: solid;
	font-size: 12px;
	border-width: 1px;
	border-radius: 6px;
}
.user-properties-link{
	text-decoration: none;
		color: #c9d1d9;
}
.user-properties-link:hover{
	color: #58a6ff ;
}
.repos{
	margin-top: 16px;
	font-size: 12px;
}


/* Right aside CSS */
.programming_lang-span{
	font-weight: 400;
	font-size: 12px;
	margin-right: 8px;
	color: #8b949e;
}
.lang_color{
	background-color: #563d7c;
	position: relative;
	top: 1px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid rgba(240, 246, 252, 0.2);
	border-radius: 50%;
}

.explore-more{
	display: block;
	margin-top: 8px;
	text-decoration: none;
	color: #8b949e;
}

.grid-container{
	display: grid;
	grid-template-columns: 25% 50% 25%;
}

@media (max-width: 600px){
	.grid-container{
		display: block;
	}
	.aside{
		height: auto;
	}
	/* header{
		width: 30%;
		margin: 0 auto;
	} */

	.header_search{
		display: none;
	}
	.parent{
		display: none;
	}
	.toggle-button {
		display: flex;
	}
	.navbar-links {
		display: none;
		align-items: flex-start;
	}
	#logo{
		margin-left: 8rem;
	}
	
	.navbar-links ul {
		margin: 4rem 0;
		flex-direction: column;
	}
	
	.navbar-links li {
		text-align: left;
		margin-left: -12rem;
	}
	
	.navbar-links li a {
		padding: 0.7rem 0.8rem;
	}
	
	.navbar-links.active {
		display: flex;
	}
	.user-repos{
		padding-left: 32px;
	}
	
}
