@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;  
}

body{
	/* scroll-snap-type: none; */
	overflow: hidden; 
}

section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #161616;
}

section .circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #e51e2a;
	clip-path: circle(80% at right -20%);
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo{
	position: relative;
	max-width: 150px;
}

header .navigation{
	position: relative;
	display: flex;
}

header .navigation li{
	list-style: none;
}

header .navigation li a{
	display: inline-block;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	margin-left: 40px;
}

header .navigation li a .active{
	display: inline-block;
	color: #fff;
	background: #000000;
	font-weight: 500;
	text-decoration: none;
	margin-left: 0px;
	border-radius: 40px;
	padding: 8px 20px;
	margin-top: -8px;	
}

header .navigation li .active{
	display: inline-block;
	color: #fff;
	background: #000000;
	text-decoration: none;
	margin-left: 0px;
	border-radius: 40px;
	padding: 8px 20px;
	margin-top: -8px;	
}

header .navigation li a:hover{
	background: #000000;
	border-radius: 40px;
	padding: 8px 20px;	
}

.content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .textBox{
	position: relative;
	max-width: 600px;
	margin-right: 20px;
}

.content .textBox h2{
	color: #fff;
	font-size: 3em;
	margin-bottom: 10px;
	line-height: 1.4em;
	font-weight: 700;
}

.content .textBox p{
	color: #fff;
	text-align: justify;
}

.content .textBox a{
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #e51e2a;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}

.content .textBox a:hover{
	background: #222;
}

.sci{
	position: absolute;
	bottom: 40px;
	left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci li{
	list-style: none;
}

.sci li a{
	display: inline-block;
	margin-left: 15px;
	background: #222;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.sci li a:hover{
	background: #e51e2a;
	transform: translateY(-10px);
}

.sci li a img{
	filter: invert(1);
	transform: scale(0.5);
}

/*Slider*/

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;
}

.content .imgBox{
	width: 500px;
	display: flex;
	justify-content: flex-end;
}

.content .imgBox img{
	max-width: 150px;
}

.swiper-slide img{
	position: absolute;
	bottom: 0;
	max-height: 100%;
}


@media (max-width: 991px){
	header{
		padding: 40px;
	}
	section {
		padding: 150px 40px;
	}
	.sci{
		left: 40px;
	}	
	.content{
		flex-direction: column;
	}
	.content .textBox, .content .imgBox{
		max-width: 100%;
	}
	.swiper-slide{
		height: 300px;
	} 
	header .navigation{
		display: none;
	}
	header .navigation.active{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #e51e2a;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}
	header .navigation li a{
		margin: 10px 0;
		font-size: 1.5em;
		font-weight: 300;
	}
	header .navigation li a .active{
		margin: 10px 0;
		font-size: 1.5em;
		font-weight: 300;
	}
	.toggle{
		position: relative;
		width: 30px;
		height: 30px;
		background: url(./images/menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		z-index: 10000;
	}
	.toggle.active{
		position: fixed;
		right: 40px;
		background: url(./images/close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.swiper-container-3d .swiper-slide-shadow-left,
	.swiper-container-3d .swiper-slide-shadow-right{
		background-image: none;
	} 
}