
@import "../colors";
@import "../fonts";

@import "./Navbar.module.scss";

 .SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    position: relative;

    height: 4.6rem;
    width: 40rem;

    padding: 0.5rem;

    & .DropDown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        padding-top: 5rem;

        opacity: 0;

        position: absolute;
        z-index: 1;

        width: calc( 100% );
        height: 0;

        background-color: $primary-color;
        box-shadow: 0 0 2rem black;
        border-radius: 0.5rem;

        transform: translateY(-0.5rem) translateX(0.75rem);
        transition: height 350ms ease;

        & .SearchItem {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            box-sizing: border-box;

            height: 3.5rem;
            width: 95%;

            font-size: $font-size-5;
            color: $text-purple;

            margin: .25rem;
            padding-inline: 1rem;
            border-radius: .5rem;

            transition: background-color 250ms ease;

            &:hover {
                background-color: $terciary-color;
            }

            & .SearchIcon {
                height: 60%;
                margin-right: 1rem;
            }

            & .IconContainer {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 2.5rem;
                height: 2.5rem;

                border-radius: 0.25rem;

                margin-left: auto;
                & .SearchIcon:last-child {
                    background-position: center;

                    width: 2rem;
                    height: 2rem;

                    margin-right: 0;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }





    }

    &.active .DropDown {
        opacity: 1;
        height: calc( 13.5rem + 1px );
    }

    & .SearchContent {
        display: flex;
        flex-direction: row;

        position: relative;
        z-index: 100;

        height: 100%;
        width: 100%;

        transform: translateY(.75rem);
            & .SearchContainer, 
            & input {
                border: none;
                outline: none;
    
                background-color: $search-bar;
                height: 100%;
                width: 90%;

                transform: translateY(-0.75rem) translateX(1rem);
            }
    
            & input {
                height: 100%;
    
                overflow: visible;
    
                padding-block: 0.5rem;
                padding-inline: 1rem;
                font-weight: 700;
    
                color: $text;
    
                border-radius: 0.5rem 0 0 0.5rem;
    
                &:hover {
                    border: 0.2rem solid $search-bar-focus;
                    
                    padding-inline: 0.8rem;
                }

                &:focus {
                    background-color: #000000;
                    border: 0.2rem solid $text-purple;

                    padding-inline: 0.8rem;
                }

                &::placeholder {
                    color: $text-subcolor;
                    font-weight: 700;
                }
            }
    
            & .SearchContainer {
                display: flex;
                justify-content: center;
                align-items: center;
    
                width: 3.4rem;
                background-color: $terciary-color;
    
                border-radius: 0 .5rem .5rem 0;
                border-left: .1rem solid $primary-color;
    
                transition: 250ms ease background-color;
    
                & .Icon {
                    height: 65%;

                    fill: #fff;
                }
    
                &:hover {
                    background-color: $search-bar;
                }
            }

    }


}