@media screen and (min-width: 600px) {
	.mission__container .bottom__content {
		bottom: 15%;
		left: 3rem;
	}

	.header .header__logo a {
		width: 13rem;
	}

	.footer .footer__list {
		width: 90%;
	}
}

@media screen and (min-width: 900px) {
	.mission__container .bottom__content {
		left: 4rem;
		max-width: 600px;
	}

	.mission__container .bottom__content .bottom__content__header {
		font-size: 2.5rem;
		margin: 1rem 0;
	}

	.mission__container .bottom__content .bottom__content__subheader {
		font-size: 1.5rem;
	}

	.footer .footer__list {
		width: 60%;
	}
}

@media screen and (min-width: 1200px) {
	.header__navigation {
		display: flex;
	}

	.mission__container .bottom__content {
		left: 6rem;
	}

	.mission__container .bottom__content .bottom__content__header {
		font-size: 3rem;
	}

	.mission__container .bottom__content .content__button .text {
		padding: 1.5rem 3rem;
	}

	.header {
		height: 6.5rem;
	}

	.header .header__logo {
		flex-grow: 0;
		margin-left: 6rem;
		margin-right: 2rem;
	}

	.header .header__logo a {
		width: 15rem;
	}

	.navigation__menu {
		max-width: 30rem;
	}

	.footer .footer__list {
		width: 50%;
	}
}

@media screen and (min-width: 1600px) {
	.mission__container .bottom__content {
		left: 15rem;
	}

	.header .header__logo {
		margin-left: 15rem;
	}

	.footer .footer__list {
		width: 40%;
	}
}
