@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
@import "./styles/commonstyles.css";
@import "./styles/variable.css";
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}