* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 90px;
    background: transparent;
    display: flex;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin-left: 2rem;
    padding: 0;
    display: flex;

}

nav ul li a {
    line-height: 40px;
    color: rgba(255, 255, 255, 0.71);
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    /* font-weight: bold; */
    margin-top: auto;
}

nav ul li a:hover {
    color: white;
}

.fa {
    margin-left: 49rem;
}

.image {
    display: inline-block;
    width: 13rem;
    background-color: #006FE8;
    border-radius: 4px;
    cursor: pointer;
}

.main{
    position: absolute;
    top: 20%;
  left: 30%;
  height: 13rem;
    width: 45rem;
    text-align: center;
    font-size: 30px;
    color: white;
}

span{
    color: aliceblue;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 0.5em;
    margin-left: 80px;
}

.swiper {
    width: 100%;
    height: 100%;
    /* z-index: 1000; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(187, 27, 27);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* width: 1rem; */
    border-radius: 5px;
    margin-left: 50px;
    transition: transform .3s;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.swiper-slide:hover {
    transform: scale(1.3);
    cursor: pointer;
  }

.one {
    height: 22rem;
    margin-top: 40%;
}
.two {
    height: 12rem;
    margin-top: 5%;
}
.three {
    height: 12rem;
    margin-top: 5%;
}
.four {
    height: 12rem;
    margin-top: 5%;
    margin-bottom: 30rem;
}

#foot{
    position: fixed;
   left: 0;
   bottom: 0;
   height: 23rem;
   width: 100%;
   background-color: hsl(0, 0%, 0%);
   color: white;
   /* text-align: center; */
   /* margin-top: 10rem; */
   z-index: 1000;
}
#footer-main {
    background-color: #f8f8f8;
    border: solid 1px #333;
    padding: 60px;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 30px auto;
    max-width: 100%;
    padding-left: 180px;
  }

  .footer-grid img{
      width: 60px;
  }

  .footer-4 img{
   width: 120px;
    display: flex;
    flex-direction: row;
  }

  .heki{
      height: 80vh;
      background-color: #000000;
  }