.home {
  max-width: 1500px;
  margin: 0 auto;
    &__hero {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    margin: -1rem auto -3rem auto;
    @include breakpoint(m) {
      margin: -1rem auto -16rem auto;
    }
  }

  &__content {
      margin: 0 1rem;
  }
}


.carousel-control-next-icon, .carousel-control-prev-icon {
  position: absolute;
  top:7rem;
  width: 32px !important;
  height: 32px !important;
}
