*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    height: 100%;
    background: linear-gradient(
        to right,
        #e04f22 50%,
        #d3e6c0 50%
    ) fixed;
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
    
    
}
.container{
    background-color: #eed7d7;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
    border: .1px solid #5e1a05;

    background: linear-gradient(
        to right,
        #ebdbd6 50%,
        #d0e1ea 50%
    ) fixed;
}
.stats{
    text-align: right;
    color: #020222;
    font-weight: 500;
    line-height: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 145px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
.buttons{
    display: flex;
    justify-content: center;
}
button{
    width: 120px;
    padding: 10px 0;
    border: 2.5px solid #631b05;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background-color: #e04f22;
    color: #ffffff;
}
#flip-button:disabled{
    background-color: #e04f22;
    border-color: #e1e0ee;
    color: #101020;
}
#reset-button{
    background-color: #e04f22;
    color: #f6f6f8;
}