body {
    font-family: "Soleil", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 22px;
    padding-top: 80px;
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none !important;
    padding: 0;
}

p,
ul,
ol,
table {
    font-family: "Soleil", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 21px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    transition: all .5s;
}

.header .inner-header {
    background: #fff;
    z-index: 997;
}

.header .inner-header .row {
    align-items: center;
    display: flex;
    height: 80px;
    padding: 0 40px;
    position: relative;
}

.row {
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 40px;
}

.header .header-logo {
    display: inline-block;
}

.header .header-logo a {
    display: block;
    width: 177px;
    height: 40px;
    background-size: contain;
}

.header .header-nav-1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 24px;
    margin-left: 50px;
}

.header .header-nav-1 li:first-child {
    margin-left: 0;
}

.header .header-nav-1 li {
    display: inline-block;
    margin-left: 28px;
    padding-bottom: 24px;
    position: relative;
}

.header .header-nav-1 li>a {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.header .header-nav-1 .arrow {
    display: inline-block;
    border-top: 4px solid #000;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin-left: 5px;
    vertical-align: middle;
}

.header .header-nav-2 {
    display: inline-block;
    margin-left: auto;
}

.header .header-nav-2 li:first-child {
    margin-left: 0;
}

.header .header-nav-2 li {
    font-family: "Soleil", Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    vertical-align: middle;
}

.header .header-btn,
.header a:link.header-btn,
.header a:visited.header-btn {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    display: inline-block;
    height: 40px;
    min-width: 120px;
    font-size: 14px;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5px;
    color: #00a82d;
    border-radius: 3px;
    border: 2px solid #00a82d;
    padding: 0 10px;
    transition: .3s border ease-in-out, .3s color ease-in-out;
    -webkit-font-smoothing: antialiased;
}

/* Section-1  */
.section-1 {
    padding-top: 60px;
}

.section-1 .row {
    padding: 0;
}

.section-1 .inner-row {
    text-align: center;
}

.section-1 .inner-row .sec-1-1 {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.section-1 .inner-row .sec-1-1 h1 {
    padding-bottom: 10px;
}

h1 {
    font-family: "Soleil_Medium", Helvetica, Arial, sans-serif;
    font-size: 56px;
    line-height: 150%;
}

.section-1 .inner-row .sec-1-1 h5 {
    padding-bottom: 30px;
}

h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.section-1 .inner-row .cta {
    padding-bottom: 20px;
}

.section-1 .inner-row .button-primary,
.section-1 .inner-row a:link.button-primary,
.section-1 .inner-row a:visited.button-primary {
    font-size: 16px;
    padding: 16px 80px;
}

.button-primary,
a:link.button-primary,
a:visited.button-primary {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    background: #00a82d;
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1;
    padding: 18px 32px 17px;
    text-align: center;
    text-decoration: none;
}

.section-1 .inner-row .login-p {
    font-size: 18px;
    text-decoration: underline;
}

.section-1 .sec-1-2 {
    display: flex;
}

.section-1 .sec-1-2-img {
    width: 84%;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.section-1 .sec-1-2 .sec-1-2-img img {
    width: 100%;
}

.section-1 .sec-1-2-img img {
    height: auto;
    max-width: 100%;
    width: auto;
}

.section-1 .sec-1-2-div {
    width: 16%;
    min-width: 240px;
    display: flex;
    align-items: center;
}

.section-1 .sec-1-2-texts {
    text-align: left;
}

.section-1 .sec-1-2-texts .sec-1-2-text {
    padding-bottom: 20px;
}

.section-1 .sec-1-2-texts .sec-1-2-title-p {
    padding-bottom: 10px;
}

.sec-1-2-title-p {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 150%;
    font-weight: 700;
}

.p-small {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 150%;
}

/* Section-2 */
.section-2 .row {
    padding: 60px 10px 60px 10px;
}

.section-2 .inner-row {
    text-align: center;
}

.section-2 .inner-row .sec-2-1 {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.section-2 .inner-row .sec-2-1 h2 {
    padding-bottom: 10px;
}

h2 {
    font-family: "Soleil_Medium", Helvetica, Arial, sans-serif;
    font-size: 44px;
    line-height: 150%;
}

.section-2 .inner-row .sec-2-1 h5 {
    padding-bottom: 30px;
}

.section-2 .inner-row .sec-2-2 {
    max-width: 962px;
    margin: 0 auto;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000;
    transition: .1s color ease-in-out;
}

.section-2 .inner-row .sec-2-2 img {
    width: 100%;
}

/* Section -3 */
.section-3 {
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 64px 0;
}

.section-3 .sec-3-img {
    display: block;
    margin: 0 auto 40px;
    width: 28px;
}

.section-3 .sec-3-img img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
}

.sec-3-1 {
    min-height: 226px;
}

.sec-3-2 {
    margin-top: 60px;
}

.section-3 .sec-3-quote {
    color: #000;
    font-size: 24px;
    letter-spacing: .5px;
    line-height: 1.67;
    margin: 0 auto 40px;
    max-width: 100%;
    text-align: center;
    width: 925px;
}

.section-3 .sec-3-company {
    font-size: 24px;
    margin: 0 auto 80px;
    text-align: center;
}

.section-3 .sec-3-slides {
    align-items: center;
    display: flex;
    justify-content: space-around;
    user-select: none;
    width: 100%;
}

.section-3 .sec-3-slides .logo {
    cursor: pointer;
    flex: 1;
    max-width: 150px;
    opacity: .25;
    transition: 130ms opacity linear;
}

.section-3 .sec-3-slides .logo:hover,
.section-3 .sec-3-slides .logo.active {
    opacity: 1;
}

.section-3 .sec-3-slides .logo img[alt=Forbes] {
    max-width: 110px;
}

.section-3 .sec-3-slides .logo img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/* .section-3 .sec-3-ul {
    display: none;
    list-style-type: none;
    margin: 40px 0 0;
    padding: 0;
}

.section-3 .sec-3-ul li {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
} */

/* Section - 4 */
.section-4{
    margin-top: -5rem;
}

.sec-4.solutions {
    margin-left: 0;
    margin-right: 0;
}

.sec-4.solutions {
    padding: 100px 0;
}

.sec-4 {
    margin: 0 -40px;
}

.sec-4.stacked-card-list .card {
    float: none;
    margin-bottom: 100px;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
}

.sec-4.image-left-odd .card:nth-child(odd) .image {
    float: right;
}

.sec-4.stacked-card-list .card .image {
    float: left;
    width: calc(50% - 50px);
}

.sec-4 .card .image {
    text-align: center;
}

.sec-4 .card .image img {
    display: inline-block;
    max-height: 360px;
    max-width: 100%;
}

.sec-4.image-left-odd .card:nth-child(odd) .info {
    float: left;
}

.sec-4.stacked-card-list .card .image+.info {
    margin-top: 0;
}

.sec-4.stacked-card-list .card .info {
    float: right;
    width: calc(50% - 50px);
}

.sec-4 .card .image+.info {
    margin-top: 20px;
}

.sec-4 .card .sec-4-image {
    max-height: 60px;
    max-width: 60px;
}

.sec-4.solutions .card .info .heading {
    color: #00a82d;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 150%;
    margin: 10px 0;
}

.sec-4.solutions .card .info .heading {
    color: #000;
    font-size: 36px;
}

.stacked-card-list .cards .card:nth-child(1) .inner-row {
    max-width: 430px;
}

.sec-4.solutions .card .info .inner-row {
    color: #24292f;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 150%;
}

.stacked-card-list .cards .card .buttons {
    margin-top: 10px;
}

.sec-4 .card .buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}

.sec-4 .card .buttons .cta {
    margin: 0 10px;
}

.sec-4.solutions .card .info .button {
    color: #00a82d;
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.stacked-card-list .cards .card .buttons .button {
    letter-spacing: 1px;
}

.sec-4 .card .buttons .button.green {
    color: #00a82d;
}

.sec-4.image-left-odd .card:nth-child(even) .info {
    float: right;
}

/* Section-5 */
.section-5{
    margin-top: 85rem;
}

.section-5 .sec-5-1 {
    margin-bottom: 60px;
}

.section-5 .sec-5-1 .heading {
    max-width: 912px;
    margin: 0 auto;
    margin-bottom: 14px;
    text-align: center;
}

.section-5 .sec-5-1 .heading h3 {
    line-height: 150%;
}

.section-5 .sec-5-1 .heading h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section-5 .sec-5-1 .description {
    font-size: 24px;
    line-height: 150%;
}

.section-5 .sec-5-1 .sec-5-text {
    text-align: center;
}

.section-5 .sec-5-1 .sec-5-text a,
.section-5 .sec-5-1 .sec-5-text span {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    color: #00a82d;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.section-5 .sec-5-2 {
    margin-bottom: 40px;
}

.section-5 .sec-5-2 .sec-5-2-div {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.section-5 .sec-5-2 .sec-5-2-div .sec-5-2-item:first-child {
    margin-left: 0;
}

.section-5 .sec-5-2 .sec-5-2-div .sec-5-2-item {
    background-color: #f8f8f8;
    border-radius: 10px;
    display: flex;
    flex: 1 1 30%;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    outline: none;
    padding: 30px 30px 16px;
}

.section-5 .sec-5-2 .sec-5-2-div .sec-5-2-item .price {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.section-5 .sec-5-2 .sec-5-2-div .sec-5-2-item .price.sec-5-monthly .sec-5-price {
    font-family: "Soleil_Medium", Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 150%;
    text-transform: none;
}

.section-5 .sec-5-2 .sec-5-2-div .sec-5-2-item .note {
    font-family: "Soleil_Medium", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.section-5 .sec-5-2 .sec-5-2-div .sec-5-2-item .sec-5-list {
    flex-grow: 1;
}

.section-5 .sec-5-2 .sec-5-2-div .sec-5-2-item .sec-5-list .feature {
    display: flex;
    font-size: 16px;
    list-style: none;
    margin-bottom: 16px;
}

.section-5 .sec-5-2 .sec-5-2-div .sec-5-2-item .sec-5-list .feature .sec-5-tick-icon {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    width: 18px;
}

.section-5 .sec-5-2 .sec-5-2-div .sec-5-2-item .sec-5-list .feature .sec-5-icon-text {
    font-family: inherit;
    letter-spacing: 1px;
}

.section-5 .sec-5-3-btn {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 44px;
    min-height: 44px;
    text-align: center;
    width: 100%;
}

.section-5 .sec-5-3 .sec-5-3-div {
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    max-width: 854px;
    padding: 20px;
}

.section-5 .sec-5-3 .sec-5-3-div .sec-5-3-title {
    font-size: 24px;
}

.section-5 .sec-5-3 .sec-5-3-div .price {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 60px;
    text-transform: uppercase;
}

.section-5 .sec-5-3 .sec-5-3-div .note {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 150%;
    margin-top: 15px;
}

.section-5 .sec-5-3 .sec-5-3-div .sec-5-3-icon .navigate-icon.desktop-only {
    float: right;
    margin-top: 20px;
}

.section-5 .sec-5-3 .sec-5-3-div .sec-5-3-cta {
    display: none;
    margin-top: 15px;
}

.section-5 .sec-5-3 .sec-5-3-div .sec-5-3-cta .sec-5-3-btn {
    background-color: #00a82d;
    color: #fff;
}

/* Footer */
.footer {
    font-family: "Soleil", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 14px;
    padding: 80px 20px;
    position: relative;
}

.footer .inner-footer .foot-1 {
    margin-bottom: 100px;
}

.footer .inner-footer .foot-2 {
    font-size: 12px;
}

.footer .inner-footer  .row.footer-logo {
    border-bottom: 3px solid #000;
    margin-bottom: 48px;
    padding-bottom: 48px;
}

.footer .inner-footer  .row {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.footer .inner-footer  .row.footer-logo .logo {
    background-image: url(img/footer-logo.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 40px;
    width: 170px;
}

.footer .inner-footer  .row.footer-flex {
    display: flex;
}

.footer .foot-sec {
    display: block;
    flex: 1 1 16.666%;
    max-width: 16.666%;
}

.footer .foot-sec-head {
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 900;
}

.footer .foot-sec ul {
    list-style-type: none;
}

.footer .foot-sec li {
    line-height: normal;
    margin: 28px 0;
}

.footer .foot-sec a {
    font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
    position: relative;
}

.footer a:link,
.footer a:visited {
    color: #000;
    text-decoration: none;
    transition: .1s color ease-in-out;
}

.footer .inner-footer  .row.foot-social-div {
    border-bottom: 1px solid rgba(136, 139, 141, .5);
    margin-bottom: 35px;
    padding-bottom: 35px;
}

.footer .foot-social-select {
    float: left;
}

.footer .language-selector-toggle {
    color: #000;
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 900;
}

.footer .foot-social-select .current-language {
    display: inline-block;
    font-family: "Soleil", Helvetica, Arial, sans-serif;
    margin-left: 0.5em;
    font-weight: 100;
}

.footer .language-selector-toggle .arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000;
    display: inline-block;
    margin-left: 7px;
    position: relative;
    top: -2px;
    transition: .1s border ease-in-out;
}

.footer .foot-legal {
    font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
    color: #888b8d;
}

.footer .foot-legal .foot-p {
    float: left;
}

.footer .foot-legal .foot-ul {
    float: right;
    list-style-type: none;
}

.footer .foot-legal .foot-ul li:first-child {
    margin-left: 0;
}

.footer .foot-legal .foot-ul li {
    display: inline-block;
    margin-left: 30px;
}

.footer .foot-legal a:link,
.footer .foot-legal a:visited {
    color: #888b8d;
}