.announcement {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #adadad;
    margin-bottom: 20px;
  }
  
  .announcement__informationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .announcement__infoSection {
    display: flex;
    align-items: center;
  }
  
  .announcement__nameAndDate {
    margin-left: 10px;
  }
  
  .announcement__name {
    font-weight: 600;
  }
  
  .announcement__date {
    color: #424242;
    font-size: 14px;
    margin-top: 2px;
  }
  
  .announcement__imageContainer > img {
    height: 50px;
    width: 50px;
    border-radius: 9999px;
  }
  
  .announcement__content {
    margin-top: 15px;
  }