* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

nav li, nav div, nav img, .main-nav-options ul,  #main-nav-search {
	display: inline-block;
}

#main-nav {
	font-family: Arial;
	font-weight: bold;
	font-size: 0.8em;
	max-width: 978px;
	margin: 0 auto;
}

img#bbc-logo {
	width: 85px;
	padding-bottom: 5px;
	position: relative;
	top: -2px;
}

div#sign-in {
	margin: 0px 70px 0px 5px;
	padding: 10px 0px 0px 10px;
	border-left: solid 1px #E4E4E4;
}

div#sign-in img {
	float: left;
	padding-bottom: 10px;
}

div#sign-in p {
	float: left;
	padding: 5px 0px 0px 5px;
}

div.main-nav-options {
	padding-top: 0px;
}

div.main-nav-options ul {
	float: left;
}

li.main-nav-options-item {
	padding: 10px 10px 10px 10px;
	border-left: solid 1px #E4E4E4;
}

img#bell {
	position: relative;
	top: 5px;
}

img#down-arrow {
	margin-left: 30px;
}

div#main-nav-search {
	float: left;
	margin: 15px 0px 0px 0px;
	position: relative;
	left: 31px;
	bottom: 4px;
}

div#main-nav-search, input {
	background-color: #E4E4E4;
	outline: none;
	border: solid 1px #E4E4E4;
	font-weight: bold;
	color: black;
}

div#main-nav-search img {
	margin: 2px 2px -4px 0px;
}

/*Red header*/

#news-section-nav {
	background-color: #A91717;
}

#news-section-nav ul {
	max-width: 978px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#news-section-nav li {
	font-size: 0.9em;
	color: #fff;
	margin: 5px 8px 5px 0px;
	padding: 2px 0px 2px 11px;
	border-left: solid 1px #BB4545;
}

#news-section-nav li:first-child {
	padding-left: 0;
	border-left: none;
}

#news-section-nav li: hover {
	border-bottom: solid 4px #fff;
}

div#news-section-header {
	font-family: 'Arial', sans-serif;
	background-color: #BB1919;
}

div#news-section-title {
	max-width: 978px;
	margin-left: auto;
	margin-right: auto;
	padding: 7px 0px;
	height: 57px;
	color: #fff;
}

div#news-section-title h1 {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	letter-spacing: 2px;
	float: left;
}

div#local-news {
	float: right;
	border: solid 1px #BB4545;
	padding: 5px 8px 5px 8px;
	position: relative;
	top: 5px;
}

div#local-news a {
	text-decoration: none;
	font-size: 1.2em;
	color: #fff;
}

/*Content*/

#content-wrapper {
	max-width: 978px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Arial', sans-serif;
}

/*Main news*/

div#main-news-wrapper { 
	width: 65%;
	float: left;
}

div#main-news-wrapper h3 {  /*section title: Technology*/
	padding-top: 10px;
	margin-bottom: 20px;
	font-size: 1.25em;
	color: #404040;
}

div#main-news-wrapper h3 u {
    text-decoration: none;
    border-bottom: 3px solid #BB1919;
}

article#top-story {
	height: 300px;
}

article#top-story h1 {
	font-size: 1.95em;
	font-weight: bold;
	color: #222222;
	padding-top: 10px;
	padding-bottom: 20px;
}

article#top-story img {
	float: right;
	width: 400px;
	height: 223px;
	padding-left: 15px;

}

article#top-story p {
	width: 230px;
	font-size: 0.9em;
	line-height: 1.25em;
	color: #5A5A5A;
}

.article-date {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.8em !important;
	line-height: 20px;
	color: #5A5A5A;
}

.article-date img {
	padding-right: 4px;
	position: relative;
	bottom: -2px;
}

.article-date span {
	color: #BB1919 !important;
}

svg#red-line {
	display: block;
	padding-bottom: 10px;
}

a.related-article-link {
	font-size: 0.9em;
	color: #000;
	text-decoration: none;
	padding-bottom: 15px;
}

a.related-article-link:hover {
	color: #1167A8;
}

/*Other stories below top story*/

div#more-top-stories {   /*wraps section below top story*/
	padding-top: 15px;
	border-top: solid 1px #DBDBDB;
	position: relative;
	display: block;
}

div#column-stories {    /*wraps 2 column stories within more-top-stories*/
	float: left;
	width: 72%;
}

article.other-story {
	float: left;
	width: 46.5%;
	padding: 0px 15px 8px 0px;
	margin-left: 0;
	margin-right: 15px;
	border-right: solid 1px #DBDBDB;
}

article.other-story img {
	width: 100%;
	padding-bottom: 4px;
}

article.other-story h5 {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2em;
	padding-bottom: 8px;
}

article.other-story p {
	font-size: 0.9em;
	line-height: 1.25em;
	color: #5A5A5A;
}

aside#more-stories {
	float: left;
	width: 26%;
}

article.other-headline {
	margin-bottom: 8px;
	border-bottom: solid 1px #DBDBDB;
}

article.other-headline:last-of-type {
	border-bottom: none;
}

article.other-headline h5 {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.1em;
}

/*right-hand video section*/

aside#watch-listen {
	width: 30%;
	float: left;
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #DBDBDB;
	position: relative;
	top: 70px;
	height: 640px;
}

aside#watch-listen h2 {
	font-size: 1.47em;
	color: #404040;
	padding-bottom: 20px;
}

article.featured-video {
	display: block;
	height: 93px;
	width: 300px;
	position: relative;
}

img.video-thumbnail {
	float: left;
	padding-right: 10px;
}

article.featured-video h5 {
	padding-top: 4px;
	font-family: 'Arial', sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #404040;
}

/*article.featured-video p {
	display: block;
	color: #5A5A5A;
	line-height: 1.3em;
}*/