body{
    margin-top:20px;
}
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}

/* navbar section */
.navbar {
    padding: 1.1rem 0 !important;
    background-color: var(--dark-light);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark-light);
  }
  
  .logo {
    font-weight: bold;
    color: white;
    display: flex;
    text-decoration: none;
  }
  .logo img {
    width: 60px;
    height: 60px;
  }
  .logo span {
    font-size: 3rem;
    font-family: "Dongle", sans-serif;
  }
  .toggle-button {
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    display: none;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    margin-right: 3rem;
    border-radius: 5px;
    background-color: var(--lighter);
  }
  li {
    transition: all 0.3s ease-in-out;
    list-style: none;
  }
  .navbar-links ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: var(--bradius);
    margin-bottom: unset;
  }
  .navbar-links a {
    transition: all 0.3s ease-in-out;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    color: white;
    margin-right: 0.7rem;
    border-radius: var(--bradius);
    /* float: left; */
    text-decoration: none;
  }
  
  .navbar-links a .symbol {
    display: none;
  }
  
  a:focus, a:visited{
      outline: none;
  }
  
  .navbar-links a:hover{
      transition: all .3s ease 0s;
      background: #0ba9da; 
      box-shadow: 0px 0px 30px -10px rgba(255,255,255,1);
      color: white;
  }
  @media (max-width: 882px) {
    .toggle-button {
      display: flex;
    }
  
    .navbar-links {
      display: none;
      align-items: flex-start;
      position: absolute;
      top: 5.5rem;
      left: 0;
      right: 0;
      background-color: inherit;
      animation: loading 0.6s linear;
    }
  
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .navbar-links li {
      text-align: center;
      margin: 1rem 0;
    }
    
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-links a {
      padding: 0.7rem 0.9rem;
    }
  
    .navbar {
      /* flex-direction: column; */
      width: 100%;
      justify-content: center;
      justify-content: space-between;
      font-size: 1.2rem;
    }
  }

  .nav-links li span {
    font-size: 2rem;
    font-family: "Dongle", sans-serif;
  }
  /* navbar ends */


.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}

/* ASK QUESTION */

.ask.input-container {
    margin: auto;
    display: block;
    width: 70%;
}

.ask.input-container input {
    width: 100%;
    margin-bottom: 20px;
}

/* footer section start */
footer {
    background-color: black;
    color: white;
    padding: 2rem 0;
}
.footer {
    /* display: grid;
    grid-template-columns:1.5fr 1fr 1fr ;
    gap: 1.5rem; */
    padding: 40px 10%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.footer h3 img {
    width: 44px;
    position: relative;
    top: 12px;
}
.footer .site {
    width: 37%;
}
.footer h3 {
    font-size: 1.6rem;
}
.fot-logo{
    display: flex;
    align-items: baseline;
    
}
.menu {
    height: 100%;
    justify-content: space-around;
}
.menu ul {
    margin-top: 1rem;
}
.menu a {
    transition: .3s all ease-in-out;
    color: grey;
    width: 100%;
}
.menu li {
    margin:.5rem 0 ;
}
.menu a:hover {
    transition: .3s all ease-in-out;
    margin-left: .4rem;
    color: var(--lighter);
}
.follow {
    height: 5rem;
    display: flex;
    flex-direction: column;
}
.icon-div {
    display: flex;
    gap: 20px;
}
.icon {
    transition: .3s all ease-in-out;
    border: 0px  ;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover {
    transition: .3s all ease-in-out;
    transform: scale(1.2);
    background-color: var(--light);
    border: 1px solid var(--light);
}
/* footer  section end */



/*media query*/
@media only screen and (max-width: 768px) {
    .nav-links {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        
    }

    .nav-links.active {
        left: 0;
    }

    .nav-item {
        background-color: var(--dark-light);
        margin: 2.5rem 0;
        width: 40%;
        height: 2em;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}