.register {
  padding: 2rem;
  background-color: #fff;

  &__form {
    border: 1px solid #dddddd;
    border-radius: 0.2rem;
    width: 30%;
    min-width: 25rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;

    &--title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &--label {
      font-weight: bold;
      font-size: medium;
    }
    &--button {
      background-color: $button-color !important;
      border: 1px solid $button-border !important;
      color: $primary-color-light !important;
    }
    &--footer{
        font-size: smaller;
        margin: 1rem auto;

        &  span {
            font-weight: bold;
        } 
    }
  }
}
