body {
    padding-top: 65px;
    color: #424242;
    min-width: 350px;
    margin: auto;
}

html,
body {
    font-family: "Inter", serif;
    font-size: 16px;
    width: 100%;
    line-height: 1.7;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Navigation bar */
.navbar {
    top: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
    box-sizing: border-box;
    perspective: none;
    padding: 5px 0px;
}

.navbar .nav-container {
    padding: 0;
}

.nav-container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav--container {
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}

.img-sec {
    box-sizing: border-box;
    flex: 0 1 auto;
    position: relative;
    flex-basis: 39.3333333333%;
    width: 39.3333333333%;
}

.navbar a {
    font-weight: 400;
}

a {
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
}

.navbar .logo-img {
    max-height: 17px;
    vertical-align: middle;
    position: relative;
    top: 18px;
}

img {
    max-width: 100%;
    border-style: none;
}

.nav-bar-link {
    flex-basis: 56.6666666667%;
    width: 56.6666666667%;
    box-sizing: border-box;
    flex: 0 1 auto;
}

.nav-link {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

.nav-link li {
    display: inline;
}

.nav-link li a {
    color: #666;
    font-size: 0.9rem;
    transition: color 0.3s;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

.navbar a {
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Main */
section:first-child {
    padding-top: 100px;
    padding-bottom: 100px;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

.text-center {
    text-align: center;
}

.container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

section {
    padding: 80px 0 0 0;
}

section:first-child h1, section:first-child h2 {
    margin-bottom: 0;
}

h1 {
    font-size: 2.75rem;
    line-height: 1.25;
    margin: 0.67em 0;
}

section:first-child h5 {
    margin-top: 10px;
}

h5 {
    font-size: 1.25rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.v-align {
    align-items: center;
    display: flex;
}

.between {
    justify-content: space-between;
}

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}

.column:first-child, .columns:first-child {
    margin-left: 0;
}

.sevens {
    flex-basis: 56.6666666667%;
    width: 56.6666666667%;
}

.columns, .column {
    box-sizing: border-box;
    flex: 0 1 auto;
}

a {
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
}

a {
    background-color: transparent;
}

img {
    max-width: 100%;
    border-style: none;
}

.fours {
    flex-basis: 30.6666666667%;
    width: 30.6666666667%;
}

.columns, .column {
    box-sizing: border-box;
    flex: 0 1 auto;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
}

a {
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
}

a {
    background-color: transparent;
}

.kite-mobile-links {
    margin-top: 25px;
}

.kite-mobile-links a:first-child {
    margin-right: 15px;
}

.products-section .kite-mobile-links a:first-child img {
    height: 45px;
}

.products-section .kite-mobile-links a:last-child img {
    height: 45px;
}

.center {
    justify-content: center;
    text-align: center;
}

#partner_products a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #424242;
}

#partner_products .rows {
    margin-top: 40px;
}

#partner_products a img {
    height: 55px;
}

.text-light-grey {
    color: #9b9b9b;
}

.text-12 {
    font-size: 0.75rem;
}

section:last-child {
    padding-bottom: 80px;
}

.kite-sections {
    padding: 40px 0;
}

.kite-sections .mini-container a {
    margin-top: 20px;
}

button, .button {
    background-color: #387ed1;
    color: #fff;
    border: 1px solid transparent !important;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
}

/* Footer */
footer {
    background-color: #fafafb;
    padding: 30px 0 5px 0;
    border-top: 1px solid #eee;
}

.footer-container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}

.bet {
    justify-content: space-between;
}

.four {
    flex-basis: 22%;
    width: 22%;
}

.inner-col {
    box-sizing: border-box;
    flex: 0 1 auto;
}

.inner-col:first-child {
    margin-left: 0;
}

footer .logo-img-1 {
    padding: 10px 0;
}

footer .logo-img-1 img {
    max-height: 20px;
    width: auto;
}

footer .footer-p-1 {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
}

p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

footer img {
    width: 28px;
    height: 24px;
}

footer .social-links {
    padding: 0;
    margin-top: 15px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .top-footer li {
    line-height: 2;
}

footer .social-links li {
    display: inline-block;
    margin-right: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .top-footer .foot-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 10px;
}

footer .top-footer li {
    line-height: 2;
}

footer .top-footer li a {
    color: #666;
}

footer .mid-footer {
    color: #9b9b9b;
    margin-top: 40px;
}

footer .mid-footer p {
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.bottom-footer {
    text-align: center;
}

footer .bottom-footer p {
    font-size: 0.65rem;
    margin-top: 0;
    margin-bottom: 10px;
}

footer .bottom-footer ul li {
    display: inline;
    font-size: 0.8rem;
    margin-right: 20px;
}

footer .bottom-footer ul li a {
    color: #9b9b9b;
    line-height: 4;
    font-size: 0.75rem;
}