body {
    padding-top: 65px;
    color: #424242;
    min-width: 350px;
    margin: auto;
}

html,
body {
    font-family: "Inter", serif;
    font-size: 16px;
    width: 100%;
    line-height: 1.7;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    margin-top: 0px;
}

main {
    display: block;
}

.content-container {
    min-height: 80vh;
}

/* Navigation bar */
.navbar {
    top: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
    box-sizing: border-box;
    perspective: none;
    padding: 5px 0px;
}

.navbar .nav-container {
    padding: 0;
}

.nav-container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav--container {
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}

.img-sec {
    box-sizing: border-box;
    flex: 0 1 auto;
    position: relative;
    flex-basis: 39.3333333333%;
    width: 39.3333333333%;
}

.navbar a {
    font-weight: 400;
}

a {
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
}

.navbar .logo-img {
    max-height: 17px;
    vertical-align: middle;
    position: relative;
    top: 18px;
}

img {
    max-width: 100%;
    border-style: none;
}

.nav-bar-link {
    flex-basis: 56.6666666667%;
    width: 56.6666666667%;
    box-sizing: border-box;
    flex: 0 1 auto;
}

.nav-link {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

.nav-link li {
    display: inline;
}

.nav-link li a {
    color: #666;
    font-size: 0.9rem;
    transition: color 0.3s;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

.navbar a {
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Main Section */
.faq-head-section {
    background: #387ed1;
    color: #fff;
    padding: 100px 0 85px 0;
    padding-top: 50px;
}

.faq-sections {
    border-bottom: none;
}

.container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.faq-head-section .row {
    display: flex;
}

.v-align {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}

.faq-head-section .row .two:first-child {
    order: 1;
}

.column:first-child, .columns:first-child {
    margin-left: 0;
}

.two {
    flex-basis: 13.33333%;
    width: 13.33333%;
}

.columns, .column {
    box-sizing: border-box;
    flex: 0 1 auto;
}

.two {
    flex-basis: 13.33333%;
    width: 13.33333%;
}

.faq-sections .support-logo {
    margin: 0 !important;
}

.support-logo a {
    color: #fff !important;
}

h4 {
    font-size: 1.275rem;
}

.faq-head-section .login-link {
    order: 4;
}

.text-right {
    text-align: right;
}

.kite-login, .educate-link {
    color: #fff;
    opacity: 1;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
    position: relative;
    bottom: 3px;
}

.faq-head-section .lang-links {
    order: 2;
}

.lang-links {
    position: relative;
    left: -50px;
}

.lang-links span:first-child {
    margin-right: 10px;
}

.lang-links span {
    color: #fff;
    display: inline-block;
    position: relative;
    top: 0px;
    border-bottom: 1px solid #fff;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.faq-head-section .row .four {
    order: 3;
}

.faq-head-section .four {
    margin-top: 60px;
}

.four {
    flex-basis: 30.66667%;
    width: 30.66667%;
}

.seven {
    flex-basis: 56.66667%;
    width: 56.66667%;
}

.support-subheading {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
}

.search-input-grp {
    height: 38px;
    text-align: left !important;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 0;
    background: #fff;
    border-radius: 2px;
}

#search-text {
    display: inline;
    max-width: 100%;
    height: 38px;
    width: 89%;
    color: #222;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    border: none;
    vertical-align: bottom;
    line-height: 2.3;
}

.faq-sections .search-input-grp input {
    font-size: 1rem;
    border-radius: 2px;
}

input[type=text], input[type=number], input[type=email], input[type=password], select {
    font-weight: 400;
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
}

button, input {
    overflow: visible;
}

.dot-spinner {
    display: none;
    position: relative;
    bottom: 8px;
    right: 10px;
    margin-left: 5px;
}

.dot-spinner i:first-child {
    transform: translate(-5px);
    animation: dot-spinner-ani2 .5s linear infinite;
    opacity: 0;
}

.dot-spinner i {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #9b9b9b;
    vertical-align: middle;
}

.dot-spinner i:nth-child(2), .dot-spinner i:nth-child(3) {
    animation: dot-spinner-ani3 .5s linear infinite;
}

.dot-spinner i:last-child {
    animation: dot-spinner-ani1 .5s linear infinite;
}

.clear-search {
    display: none;
    position: relative;
    bottom: 5px;
    width: 23px;
    height: 23px;
    text-align: center;
    border: 1px solid #9b9b9b;
    background: #9b9b9b;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.super-links .quick-links {
    display: inline-block;
    margin: 0;
}

.super-links a {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
}

.five {
    flex-basis: 39.33333%;
    width: 39.33333%;
}

.alert-banner h4 {
    margin-top: 0;
}

.faq-sections h4 {
    margin-bottom: 15px !important;
}

h4 {
    font-size: 1.275rem;
}

.alert-back {
    position: relative;
}

.faq-sections ul {
    list-style-position: inside;
}

.faq-sections ul {
    list-style-type: disc;
    margin-top: 0px;
    padding-left: 0;
}

.faq-sections ul li {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
}

.banner-content a {
    color: #fff !important;
    text-decoration: underline !important;
}

.faq-sections {
    border-bottom: none;
}

.faq-content {
    padding-top: 20px;
}

.faq-sections {
    padding: 50px 0;
}

.support-cards-container {
    margin-top: 20px;
}

.support-cards-container h2 {
    margin-top: 0;
    margin-bottom: 40px !important;
    font-size: 22px;
    font-weight: 400;
}

h2 {
    line-height: 1.5;
}

.support-cards-container .row {
    margin-bottom: 30px;
}

.card-title {
    margin-bottom: 20px;
}

h5 {
    font-size: 1.25rem;
}

.card-title a {
    color: #222;
    font-weight: 400;
}

.support-cards-container .card-block span {
    padding-left: 31px;
}

.support-cards-container .card-block span {
    display: block;
    font-size: 16px;
    margin: 10px 0;
    font-weight: 400;
}

.text-grey {
    color: #666;
}

.support-cards-container .card-block span a {
    transition: 0s;
    color: #387ed1 !important;
}










/* Footer */
footer {
    background-color: #fafafb;
    padding: 30px 0 5px 0;
    border-top: 1px solid #eee;
}

.footer-container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.bet {
    justify-content: space-between;
}

.fours {
    flex-basis: 22%;
    width: 22%;
}

.inner-col {
    box-sizing: border-box;
    flex: 0 1 auto;
}

.inner-col:first-child {
    margin-left: 0;
}

footer .logo-img-1 {
    padding: 10px 0;
}

footer .logo-img-1 img {
    max-height: 20px;
    width: auto;
}

footer .footer-p-1 {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

footer img {
    width: 28px;
    height: 24px;
}

footer .footer-contact{
    font-size: 1.25rem;
    color: #424242;
    margin-bottom: 10px;
    line-height: 1.6875rem;
}

footer .social-links {
    padding: 0;
    margin-top: 15px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .top-footer li {
    line-height: 2;
}

footer .social-links li {
    display: inline-block;
    margin-right: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .top-footer .foot-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 10px;
}

footer .top-footer li {
    line-height: 2;
}

footer .top-footer li a {
    color: #666;
}

footer .mid-footer {
    color: #9b9b9b;
    margin-top: 40px;
}

footer .mid-footer p {
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.bottom-footer {
    text-align: center;
}

footer .bottom-footer p {
    font-size: 0.65rem;
    margin-top: 0;
    margin-bottom: 10px;
}

footer .bottom-footer ul li {
    display: inline;
    font-size: 0.8rem;
    margin-right: 20px;
}

footer .bottom-footer ul li a {
    color: #9b9b9b;
    line-height: 4;
    font-size: 0.75rem;
}
