.search-container {
    width: 100%;
    height: 60px;
    background: #0a1113;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

.search-input {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 20px;
    text-transform: capitalize;
}

.search {
    background:none;
    border: none;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
}
.search-btn {
    background: rgb(64, 64, 65);
    padding: 10px 20px;
    color: #fff;
    border: solid 1px #000;
    right: 10px;
}