.header {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: $primary-color-main;
  align-items: center;
  &__menu {
    height: 3rem;
    &__icon {
      width: 2.5rem;
      height: 3rem;
      fill: $text-color;
      border: 0.1rem solid grey;
      border-radius: 0.2rem;
      transition: border 0.2s ease-in-out;
      &:hover {
        border: 0.1rem solid $text-color;
      }
    }
  }

  &__logo > img {
    width: 6rem;
    @include breakpoint(l) {
      margin: 0.5rem 2rem 0 0.5rem;
    }
    margin: 0 0.5rem;
  }

  &__search {
    display: none;
    flex-grow: 1;
    background-color: $secondary-color-main;
    border-radius: 0.2rem;
    @include breakpoint(m) {
      display: inline;
    }

    & button {
      display: none;
    }

    &__category {
      background-color: $background-color !important;
      width: 6rem !important;
    }

    &__icon {
      width: 2.3rem;
      height: 2.3rem;
      fill: $primary-color-light;
      padding: 0.5rem;
    }
  }

  &__nav {
    display: flex;
    margin: auto 1rem;
    &__option {
      @include breakpoint(m) {
        display: flex;
      }
      color: $text-color;
      display: none;
      flex-direction: column;
      margin: 0 0.5rem;
      transform: translateY(0.5rem);
      & span:first-child {
        font-size: 0.7rem;
      }
      & span:last-child {
        font-size: 0.8rem;
        font-weight: 800;
      }
    }
    &__cart {
      color: $secondary-color-dark;
      &__icon {
        width: 3.2rem;
        fill: $text-color;
        position: absolute;
        top: 0.5rem;
        right: 2rem;
        @include breakpoint(m) {
          position: relative;
          top: 0rem;
          right: 0rem;
        }
      }
      & > span {
        position: absolute;
        top: 1.05rem;
        right: 3.5rem;
        font-weight: 500;
      }
    }
  }
}

.sub-header {
  @include breakpoint(l) {
    display: flex;
  }
  background-color: $primary-color-light;
  display: none;
  align-items: center;
  padding: 0.2rem 1rem;
  &__deliver {
    display: flex;
    &__icon {
      fill: white;
      width: 2.5rem;
      height: 2.5rem;
    }
    &__info {
      @extend .header__nav__option;
      display: flex;
    }
  }
  &__link {
    flex-grow: 1;
    padding-left: 2rem;
    color: $text-color;
    & span {
      padding-left: 1.5rem;
    }
  }

  &__notice {
    color: $text-color;
    font-weight: 600;
  }
}
.menuFooter {
  margin-left: 1rem;
  font-weight: 500;

  & p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.menu__body__title {
  
  font-size: 1.2rem;
  font-weight: bold;
  & ~ p {
    font-weight: 500;
  }
}
