.checkout-card {
  display: flex;

  &__img {
    @include breakpoint(l) {
      width: 8rem;
      margin: 1rem;
    }
    width: 8rem;
    object-fit: contain;
    margin: 1rem;
  }
  &__body {
    display: flex;
    padding-top: 1rem;
    flex-grow: 1;
  }
  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;

    color: $text-color-blue;
  }
  &__status {
    font-size: 0.8rem;
    color: green;
    font-weight: 500;
  }
  &__delivery {
    color: $text-color-grey;
    font-size: 0.8rem;
    font-weight: 600;
  }
  &__action {
    display: flex;
    align-items: center;
    &__qty {
      width: 4rem;
      margin-top: 0.5rem;
    }
    &__delete span:first-child {
      color: $line-color;
      padding-left: 1rem;
    }
    &__delete span:last-child {
      cursor: pointer;
      color: $text-color-blue;
      padding-left: 1rem;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  &__price {
    font-weight: 600;
    @include breakpoint(l) {
      padding-left: 6rem;
    }
    padding-left: .6rem;
  }
  &__content {
    flex-grow: 1;
  }
}
