/* Header CSS starts from - Line no. :- 9 .
   (left Side top) Hamburger CSS starts from - Line no. :- 149 .
   Navigation Menu - Line no. :- 288 .
   Responsiveness (Using MediaQuery) - Line no. :- 351 .
   Section - Line no. :- 451 .
   Footer - Line no. :- 574
*/

/* ------- -------    --------   HEADER   ---------    --------- ------- */
/* ------- -------    --------   ---------    ---------    --------- ------- */
.header 
{
	height: 5rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transform: translateY(-100%);
	transition: transform 0s 0s;
}

header#hiding .header__inner 
{
	transition-delay: 0s;
}

header#hiding .background 
{
	transition-delay: 0.3s;
}

header#hiding 
{
	transition-delay: 0.9s;
}

.header.show 
{
	transform: translateY(0);
}

.header.show .header__inner 
{
	opacity: 1;
}

.header .background 
{
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transform: translateY(-100%);
	transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

.header.show.with__background .background 
{
	transform: translateY(0);
}

.header .header__inner 
{
	height: 100%;
	width: 100%;
	display: flex;
	opacity: 0;
	transition: opacity 0.2s 0.6s;
}

.header__logo 
{
	flex-grow: 1;
	overflow: hidden;
	margin: auto 0;
}

.header__logo a 
{
	display: block;
	width: 10rem;
	margin: 0 auto;
}

.header__logo a img 
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.header__navigation 
{
	flex-grow: 2;
	display: none;
	justify-content: space-between;
	align-items: center;
}

.header__navigation ul li 
{
	margin: 0 0.7rem;
	display: inline-block;
}

.header__navigation .nav__link 
{
	font-weight: bold;
	font-size: 0.8rem;
	text-transform: uppercase;
	position: relative;
}

.header__navigation .shop__container 
{
	flex-basis: 5rem;
	text-align: center;
}

.header__navigation .nav__link:after 
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: white;
	transform: scaleX(0);
	transform-origin: right center;
	transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.header__navigation .nav__link:hover:after 
{
	transform: scaleX(1);
	transform-origin: left center;
}






/* ------- -------    --------   Hamburger css   ---------    --------- ------- */
/* ------- -------    --------   ---------    ---------    --------- ------- */
.hamburger 
{
	display: grid;
	place-items: center;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0 2rem;
	overflow: visible;
}

.hamburger:focus 
{
	outline: none;
}

.hamburger:hover 
{
	opacity: 0.7;
}
.hamburger.is-active:hover 
{
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after 
{
	background-color: white;
}

.hamburger-box 
{
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
}

.hamburger-inner 
{
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after 
{
	width: 100%;
	height: 2px;
	background-color: white;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after 
{
	content: '';
	display: block;
}
.hamburger-inner::before 
{
	top: -7px;
}
.hamburger-inner::after 
{
	bottom: -7px;
}

/*
   * Emphatic
   */
.hamburger--emphatic 
{
	overflow: hidden;
}

.hamburger--emphatic .hamburger-inner 
{
	transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before 
{
	left: 0;
	transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
		top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after 
{
	top: 7px;
	right: 0;
	transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
		top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner 
{
	transition-delay: 0s;
	transition-timing-function: ease-out;
	background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before 
{
	left: -80px;
	top: -80px;
	transform: translate3d(80px, 80px, 0) rotate(45deg);
	transition: left 0.125s ease-out, top 0.05s 0.125s linear,
		transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after 
{
	right: -80px;
	top: -80px;
	transform: translate3d(-80px, 80px, 0) rotate(-45deg);
	transition: right 0.125s ease-out, top 0.05s 0.125s linear,
		transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}






/* ------- -------    --------   Navigation menu css   ---------    --------- ------- */
/* ------- -------    --------   ---------    ---------    --------- ------- */
.navigation__menu 
{
	position: fixed;
	top: 0;
	right: 0;
	background: black;
	z-index: 5;
	width: 80%;
	max-width: 20rem;
	height: 100%;
	transform: translateX(100%);
	transition: all 0.5s ease-in-out;
}

.navigation__menu ul 
{
	width: 80%;
	margin: 0 auto;
	margin-top: 8rem;
	text-align: right;
}

.navigation__menu ul li 
{
	transform: translateY(100%);
	transition: all 1s 0.6s;
	opacity: 0;
}

.navigation__menu ul li a 
{
	display: block;
	font-size: 1rem;
	line-height: 40px;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1pt solid #252525;
	transition: color 0.4s cubic-bezier(0.25, 1, 0.25, 1);
}

.navigation__menu ul li a:hover 
{
	color: #8b939b;
}

.navigation__menu.open 
{
	transform: translateX(0);
}

.navigation__menu.open ul li 
{
	opacity: 1;
	transform: translateY(0);
}






/* ------- -------    --------   Responsiveness   ---------    --------- ------- */
/* ------- -------    --------   ---------    ---------    --------- ------- */
@media screen and (min-width: 600px) 
{
	.mission__container .bottom__content {
		bottom: 15%;
		left: 3rem;
	}

	.header .header__logo a {
		width: 13rem;
	}

	.footer .footer__list {
		width: 90%;
	}
}

@media screen and (min-width: 900px) 
{
	.mission__container .bottom__content {
		left: 4rem;
		max-width: 600px;
	}

	.mission__container .bottom__content .bottom__content__header {
		font-size: 2.5rem;
		margin: 1rem 0;
	}

	.mission__container .bottom__content .bottom__content__subheader {
		font-size: 1.5rem;
	}

	.footer .footer__list {
		width: 60%;
	}
}

@media screen and (min-width: 1200px) 
{
	.header__navigation {
		display: flex;
	}

	.mission__container .bottom__content {
		left: 6rem;
	}

	.mission__container .bottom__content .bottom__content__header {
		font-size: 3rem;
	}

	.mission__container .bottom__content .content__button .text {
		padding: 1.5rem 3rem;
	}

	.header {
		height: 6.5rem;
	}

	.header .header__logo {
		flex-grow: 0;
		margin-left: 6rem;
		margin-right: 2rem;
	}

	.header .header__logo a {
		width: 15rem;
	}

	.navigation__menu {
		max-width: 30rem;
	}

	.footer .footer__list {
		width: 50%;
	}
}

@media screen and (min-width: 1600px) 
{
	.mission__container .bottom__content {
		left: 15rem;
	}

	.header .header__logo {
		margin-left: 15rem;
	}

	.footer .footer__list {
		width: 40%;
	}
}






/* ------- -------    --------   Section   ---------    --------- ------- */
/* ------- -------    --------   ---------    ---------    --------- ------- */

.missions
{
	position: relative;
	height: 100vh;
}

.missions .background
{
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.missions .background.one
{
	background-image: url(assets/img-1.jpg);
}

.missions .background.two
{
	background-image: url(assets/img-2.jpg);
}

.missions .background.three
{
	background-image: url(assets/img-3.webp);
}

.missions .background.four
{
	background-image: url(assets/img-4.jpg);
}

.missions .background.five
{
	background-image: url(assets/img-5.webp);
}

.missions .content
{
	position: absolute;
	bottom: 10%;
	left: 1.5rem;
	width: 90%;
	max-width: 500px;
	overflow: hidden;
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 1s, transform 1s;
}

.missions .content .heading
{
	font-size: 2rem;
	text-align: left;
	margin: 0 0 1rem auto;
	font-weight: 600;
}

.missions .content .subheader
{
	font-size: 1rem;
}

.missions .content .button 
{
	border: 2px solid white;
	display: inline-block;
	position: relative;
	z-index: 2;
	margin-top: 1rem;
}

.missions .content .button .text 
{
	font-weight: bold;
	font-size: 0.8rem;
	display: inline-block;
	text-transform: uppercase;
	padding: 1.2rem 2.5rem;
	transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.missions .content .button .hover 
{
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	height: 100%;
	width: 100%;
	z-index: -1;
	transform: scale3d(1, 0, 1);
	transform-origin: top center;
	transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.missions .content .button:hover .hover 
{
	transform: scale3d(1, 1, 1);
	transform-origin: bottom center;
}

.missions .content .button:hover .text 
{
	color: black;
}

.missions.on__screen .content
{
	opacity: 1;
	transform: translateY(0);
}






/* ------- -------    --------   Footer   ---------    --------- ------- */
/* ------- -------    --------   ---------    ---------    --------- ------- */

.footer 
{
	position: relative;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: 400;
	padding: 1.5rem 0;
}

.footer_list 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 0 1rem;
	padding-top: 1rem;
	margin: 0 auto;
}

.footer_list li 
{
	margin: 0 10px 10px 0;
}

.footer_text 
{
	color: #979797;
}

.footer_links 
{
	font-weight: 600;
	transition: color 1s cubic-bezier(0.25, 1, 0.25, 1);
}

.footer_links:hover 
{
	color: #8b939b;
}



/* ------- -------    --------   ---------    ---------    --------- ------- */
/* ------- -------    --------   ---------    ---------    --------- ------- */