body{
  background-image: url("preview1.jpg"); 
}

.navbar-container {
  text-align: center;
  position: relative;
  z-index: 3000;
}

.header-navbar {
  display: block;
  width: 100%;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 0 6px 0 #E1E2E5;
  border-color: #E1E2E5;
  border-style: solid;
  border-width: 0 0 1px 0;
  font-size: 14px;
  line-height: 30px;
  z-index: 3002;
}
.header-navbar .header-navbar-nav, .header-navbar .header-navbar-actions {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-navbar .header-navbar-nav, .header-navbar .header-navbar-actions {
    display: inline-block;
  }
}
.header-navbar, .header-navbar a {
  color: #2b2f32;
  text-decoration: none;
}
.header-navbar .navbar-left {
  float: left;
}
.header-navbar .navbar-right {
  float: right;
}
.header-navbar .logo-container, .header-navbar .main-nav-list, .header-navbar .header-navbar-actions {
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
.header-navbar .logo-container {
  padding: 15px 0;
  line-height: 22px;
  display: inline-block;
}
.header-navbar a.btn, .header-navbar button.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #0099e5;
  border: 1px solid #0099e5;
  text-shadow: none;
}
.header-navbar a.btn.btn-outline, .header-navbar button.btn.btn-outline {
  background-color: transparent;
  border-color: #E1E2E5;
  color: initial;
}
.header-navbar a.btn:hover, .header-navbar a.btn:active, .header-navbar button.btn:hover, .header-navbar button.btn:active {
  color: #FFFFFF;
  background-color: #08c;
  border-color: #08c;
}
.header-navbar .main-nav-list, .header-navbar .header-navbar-actions {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
.header-navbar .main-nav-list .btn-container .btn, .header-navbar .header-navbar-actions .btn-container .btn {
  height: 30px;
  line-height: 16px;
  font-size: 14px;
  margin: 0;
  position: relative;
  top: -2px;
}
.header-navbar .main-nav-list-item-new, .header-navbar .action-list-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.header-navbar .main-nav-list-item-new {
  font-size: 16px;
  cursor: pointer;
  padding-left: 30px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: transparent;
  padding: 15px 25px 14px 25px;
}
.header-navbar .main-nav-list-item-new.active, .header-navbar .main-nav-list-item-new:hover {
  color: #00a2ff;
}
.header-navbar .action-list-item {
  height: 60px;
  padding: 10px 5px;
  line-height: 40px;
}
.header-navbar .action-list-item:not(.btn-container) a:hover {
  text-decoration: underline;
}
.header-navbar .overlay-container {
  position: relative;
  width: 100%;
  height: 0;
}
.header-navbar .overlay-new {
  display: none;
  position: absolute;
  top: 1px;
  background: #FFFFFF;
  padding: 3px 0 0 0;
  box-shadow: inset 0 3px 0 0 #00a2ff, 0 5px 10px 0 #E1E2E5, 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2999;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #E1E2E5;
  font-size: 14px;
  min-height: 100px;
  overflow-y: hidden;
}
.header-navbar .overlay-new.active {
  display: block;
}
.header-navbar .overlay-other-links {
  text-align: left;
  line-height: 1.63;
}
.header-navbar .overlay-other-links:hover, .header-navbar .overlay-other-links:active {
  outline: none;
  background-color: #FFFFFF;
}
.header-navbar .overlay-other-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-navbar .overlay-other-links li {
  padding: 3px 0 3px 20px;
}
.header-navbar .overlay-other-links li:before {
  content: "";
  font-size: 0;
  border-width: 5px;
  margin-right: 5px;
  border-style: solid;
  display: inline-block;
  margin-left: -15px;
  border-color: transparent transparent transparent #d8d8d8;
}
.header-navbar .overlay-other-links li a {
  color: #0099e5;
  cursor: pointer;
}
.header-navbar .overlay-other-links li a:hover, .header-navbar .overlay-other-links li a:active {
  text-decoration: underline;
}

.new-nav-list {
  box-shadow: 1px 0px 1px 0 rgba(0, 0, 0, 0.15);
  color: #333;
  padding: 20px 20px 10px 20px;
  position: relative;
  text-align: left;
}
.new-nav-list:last-child {
  box-shadow: none;
}
.new-nav-list .title {
  display: block;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.new-nav-list ul {
  padding: 0;
  list-style-type: none;
  margin: 0 0 10px 0;
  max-height: 250px;
  overflow: auto;
}
.new-nav-list ul.show-anchors li a {
  font-weight: 600;
  position: relative;
}
.new-nav-list ul.show-anchors li a:after {
  border-color: #ececec;
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  height: 10px;
  margin-top: -5px;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: rotate(45deg);
  width: 10px;
}
.new-nav-list ul.show-anchors li a:hover:after {
  border-color: #00a2ff;
}
.new-nav-list ul.show-anchors li a.maintainHover {
  color: #00a2ff;
}
.new-nav-list ul.show-anchors li a.maintainHover:after {
  border-color: #00a2ff;
}
.new-nav-list ul li {
  line-height: 1;
}
.new-nav-list ul li a {
  border-bottom: 1px solid #ebebeb;
  color: #666;
  display: block;
  line-height: 1;
  margin: 0;
  padding: 10px 15px 10px 0;
}
.new-nav-list ul li a:hover {
  color: #00a2ff;
}
.new-nav-list .popover {
  border: none;
  box-shadow: none;
  font-family: "Source Sans Pro", sans-serif;
  left: 1px;
  max-width: unset;
  padding: 19px 19px 9px 19px;
  top: 1px;
  width: 99%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
	background: #f1f1f1;
} */
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}