:root {
  --didact-gothic: "Didact Gothic", sans-serif;
  --trans: all 0.3s ease-in-out;
  --black:  #111111;
  --black-nav-toggler: #212121;
  --white-button: #c7c7c7;
  --black-nav__right-item: #333333;
  --grey-caret: #7e7e7e;
  --black-search: #2b2a29;
  --white-text: #f4f4f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  background-color: var(--black);
}

.riot-logo {
  height: 80px;
  margin: 10px 35px 0 0;
}

.riot-icon {
  height: 60px;
  width: 100px;
  object-fit: cover;
}
.riot-icon :hover{
  color: red;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 80px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navbar */

.navbar {
  color: var(--white-text);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-color {
  background-color: var(--black);
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);
}

.navbar .container {
  justify-content: space-between;
}

/* .search-icon-group, */
.fa-caret-right,
.riot-text {
  display: none !important;
}

.search-icon-group {
  width: 170px;
  height: 35px;
  background-color: transparent;
  border-radius: 16px;
  position: fixed;
  right: -315px;
  top: 300px;
  border: 1px solid #f9f9f9;
}

.signin-content{
  width: 170px;
  height: 35px;
  background-color: transparent;
  border-radius: 16px;
  position: fixed;
  right: -315px;
  top: 300px;
  border: 1px solid #f9f9f9;
}

.search-color {
  background-color: var(--black-search);
  border: none;
}

.search-control {
  background-color: transparent;
  border-style: hidden;
  font-size: 10px;
  color: var(--white-text);
  text-transform: uppercase;
  font-weight: 700;
  width: 100px;
  height: 12px;
}

.search-icon {
  background-color: transparent;
  border-style: hidden;
  font-size: 15px;
  color: var(--white-text);
}

.navbar-subtoggler-close-1,
.navbar-subtoggler-close-2,
.navbar-toggler-open,
.navbar-toggler-close {
  font-size: 12px;
  width: 32px;
  height: 32px;
  background-color: var(--black-nav-toggler);
  cursor: pointer;
  border-radius: 50%;
  border: none;
  color: var(--white-button);
  transition: var(--trans);
}

.navbar-collapse,
.navbar-subcollapse {
  position: fixed;
  right: -315px;
  top: 0;
  width: 315px;
  background-color: var(--black-nav-toggler);
  height: 100%;
  border-top: 2px solid #262626;
}

.navbar-subcollapse__header,
.navbar-collapse__header {
  height: 90px;
  background-color: var(--black);
  justify-content: space-between;
  padding: 15px;
}

.navbar-subcollapse__header {
  font-size: 18px;
}

.navbar-subcollapse__header span {
  color: var(--white-text);
  margin-left: 20px;
}
.navbar-subcollapse__header a i {
  color: #7e7e7e;
}

.navbar-subcollapse {
  z-index: 1000;
  transition: var(--trans);
}
.riot-logo {
  border-radius: 50%;
  background-color: #fcfcfc;
  width: 50px;
  height: 50px;
}

.navbar-collapse__header .riot-logo {
  margin: 0;
  width: 40px;
  height: 40px;
}

.nav__right-link {
  position: relative;
  display: block;
  color: var(--white-text);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 1000;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 19px;
  letter-spacing: 2px;
}

.nav__subright-item,
.nav__right-item {
  height: 63px;
  text-align: left;
  background-color: var(--black-nav__right-item);
  border-bottom: 1px solid var(--black);
}

.nav__right-sublink,
.nav__right-link {
  position: relative;
  display: block;
  color: var(--white-text);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 1000;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 19px;
  letter-spacing: 2px;
}

.nav__right-item-dropdown {
  position: absolute;
  right: 0;
  margin-right: 30px;
  font-size: 15px;
  color: var(--grey-caret);
}

.show-navbar {
  transition: var(--trans);
  right: 0;
}

.show-search {
  transition: var(--trans);
  right: 70px;
}

.hide-scroll {
  overflow: hidden;
}

.navbar__left-toggler-open i {
  color: #7c7c7c;
  position: absolute;
  left: 110px;
}

.navbar__left-toggler-close {
  font-size: 12px;
  width: 32px;
  height: 32px;
  background-color: #ebebeb;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  color: #121212;
  transition: var(--trans);
}

.navbar__left-collapse {
  position: fixed;
  left: -75vw;
  top: 0;
  width: 75vw;
  background-color: white;
  height: 100%;
  border-top: 2px solid #262626;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
}

.navbar__left-collapse__header {
  height: 75px;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.navbar-nav__left h1,
.navbar-nav__left h4,
.navbar-nav__left i {
  color: #333333;
}

.navbar-nav__left h4 {
  font-size: 12px;
}

.navbar-nav__left h1 {
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0 0 20px;
  font-size: 20px;
}

.navbar-nav__left i {
  font-size: 12px;
  margin-right: 5px;
}

.navbar__left-toggler-close {
  position: absolute;
  top: 21px;
  right: 31px;
  width: 32px;
  height: 32px;
}

.navbar-nav__left {
  padding: 20px;
  text-align: left;
}

.nav__left-game {
  display: inline-block;
  width: 49%;
  height: auto;
  margin-bottom: 10px;
}
.nav__left-item {
  margin-bottom: 10px;
  width: 99%;
  height: auto;
}

.show-navbar__left {
  transition: var(--trans);
  left: 0;
}

/* main */

.hero-new {
  position: relative;
  height: 550px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  color: var(--white-text);
}

.hero-new__content-inner {
  max-width: 275px;
  margin: auto;
  flex-direction: column;
}
.hero-new__content-logo {
  margin-bottom: 20px;
}

.hero-new__background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-image: url("images/anie1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -99;
}

.hero-new-shadow{
  position: absolute;
  width: 100%;
  background: radial-gradient(circle, rgba(104,105,111,0.1) 0%, rgba(6,6,6,0.7) 94%);
  height: 100%;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.button-learn-more {
  width: 275px;
  font-size: 32px;
  color: var(--black);
  font-weight: 700;
  background: linear-gradient(135deg, #ba8964 0, #d1ac90 100%);
  box-shadow: 0 10px 45px -10px rgba(186, 137, 100, 0.15),
    0 0 20px -10px rgba(186, 137, 100, 0.35),
    0 10px 30px -10px rgba(186, 137, 100, 0.25);
  padding: 12px;
  border-radius: 24px;
  margin-top: 30px;
}

.button-learn-more:hover {
  background: linear-gradient(135deg, #ba8964 0, #d1ac90 50%, #d1ac90 100%);
  box-shadow: 0 10px 30px -10px rgba(186, 137, 100, 0.25),
    0 10px 30px -10px rgba(186, 137, 100, 0.5),
    0 10px 35px -10px rgba(186, 137, 100, 0.5);
}

.learn-more {
  background-color: var(--black);
  border-style: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  color: white;
}

.widget {
  color: var(--white-text);
  line-height: 1.5;
  margin: auto;
  padding: 20px;
}

.our-games__title-wrapper,
.whats-happening__title-wrapper {
  margin-bottom: 20px;
}

.our-games__title,
.whats-happening__title {
  text-align: center;
  font-size: 40px;
}

.card-border {
  border-radius: 8px;
}
.whats-happening__hero-wrapper {
  margin-bottom: 20px;
  position: relative;
}

.whats-happening__hero-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
  width: 100%;
}

.whats-happening__hero-title {
  font-size: 40px;
}

.whats-happening__article {
  margin-bottom: 20px;
}

.whats-happening__article-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  background-size: cover;
  background-position: center;
  border-radius: 0 8px 8px 0;
}

.whats-happening__article-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background-color: var(--black);
  background-size: cover;
  border-radius: 50%;
}

.whats-happening__hero-category,
.whats-happening__article-category {
  color: #5e5d5b;
  text-transform: uppercase;
}

.whats-happening__article-title-wrapper {
  margin-right: 200px;
}
.whats-happening__article-card {
  display: flex;
  position: relative;
  align-items: center;
  height: 120px;
  padding: 25px;
  background-color: #222222;
  border-radius: 8px;
}

.whats-happening__article-card h3 {
  color: #f9f9f9;
}

.whats-happening__buttons,
.whats-happening__buttons-mobile {
  margin-top: 5px;
}
.whats-happening__button,
.whats-happening__button-mobile {
  background-color: #222222;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 800;
  min-width: auto;
  font-size: 13px;
  color: var(--white-text);
  padding: 10px 20px;
  letter-spacing: 2px;
}

.whats-happening__hero-image {
  width: 100%;
  height: 100%;
}
.whats-happening__buttons {
  display: none;
}

.our-games__card {
  position: relative;
  margin-bottom: 20px;
}

.our-games__card-logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 32px 12px 24px;
  width: 38%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.game_description{
  color: #c5c5c3;
  font-size: .813rem;
  font-size: clamp(.5rem,1.5vw,.813rem);
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.careers,
.careers__jobs_count {
  flex-direction: column;
  text-align: center;
}

.careers__jobs {
  display: flex;
  width: 100%;
}

.careers__jobs__count {
  background-color: #dfdede;
  border-radius: 8px;
  text-decoration: none;
  padding: 16px;
  font-weight: 800;
  flex-direction: column;
  flex: 1 1 250px;
  justify-content: flex-start;
}

.careers__jobs__count:first-child {
  margin-right: 20px;
}

.widget-careers__content {
  background-color: #ebebeb;
}

.careers__content {
  margin-top: 20px;
  padding: 50px;
  max-width: 600px;
}
.careers__content p {
  font-size: 20px;
  color: #656462;
  margin: 0 30px 30px 30px;
}

.careers__content h1,
.careers__content span {
  font-size: 40px;
  color: #0a0a0a;
}

.careers__jobs__count span {
  font-size: 60px;
}

.careers__jobs__count {
  position: relative;
  margin-bottom: 40px;
  color: #656462;
}

.button-explore-careers {
  display: inline-block;
  background-color: #d1363a;
  border-radius: 24px;
  width: 100%;
  text-align: center;
  padding: 22px 16px;
}
.button-explore-careers span {
  font-size: 20px;
  color: var(--white-text);
}

/* footer */
footer {
  background-color: #252423;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #656462;
}

.footer-links-1 ul,
.footer-links-2 {
  flex-wrap: wrap;
}

.footer-links-1 {
  margin: 20px;
}

.footer-links-1 ul li {
  font-size: 12px;
  text-transform: uppercase;
  margin: 10px;
}

.footer-links-2 ul li {
  font-size: 18px;
  margin: 10px;
}

.footer-text {
  padding: 30px;
  border-top: 1px solid #323131;
  border-bottom: 1px solid #323131;
}

.footer-text a {
  font-size: 12px;
}

.footer-text a span {
  margin-left: 10px;
  margin-right: 10px;
}

.to-surface {
  margin-top: 20px;
}

.careers__image {
  width: 100%;
  height: 100%;
  padding: 0;
}

.careers__image2 {
  display: none;
}

.footer__container--logo {
  width: 100%;
}
.footer-logo {
  align-items: center;
  width: 50px;
  height: 50px;
}

.footer {
  width: 100%;
}

.footer__container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1440px;
}

.card-hover {
  border: 2px solid transparent;
}

.card-hover:hover {
  background: linear-gradient(#222222, #222222) padding-box,
    linear-gradient(90deg, #e6f0ec, #727172) border-box;
  border-radius: 8px;
}
.careers__jobs__count:hover {
  background-color: #b5b4b2;
}

.button-explore-careers:hover {
  background-color: #da5e61;
}

.footer-text a:hover,
.footer-links-1 ul li a:hover {
  text-decoration: underline;
  color: var(--white-text);
}

/* scroll behavior smooth */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (max-width: 540px) {
  .whats-happening__article-title,
  .whats-happening__hero-title {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .whats-happening__article-category {
    font-size: 14px;
  }

  .whats-happening__article-card {
    max-height: 80px;
  }
  .whats-happening__article-title-wrapper {
    margin-right: 100px;
  }
  .whats-happening__article-image {
    width: 120px;
  }
  .whats-happening__article-logo {
    width: 20px;
    height: 20px;
  }

  .careers__content {
    padding: 20px;
  }
  .footer-links-1 .footer-link {
    flex-direction: column;
  }

  .footer-text {
    flex-direction: column;
  }

  .footer-text span {
    display: none;
  }
}

@media (min-width: 910px) {
  .hero-new__background-image {
    background-image: url("images/anie1.png");
  }

  .hero-new-shadow{
    position: absolute;
      width: 100%;
      background: radial-gradient(circle, rgba(104,105,111,0.1) 0%, rgba(6,6,6,0.7) 94%);
      height: 100%;
  }

  .hero-new {
    position: relative;
    height: 800px;
    clip-path: none;
    color: var(--white-text);
  }

  .hero-new__content {
    width: 100%;
    padding: 50px;
  }
  .hero-new__content-inner {
    max-width: 40%;
    justify-content: flex-start;
    margin: 0;
  }

  .hero-new__content-logo {
    width: 360px;
  }

  .widget {
    padding: 40px;
  }

  .whats-happening__articles {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .whats-happening__article-image {
    display: none;
  }

  .whats-happening__article-title-wrapper {
    font-size: 16px;
    margin-right: 40px;
  }

  .whats-happening__buttons-mobile {
    display: none;
  }

  .whats-happening__buttons {
    display: block;
    margin: 0;
  }

  .whats-happening__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .our-games__title {
    text-align: left;
  }

  .our-games__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .our-games__card {
    flex-basis: calc(50% - 20px);
    padding: 10px 0;
    margin: 10px;
    box-sizing: border-box;
  }

  .careers__image {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    height: 600px;
    max-height: 600px;
    max-width: 50%;
  }
  .careers__image1 {
    display: none;
  }
  .careers__image2 {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
  }

  .careers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .careers__content {
    margin-left: auto;
  }

  .footer-logo {
    width: 70px;
    height: 50px;
  }
  .footer__container-texts,
  .footer__container-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-link {
    text-align: left;
    justify-content: flex-start;
  }

  .footer__container-texts {
    border-top: 1px solid #323131;
  }

  .footer-text {
    margin-top: 20px;
    padding: 0;
    border: none;
  }

  .to-surface {
    margin-top: 20px;
  }
  .search-icon-group {
    z-index: 1;
  }
}

@media (min-width: 1000px) {
  .navbar-toggler-close,
  .navbar-toggler-open,
  .navbar-collapse__header,
  .fa-caret-right,
  .navbar-toggler-open {
    display: none !important;
  }

  .riot-logo {
    display: none;
  }
  .riot-text {
    display: block !important;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
    background-color: #fcfcfc;
    width: 55px;
    height: 55px;
  }

  .search-icon-group {
    width: 170px;
    height: 35px;
    border-radius: 16px;
    position: fixed;
    right: 40px;
    top: 25px;
  }

  .navbar-collapse {
    width: 100%;
    right: 0;
    position: relative;
    background-color: transparent;
    border-top: none;
  }
  .nav__right-item {
    background-color: transparent;
    border-bottom: none;
  }
  .nav__right-item-dropdown {
    position: absolute;
    right: -45px;
    top: 18px;
  }

  .nav__right-item {
    margin-top: 5px;
    margin-right: 30px;
  }
  .nav__right-link {
    font-size: 12px;
  }

  .navbar-nav__right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
  }

  .navbar__left-collapse {
    width: 100%;
    left: 0;
    top: -620px;
    z-index: 999;
    min-height: 320px;
    max-height: 520px;
    height: auto;
    overflow: hidden;
  }

  .show-navbar__left {
    top: 0;
    animation: fadein 0.5s;
  }

  .navbar__left-collapse__header {
    border-bottom: none;
  }

  .navbar__left-toggler-close {
    border-radius: 0;
    width: 25px;
    height: 25px;
    margin-top: 15px;
  }

  .navbar-nav__left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 10px 10px 10px;
  }

  .navbar-nav__left h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .navbar-nav__left h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px 0 0 30px;
    font-size: 30px;
  }
  .nav__left-game {
    width: 48%;
    height: auto;
  }
  .nav__left-item {
    width: 100%;
    height: auto;
  }

  .navbar-subcollapse {
    width: 100%;
    right: 0;
    position: fixed;
    background-color: transparent;
    border-top: none;
    top: 0;
    left: 0;
  }

  .navbar-subcollapse__header {
    display: none;
  }

  .who-we-are-sub {
    width: 200px;
    height: 154px;
    display: none;
    position: fixed;
    top: 67px;
    left: 200px;
  }

  .about-us-sub {
    width: 200px;
    height: 154px;
    display: none;
    position: fixed;
    top: 67px;
    left: 340px;
  }

  .nav__subright-item {
    background-color: var(--black);
    border-bottom: none;
    width: 200px;
    height: auto;
  }
  .nav__right-sublink {
    font-size: 12px;
  }

  .who-we-are,
  .about-us {
    cursor: default;
  }

  .about-us:hover,
  .who-we-are:hover {
    box-shadow: rgba(186, 0, 31) 0px -2px 0px inset;
  }

  .who-we-are:hover + .who-we-are-sub,
  .who-we-are-sub:hover {
    display: block;
  }
  .about-us:hover + .about-us-sub,
  .about-us-sub:hover {
    display: block;
  }
}

@media (min-width: 1300px) {
  .whats-happening__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
  }

  .whats-happening__articles {
    display: flex;
    flex-direction: column;
  }
  .whats-happening__article-image {
    display: inline-block;
  }
  .whats-happening__article-title-wrapper {
    font-size: 18px;
    margin-right: 200px;
  }
  .whats-happening__article {
    margin-bottom: 10px;
  }

  .whats-happening__hero-image {
    max-width: 100%;
  }

  .our-games__card-image__primary {
    width: calc(50vw - 90px);
  }

  .our-games__card-image__secondary {
    max-width: calc(33.33vw - 66.6px);
  }

  .our-games__card {
    padding: 10px 0;
    margin: 10px;
    box-sizing: border-box;
  }

  .careers__image2 {
    display: none;
  }
  .careers__image1 {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.platform_available{
  display: inline-flex;
    color: white;
    gap: 11px;
}

.footer-links-2 ul li a:hover{
  color: white;
}