@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-size: 12px;
    margin-top: 160px;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
@media screen and  (max-width:1149px){
    
    #navBarSearchForm input[type=search] {
        width:25rem;
    }
}
@media screen and  (min-width:1150px){
    
    #navBarSearchForm input[type=search] {
        width:30rem;
    }
}
@media screen and  (min-width:1310px){
    
    #navBarSearchForm input[type=search] {
        width:40rem;
    }
}
@media screen and  (min-width:1441px){
    
    #navBarSearchForm input[type=search] {
        width:50rem;
    }
}


.navbar {
    padding: 3px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}
.navbar-css{
    height: 110px!important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.btn-info {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    outline: none;
}

.btn-info:hover{
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255);
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar-custom .nav-item{
    font-weight: 500;
    color: #000000;
}

.navbar-custom .dropdown-menu .dropdown-item{
    font-weight: 500;
}

.navbar-custom .dropdown-menu {
    background-color: #ECECED;

}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    background-color: rgba(255,255,255);
    color: #007bff;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 320px;
    position: fixed;
    top: 0;
    left: -320px;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #007bff;
    color: #ffffff;
    font-size: small;
}

#sidebar .sidebar-header .row{
    margin-left: -45px;
}

#sidebar .sidebar-header button{
    background-color: #007bff;
    color: #ffffff;
    justify-content: space-around;
    outline: #ffffff;
    margin: 0 2px;
    padding: 5px 50px;
    border-color: #ffffff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p{
    color: #000000;
    padding: 0 10px;
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}



/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media screen and (max-width: 991px) {
    #navBarSearchForm input[type=search] {
        display: none;
    }
    .navbar-custom{
        display: none;
    }
    body{
        margin-top: 100px;
        padding: 0px 10px;
    }
  }
  .nav-logo{
      height: 35px!important;
  }