* {
    font-family: AdihausDIN, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: auto;
}

#container {
    width: 100%;
    height: 100vh;
}


.hamburger {
    cursor: pointer;
    display: none;
    height: 30px;
    margin: 50px 0px;
    
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
    transform: translateY(-4px) rotate(45deg);
}
.change #bar2{
    /* display: none; */
    opacity: 0;
}
.hamnames{
    list-style: none;
    background-color: #fff;
    color: black;
    height: 100vh;
    width: 100vw;
    display: none;
    margin-left: -70px;
}

.category{
    display: flex;
    flex-direction: column;

}

.hamnames>li>a{
    color: black;
    text-decoration: none;
}
.bar{
    height: 4px;
    width: 30px;
    display: block;
    background-color: #000000;
    transition: 0.4s ease;
}
#bar1 {
    transform: translateY(-4px);
}
#bar3 {
    transform: translateY(4px);
}

.uppernav {
    width: 100%;
    height: 30px;
    font-size: 11px;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
}

.uppernav>p>a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.firstnav {
    padding-left: 70%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    width: 100%;
    margin-right: 2%;
    font-size: 12px;
    margin-top: 4px;
}

.firstnav>p>a {
    text-decoration: none;
    color: #524f4f;

}

.midnav {
    height: 4em;
    display: flex;
    /* border: 1px solid red; */
}

.adidaslogo {
    height: 50px;
    top: -10px;
    width: 75px;
    position: relative;
}

.logodiv {
    display: flex;
    margin-left: 2%;
}

.cat {
    display: flex;
    width: 50%;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 5px;
    justify-content:space-between;
}

.cat>p>a {
    color: #000000;
    text-decoration: none;
}

.search {
    height: 34px;
    width: 200px;
    background-color: #e9ecef;
    border: none;
    margin-right: 10px;
}

.footsignup {
    display: flex;
}

.icons {
    display: flex;
    margin-right: 10px;
    position: relative;
    font-size:25px;

}
#wishlistLen{
position: absolute;
top:-4px;
right:11%;
border-radius: 50%;
background-color:#197fb6;
padding:5px;
font-size:12px;
font-weight:bold;
color:white;

}
@media only screen and (min-width: 0px) and (max-width: 960px) {
   #wishlistLen{
       display:none;
   } 
}

.disicon {
    margin: 15px;
    margin-right: 10px;
    position: relative;
}
#cartLen{
    position: absolute;
top:-4px;
right:-2%;
border-radius: 50%;
background-color:#197fb6;
padding:5px;
font-size:12px;
font-weight:bold;
color:white;

}
.fas, .far {
    color: #000000;
}

.searchicon {
    display: none;
}

.lastfoot {
    background-color: #363738;
    height: 120px;
    color: #ffffff;
    font-size: 12px;
}

.indialogo {
    height: 8px;
    width: 18px;
    margin-left: 20%;
    margin-top: 28px;
}

.copyright {
    margin-top: 3%;
}

.copyright>a {
    margin-left: 20%;
    color: #ffffff;
    text-decoration: none;
}

.tnc {
    display: flex;
    margin-top: -6%;
    margin-left: 65%;
    margin-right: 15%;
}

.tnc>p>a {
    color: #ffffff;
    text-decoration: none;
}

.help{
    margin-top: 0px;
    /* margin-left: 70%; */
    /* line-height: 30px; */
    /* margin-bottom: 50px; */
    /* margin-top: -8%; */
}
.help>p>a{
    color: #000000;
    
}
.mywish{
    font-size: 30px;
    margin: 3% 0 2% 15%;
}
/* yellow container css end */


#login_cart_bar {
    display: none;
    justify-content: space-around;
    background-color: black;
    color: white;

}

#login_cart_bar>div {
    padding: 20px;
    font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}

#product_list {
    display: flex;
    padding: 10px;
    width: 98%;
    justify-content: center;
}

#product_list>div {
    margin-top: 20px;
    width: 15%;
}

#product_list>div>h5 {
    font-size: 18px;
    letter-spacing: -1px;
    margin-bottom: 5px;
    font-family: AdineuePRO, Helvetica, Arial, sans-serif;

}

#small_screenProductList>div>ul,
#product_list>div>ul {
    list-style: none;
    padding-left: 0px;

}

#small_screenProductList>div>ul>li,
#product_list>div>ul>li {
    padding: 6px;
    padding-left: 0px;
    font-size: 12px;
    font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}

#small_screenProductList>div>ul>li:hover,
#product_list>div>ul>li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#small_screenProductList {
    background-color: black;
    display: none;
    justify-content: space-around;
    color: white;
    height: 100px;
    width: 100%;
    padding-top: 20px;
}

@media only screen and (min-width:0px)and (max-width:960px) {
    #login_cart_bar {
        display: flex;
    }

    #product_list {
        display: none;
    }

    #small_screenProductList {
        display: flex;
    }


}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
    .cat {
        width: 50%;
        font-size: 11px;
    }

    .search {
        height: 30px;
        width: 160px;
    }

    .firstnav {
        padding-left: 60%;
    }

    .logodiv {
        margin-left: 1%;
    }

    .tnc {
        display: flex;
        margin-top: -50px;
        margin-left: 60%;
        margin-right: 2%;
    }

    .tnc>p>a {
        word-spacing: 5%;
    }
    

}

@media only screen and (min-width: 0px) and (max-width: 900px) {

    .logodiv {
        margin-top: 12px;
        height: 100%;
        width: 100%;
    }

    .displaynone, .heart, .uppernav :nth-child(2), .uppernav :nth-child(3) {
        display: none;
    }

    .icons {
        margin-top: 20px;
        margin-right: 2%;
    }

    .searchicon {
        display: initial;
        margin-left: 5px;
    }

    .hamburger {
        display: initial;
        margin: 15px 2%;
    }
    
    .tnc {
        display: block;
        line-height: 20px;
    }

    .indialogo {
        margin-left: 2%;
        margin-top: 20px;
    }

    .copyright>a {
        margin-left: 2%;
    }
    .woriginals{
        font-size: 20px;
    }
    .center>p{
        display: none;
    }
    .selectedcat>select{

        font-size: 12px;

    }
    .backwomen{
        display: block;
    }

}

/* ------------------------------ */


#womenOriginals>div {
    /* border: 1px solid black; */
    width: 19%;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

.wishlistSymbol {
    position: absolute;
    top: 16px;
    right: 16px;
}

.price1 {
    background-color: white;
    padding: 0px 5px;
    position: absolute;
    bottom: 50px;
    left: 16px;
}

.price {
    background-color: white;
    padding: 0px 5px;
    position: absolute;
    bottom: 40px;
    left: 16px;
}


#womenOriginals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 60%;
    /* width: 100%; */
    /* overflow-x: scroll;
    width: 1350px; */
    padding-right: 20px;
}
#womenOriginals>div{
    width: 70%;
}
img {
    width: 100%;
}

h4 {
    margin: 5px 0px;
    font-size: 16px;
}

p {
    margin: 10px 0px;
    font-size: 16px;
    color: rgb(44, 44, 44);
}

a {
    color: black;
    font-size: 13px;
    font-weight: 700;
}

h6 {
    margin: 2px;
    font-weight: 100;
}

#categoryShop>div {
    /* border: 1px solid red; */
    width: 300px;
}

#categoryShop>div>div {
    border: 1px solid black;
    margin-top: 20px;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bolder;
    width: 150px;
    padding: 15px;
}

#categoryShop {
    display: flex;
    grid-gap: 10px;
    font-family: 'Noto Sans', sans-serif;
}

#womenDescription {
    margin: auto;
    width: 650px;
    text-align: center;
}

#womenDescription>p {
    font-size: 19px;
}
.cartSym{
      position: absolute;
    bottom: 40px;
    right: 10px;
}
.mywish_length{
    font-size:24px;
    margin-top:5px;
    font-weight: bold;
}