@font-face {
  font-family: "Amazon Ember";
  src: url("https://m.media-amazon.com/images/G/01/digital/video/global/AmazonEmber_Lt.woff") format("woff");
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.DVPAWebWidgetsFooter_Footer__footer {
  font-family: "Amazon Ember";
  padding: 24px;
  text-align: center; }
  .DVPAWebWidgetsFooter_Footer__footer .DVPAWebWidgetsFooter_Footer__logo {
    margin: 0 auto;
    max-height: 32px; }
  .DVPAWebWidgetsFooter_Footer__footer .DVPAWebWidgetsFooter_Footer__text {
    margin: 4px 0 14px;
    font-size: 15px;
    line-height: 19px; }
    .DVPAWebWidgetsFooter_Footer__footer .DVPAWebWidgetsFooter_Footer__text .DVPAWebWidgetsFooter_Footer__link {
      margin: 0 10px;
      display: inline-block; }
      .DVPAWebWidgetsFooter_Footer__footer .DVPAWebWidgetsFooter_Footer__text .DVPAWebWidgetsFooter_Footer__link a {
        text-decoration: none; }
  .DVPAWebWidgetsFooter_Footer__footer .DVPAWebWidgetsFooter_Footer__copyright {
    font-size: 15px; }
  .DVPAWebWidgetsFooter_Footer__footer.DVPAWebWidgetsFooter_Footer__lightFooter .DVPAWebWidgetsFooter_Footer__link a {
    color: #0066c0; }
  .DVPAWebWidgetsFooter_Footer__footer.DVPAWebWidgetsFooter_Footer__lightFooter .DVPAWebWidgetsFooter_Footer__copyright {
    color: #000; }
  .DVPAWebWidgetsFooter_Footer__footer.DVPAWebWidgetsFooter_Footer__darkFooter .DVPAWebWidgetsFooter_Footer__link a {
    color: #0f79af; }
  .DVPAWebWidgetsFooter_Footer__footer.DVPAWebWidgetsFooter_Footer__darkFooter .DVPAWebWidgetsFooter_Footer__copyright {
    color: #949494; }

.DVPAWebWidgetsFooter_Footer__divider {
  margin: 0; }

@media only screen and (max-width: 880px) {
  .DVPAWebWidgetsFooter_Footer__footer .DVPAWebWidgetsFooter_Footer__text a,
  .DVPAWebWidgetsFooter_Footer__footer .DVPAWebWidgetsFooter_Footer__copyright {
    font-size: 13px;
    line-height: 1.6em; } }

