.DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget {
  height: 80vh;
  width: 90vw;
  font-family: "Amazon Ember Regular", Arial, sans-serif;
  color: #EDEEEB;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -35vh;
  margin-left: -45vw; }
  .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpDoubleCardOffers {
    width: 100%;
    height: 70%;
    text-align: center;
    border-radius: 10px;
    background-color: #3E4653;
    box-shadow: 25px 25px 50px 0px black;
    display: grid;
    grid-template-areas: 'firstoffer secondoffer' 'disclaimer disclaimer';
    grid-template-rows: 92% 8%;
    grid-template-columns: 50% 50%; }
  .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpDoubleCardOffer {
    grid-area: firstoffer;
    padding: 20px;
    padding-top: 80px;
    margin: 4px;
    margin-right: 2px;
    background-color: #181F2B;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
    .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpDoubleCardOffer:last-of-type {
      grid-area: secondoffer;
      margin: 4px;
      margin-left: 2px;
      border-radius: 0px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
  .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpCardOfferIntro {
    padding-top: 30px;
    margin-bottom: -15px; }
  .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpCardOfferDetails {
    color: #8C9196;
    font-style: italic;
    padding-top: 40px; }
  .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpCardOfferLogo {
    height: 70px;
    width: auto; }
  .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpDoubleCardOfferDivider {
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(70% / 2 - 50px / 2);
    left: calc(50% - 50px / 2);
    background-color: #3E4653;
    z-index: 5;
    border-radius: 50%; }
  .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpDoubleCardOfferDividerInner {
    position: absolute;
    z-index: 10;
    width: calc(50px - 4px * 2);
    height: calc(50px - 4px * 2);
    top: 4px;
    left: 4px;
    display: inline-block;
    background: linear-gradient(#3E4653, #3E4653), linear-gradient(#3E4653, #3E4653), #181F2B;
    background-position: center;
    background-size: 50% 3px,3px 50%;
    background-repeat: no-repeat;
    border-radius: 50%; }
  .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpDoubleCardDisclaimer {
    background-color: #3E4653;
    color: #8C9196;
    border: 3px solid #3E4653;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-area: disclaimer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferCard__dvMlpOfferCardButton {
    background-color: #15AfE1;
    color: #EDEEEB;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    border-radius: 50px;
    outline: none;
    margin-left: 5%;
    font-weight: 500;
    padding: 25px 65px;
    position: absolute;
    right: 0;
    bottom: 0; }

.DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget {
  height: 80vh;
  width: 90vw;
  font-family: "Amazon Ember Regular", Arial, sans-serif;
  color: #EDEEEB;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -35vh;
  margin-left: -45vw; }
  .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpDoubleCardOffers {
    width: 100%;
    height: 70%;
    text-align: center;
    border-radius: 10px;
    background-color: #3E4653;
    box-shadow: 25px 25px 50px 0px black;
    display: grid;
    grid-template-areas: 'firstoffer secondoffer' 'disclaimer disclaimer';
    grid-template-rows: 92% 8%;
    grid-template-columns: 50% 50%; }
  .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpDoubleCardOffer {
    grid-area: firstoffer;
    padding: 20px;
    padding-top: 80px;
    margin: 4px;
    margin-right: 2px;
    background-color: #181F2B;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
    .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpDoubleCardOffer:last-of-type {
      grid-area: secondoffer;
      margin: 4px;
      margin-left: 2px;
      border-radius: 0px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
  .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpCardOfferIntro {
    padding-top: 30px;
    margin-bottom: -15px; }
  .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpCardOfferDetails {
    color: #8C9196;
    font-style: italic;
    padding-top: 40px; }
  .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpCardOfferLogo {
    height: 70px;
    width: auto; }
  .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpDoubleCardOfferDivider {
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(70% / 2 - 50px / 2);
    left: calc(50% - 50px / 2);
    background-color: #3E4653;
    z-index: 5;
    border-radius: 50%; }
  .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpDoubleCardOfferDividerInner {
    position: absolute;
    z-index: 10;
    width: calc(50px - 4px * 2);
    height: calc(50px - 4px * 2);
    top: 4px;
    left: 4px;
    display: inline-block;
    background: linear-gradient(#3E4653, #3E4653), linear-gradient(#3E4653, #3E4653), #181F2B;
    background-position: center;
    background-size: 50% 3px,3px 50%;
    background-repeat: no-repeat;
    border-radius: 50%; }
  .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpDoubleCardDisclaimer {
    background-color: #3E4653;
    color: #8C9196;
    border: 3px solid #3E4653;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-area: disclaimer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardWidget .DVPAWebWidgetsMLP_OfferDoubleCard__dvMlpOfferCardButton {
    background-color: #15AfE1;
    color: #EDEEEB;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    border-radius: 50px;
    outline: none;
    margin-left: 5%;
    font-weight: 500;
    padding: 25px 65px;
    position: absolute;
    right: 0;
    bottom: 0; }

/* TODO: DOUBLE CARD ONLY SELECTORS*/

