::-webkit-scrollbar {
      width: 3px;
    }
    ::-webkit-scrollbar-thumb {
      width: 3px;
      background-color: #000000;
    }
    ::-webkit-scrollbar:horizontal {
      height: 3px;
      background-color: #000000;
    }
    html {
      max-width: 1920px;
      margin: 0 auto;
    }
    body {
      margin: 0;
      overflow-x: hidden;
      font-family: "Noto Sans JP", "SF Pro Text", "SF Pro Icons",
        "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    ul {
      list-style: none;
    }
    section {
      background: #fff;
    }
    #appleLogo {
      width: 95px;
    }
    #navbar {
      display: flex;
      align-items: center;
      padding: 0 5rem;
      box-sizing: border-box;
      justify-content: space-between;
      background-color: transparent;
      width: 100%;
      position: fixed;
    }
    a {
      text-decoration: none;
    }
    .watermark{
      color: #000000;
    }
    #navbar ul {
      display: flex;
    }
    #navbar ul a {
      padding: 0 30px;
      font-weight: 600;
      color: black;
    }
   
    #header {
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .Top {
      height: 100vh;
      background: #fff7eb !important;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .Top div h1:nth-child(1) {
      margin-block-end: 0em;
      margin-block-start: 0em;
    }
    .Top div h1:nth-child(2) {
      margin-block-start: 0em;
    }
    .Top div h1 {
      font-size: 6rem;
    }
    .Top div button {
      border: 2px solid rgba(0, 0, 0);
      border-radius: 40px;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      transition: all 0.2s;
      padding: 1rem;
      min-width: 10rem;
    }
    .Top div button:hover {
      transform: translateY(-10px) scale(1.1);
    }
    .Top div button:active {
      transition: all 0.04s;
      transform: translateY(-3px);
    }
    .Top div button:nth-child(2) {
      background-color: #f1e1cb;
      margin-left: 1.4rem;
    }
    .Top div button:nth-child(1) {
      background-color: #f6f6f6;
    }
    #morePhones img {
      width: 30rem;
    }
    .phones {
      width: 450px;
    }
    #morePhones{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 7rem 0;
    }
    #morePhones h1 {
      font-size: 3rem;
      margin-block-end: 0;
      margin-block-start: 0;
    }
    #morePhones div {
      max-width: 36rem;
    }
    #reviews {
      text-align: center;
      padding: 10rem 0;
      background-color: #fff7eb;
    }
    #reviews h1 {
      font-size: 4rem;
    }
    #reviews div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    #subscribe {
      text-align: center;
      padding: 20rem 0;
    }
    #subscribe form input[type="email"] {
      padding: 1rem;
      border-radius: 8px;
      width: 25rem;
      outline: none;
      border: 1px solid rgb(0, 0, 0);
      font-size: 1rem;
    }
    #subscribe form input[type="email"]:focus {
      box-shadow: 0 0px 2px 2px rgba(170, 170, 170, 0.4);
      border: 2px solid rgb(0, 0, 0);
    }
    #subscribe form input[type="submit"] {
      cursor: pointer;
      font-size: 1rem;
      padding: 1rem;
      border: none;
      border-radius: 2px;
      background: rgb(0, 0, 0);
      color: #f1e1cb;
    }
    #toggle {
      border: none;
      padding: 0.5rem;
      color: #fff;
      background: #000000;
    }
    footer {
      padding: 10rem 0;
      text-align: center;
      background-color: #fff7eb;
    }
  
    @media (max-width: 1500px) {
      iframe {
        margin: 1rem 0;
      }
      #toggle{
        font-size: .4rem;
        padding: 1px;
        margin-left: 0;
        margin-right: 0;
      }
      .phones{
        width: 190px;
      }
      #navbar{
        padding: 10px;
      }
    }
    @media (max-width: 1080px) {
      iframe {
        margin: 1.5rem 0;
      }
      #reviews {
        padding: 3rem;
      }
      .Top {
        flex-direction: column-reverse;
        padding-top: 2.4rem;
        text-align: center;
      }
    
      #morePhones{
        margin: 0 1rem;
      }
      #morePhones > div {
        margin-left: 2rem;
      }
    }
    @media (max-width: 800px) {
      #header > section > div:nth-child(1) > h1 {
        font-size: 2.8rem;
      }
      #morePhones > div {
        margin-left: 0;
        padding-top: 2rem;
      }
      #morePhones > div > h1 {
        font-size: 2.5rem;
      }
      #morePhones {
        flex-direction: column;
        text-align: center;
        padding: 5rem 0;
      }
    }
    @media (max-width: 650px) {
      #subscribe form input[type="email"] {
        width: unset;
        min-width: 6rem;
      }
      #navbar{
       display: none;
      }
    }