body {
	margin-top: 100px;
}

/*Nav section begins here*/

.navbar-default {
	display: inline;
	background: white;
	border: 0;
}

.navbar-brand {
	color: black !important;
	font-family: 'Droid Serif', serif;
	font-size: 20px;
	font-weight: bold;
	display: inline;
}

.navbar-brand span {
	font-size: 6px;
}

/*Showcase section begins here*/

.showcase-left {
	margin-top: -50px;
}

.showcase-right {
	margin-top: 150px;
}

#showcase {
	margin-top: 30px;
}

font-family: 'Droid Serif', serif;
	font-size: 40px;
	margin-top: 50px;
}

.showcase-right h1 span {
	font-size: 10px;
	font-weight: bold;
}

#showcase img {
	width: 100%;
}

/*Pricing section begins here*/

#price {
	background: #f1f1f1;
	padding: 30px 0 20px 0;
	text-align: center;
	margin-top: 40px;
}

#price p {
	font-size: 28px;
	color: black;
}

#price p span {
	font-size: 16px;
	margin: 1px, 0;
}


thead th {
	text-align: center;
}

tbody tr th {
	text-align: center;
}

/*Info section begins here*/

#info1 {
	margin-top: 60px;
	font-family: 'Quicksand', sans-serif;
}

#info1 h1 {
	font-family: 'Cabin', sans-serif;
	font-size: 50px;
}

#info1 img {
	width: 100%;
}

#info2 {
	margin: 20px 0 60px 0;
	font-family: 'Quicksand', sans-serif;
}

#info2 ul  {
	text-align: left;
}

#info2 li, #info2 p {
	font-size: 24ps;
}

.info-right-2 {
	margin-top:;
	width: 100%;
}

.info-right-2 p {
	font-weight: bolder;
	font-size: 16px;
}

.info-right-2 img {
	width: 80%;
}

/*Contact section begins here*/

#contact {
	text-align: center;
	font-weight: bolder;
}

#contact p {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}

#contact img {
	margin-top: -30px;
	width: 100%
}

#contact-info {
	border: 2px dashed black;
}

/*FAQ section begins here*/

#faq {
	margin: 40px 0 40px 0;
	font-family: 'Quicksand', sans-serif;
}

#faq h2 {
	font-weight: bold;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

#faq h4 {
	font-weight: bold;
	font-family: 'Cabin', sans-serif;
}

/*Footer section begins here*/

footer p {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

footer p span {
	font-size: 12px;
	color: grey;
	opacity: 0.6;
}