body {
    margin: 0 30px;
    font-family: Helvetica, sans-serif;
    opacity: 1;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body.index .boxDealers,
body.index .boxStandard,
body.index .boxVespaCommunity,
body.index .socialHome {
    overflow: hidden;
}

.wrapper .boxVespaCommunity .boxImg,
.wrapper .boxVespaCommunity .boxImg img {
    /* width: 100%; */
    width: 586px;
    height: 586px;
}

.col-lg-6,
.col-md-6,
.col-sm-6,
.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Navigation Bar */
#header {
    position: relative;
    z-index: 9999;
    margin-bottom:90px;
}

.smallMenuContainer {
    position: fixed;
    width: 1203px;
    top: 0px;
    background: #fff;
    z-index: 2;
    height: 40px;
}

.menuServ {
    float: left;
    margin: 5px 0;
}

.list-inline,
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.menuServ ul li:first-child {
    margin-left: 40px;
}

.menuServ ul li {
    float: left;
    margin: 0 20px;
}

.menuServ ul li a.current {
    font-weight: 700;
}

.menuServ ul li a.current,
.menuServ ul li a:focus,
.menuServ ul li a:hover {
    color: #6dcdb1;
    font-family: Montserrat, sans-serif;
}

.menuServ ul li a {
    text-transform: uppercase;
    font-size: .71429em;
    display: block;
    text-decoration: none;
    position: relative;
}

.clear {
    clear: both;
}

.menuContainer {
    min-height: 70px;
    padding: 15px 0;
    margin: 0;
    position: fixed;
    width: 1203px;
    top: 40px;
    z-index: 1;
}

.menuContainer .bordoStorto,
.menuContainer:before {
    content: "";
    position: absolute;
    left: 0;
    height: 0;
}

.menuContainer:before {
    top: 0;
    width: 100%;
    border-top: 58px solid #6dcdb1;
    z-index: -1;
}

.row:before {
    display: table;
}

.menuContainer #logo {
    float: left;
    margin-right: 20px;
    margin-left: 40px;
}

#logo {
    max-width: 182px;
    margin: 0 auto;
}

.h1,
h1 {
    font-size: 36px;
}

.menuContainer #logo img {
    height: 41px;
}

img {
    vertical-align: middle;
    border: 0;
}

.menuContainer .menuMain {
    float: left;
    margin-top: 6px;
}

.menuContainer .menuMain .btn-menuMain {
    cursor: pointer;
}

.button-reset {
    background-color: transparent;
    border: none;
    padding: unset;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

.menuContainer .menuMain .btn-menuMain img {
    background: #57b498;
    padding: 5px;
    border: 1px solid #419a80;
    width: 10px;
    height: 8px;
}

.menuContainer .menuMain .btn-menuMain span {
    margin-left: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: .92857em;
}

.menuContainer .menuModelli {
    float: left;
    margin: 0 auto;
    text-align: center;
    height: 20px;
}

.menuContainer .menuModelli nav>ul>li {
    float: left;
    padding: 0 17px;
}

.menuContainer .menuModelli nav>ul>li h2 {
    font-size: .92857em;
    margin: 0;
}

.menuContainer .menuModelli nav>ul>li h2 a {
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding-bottom: 8px;
    text-decoration: none;
}

.float-right {
    float: right;
}

.menuContainer .search {
    float: left;
    margin: 4px 0 0;
    cursor: pointer;
}

.menuContainer .search svg {
    width: 16px;
    height: 25px;
    fill: #fff;
}

svg:not(:root) {
    overflow: hidden;
}

.menuContainer .mapLink {
    float: left;
    margin: 4px 0 0 20px;
    cursor: pointer;
}

.menuContainer .mapLink svg {
    width: 16px;
    height: 25px;
    fill: #fff;
}

.menuContainer .contactLink {
    float: left;
    margin: 4px 40px 0 20px;
    cursor: pointer;
}

.menuContainer .contactLink svg {
    width: 16px;
    height: 25px;
    fill: #fff;
}

.menuContainer .bordoStorto {
    bottom: 0;
    width: 0;
    top: 57px;
    border-top: 12px solid #6dcdb1;
}

/* Wrapper */
body.index .wrapper {
    margin-top: 92px;
}

.wrapper {
    clear: both;
    position: relative;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12 {
    width: 100%;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.hero,
.hero ul li {
    position: relative;
}

.bx-wrapper {
    position: relative;
    margin: 0 auto 30px;
    padding: 0;
}

.hero img {
    width: 100%;
    height: auto;
    width: 1203px;
    height: 566px;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

.wrapper .boxVespaCommunity {
    position: relative;
}

.col-lg-6 {
    width: 50%;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.boxImg {
    opacity: 1;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail>img,
.thumbnail a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.boxVespaCommunity.animated .blockData {
    opacity: 1;
    min-width: 50%;
}

body.index .boxVespaCommunity.animated .blockData {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper .boxVespaCommunity .blockData {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(215, 0, 109, .6);
    text-align: center;
    padding: 5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

body.index .boxDealers.animated .blockData,
body.index .boxStandard.animated .blockData,
body.index .boxVespaCommunity.animated .blockData,
body.index .socialHome.animated .blockData {
    opacity: 1;
    min-width: 50%;
}

.purple-bg-opacity {
    background-color: rgba(215, 0, 109, .6) !important;
}

.wrapper .boxVespaCommunity .blockData .logoBox {
    max-width: 65%;
    margin: 0 auto;
}

.wrapper .boxVespaCommunity .blockData .descr {
    margin-bottom: 0;
}

.wrapper .boxVespaCommunity .blockData .descr {
    color: #fff;
    line-height: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin-top: 105px;
    width: 100%;
}

.wrapper .boxVespaCommunity .blockData .descr .h3 {
    line-height: 1;
    color: #ffd100;
    text-transform: uppercase;
    text-decoration: none;
    font-family: VinylOT, sans-serif;
    font-size: 2.35714em;
}

p {
    margin: 0 0 10px;
}

.wrapper .boxDealers,
.wrapper .boxStandard.small {
    margin-bottom: 27px;
    width: 550px;
    height: 100%;
}

.wrapper .boxStandard {
    position: relative;
}

body.index .boxStandard.animated .boxImg {
    width: 100%;
    height: 280px;
}

.wrapper .boxStandard .boxImg,
.wrapper .boxStandard .boxImg img {
    width: 100%;
}

body.index .boxStandard.animated .blockData {
    opacity: 1;
    min-width: 50%;
}

.wrapper .boxStandard .blockData {
    position: absolute;
    top: 30%;
    left: 50px;
}

.wrapper .boxStandard .blockData .h3 {
    font-size: 1.75714em;
    margin: 0;
    max-width: 60%;
    line-height: 1;
    color: #ffd100;
    text-transform: uppercase;
    text-decoration: none;
    font-family: VinylOT,sans-serif;
}

.wrapper .boxStandard .blockData .linkButton {
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    border-bottom: 3px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 1.14286em;
}

.wrapper .socialHome {
    overflow: hidden;
    width: 550px;
}

.wrapper .socialHome .boxImg {
    width: 50%;
    float: left;
    position: relative;
}

.wrapper .socialHome .boxImg img {
    width: 100%;
    height: 295px;
}

body.index .socialHome.animated .blockData {
    opacity: 1;
    min-width: 50%;
}

.wrapper .socialHome .blockData {
    padding: 55px 30px 40px;
}

.wrapper .socialHome .blockData {
    width: 30%;
    float: left;
    background: url(img/bg-social-home.png);
    padding: 103px 30px 40px;
    width: 210px;
}

.wrapper .socialHome .blockData .user {
    display: block;
    color: #6dcdb1;
    text-transform: uppercase;
    font-size: .92857em;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
}

.wrapper .socialHome .blockData .descr {
    display: block;
    color: #fff;
    font-size: 1.5em;
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    line-height: 25px;
}

.wrapper .socialHome .blockData .linkButton {
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    border-bottom: 3px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 60px;
}

.col-lg-6,
.col-md-6,
.col-sm-6,
.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.wrapper .gammaHome {
    margin-top: 60px;
    margin-bottom: 60px;
}

.wrapper .gammaHome h3 {
    color: #40b4e5;
    font-size: 2.7143em;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    font-family: VinylOT,sans-serif;
}

.wrapper .gammaHome .subTitle {
    font-size: 1.14286em;
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: #333;
    font-family: Montserrat,sans-serif;
    font-weight: 300;
}

.wrapper .gammaHome .bx-wrapper {
    position: static;
}

.bx-wrapper .bx-viewport {
    border: 0;
    left: 0;
    background: 0 0;
}

.wrapper .gammaHome ul li {
    margin: 0 100px 0 0;
}

.wrapper .gammaHome ul li {
    text-align: center;
}

.wrapper .gammaHome ul a {
    display: block;
}

.wrapper .gammaHome ul li img {
    transform: scale(1);
    transition: transform .2s linear,-webkit-transform .2s linear;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

.wrapper .gammaHome ul li .model {
    color: #333;
    font-size: 1.14286em;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
}

.wrapper .gammaHome .bx-wrapper .bx-prev {
    left: 30px;
    margin-top: 0;
    background: url(img/arrow-gamma-sx.webp) no-repeat 50%;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    outline: 0;
    width: 14px;
    height: 57px;
    text-indent: -9999px;
    padding: 0 25px;
    z-index: 1;
}

.wrapper .gammaHome .bx-wrapper .bx-next {
    right: 30px;
    margin-top: 0;
    background: url(img/arrow-gamma-dx.webp) no-repeat 50%;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    outline: 0;
    width: 14px;
    height: 57px;
    text-indent: -9999px;
    padding: 0 25px;
    z-index: 1;
}

/* footer */
#footer {
    clear: both;
}

footer {
    margin-top: 30px;
}

footer .imgVespa {
    text-align: center;
    margin-bottom: 15px;
}

footer .imgVespa img {
    max-width: 118px;
}

footer .menuFooter>nav>ul {
    display: table;
    margin: 0 auto;
}

footer .menuFooter>nav>ul>li {
    float: left;
    padding: 0 15px;
}

footer .menuFooter>nav>ul>li h2 {
    font-size: .78571em;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
}

footer .menuFooter>nav>ul>li h2 a {
    color: inherit;
    text-decoration: none;
}

footer .menuFooter>nav>ul>li>ul>li h3 {
    font-size: .78571em;
    margin: 10px 0;
}

footer .menuFooter>nav>ul>li>ul>li h3 a {
    color: #666;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    text-decoration: none;
}

footer .logosFooter {
    border-top: 1px solid #e6e6e6;
}

footer .logosFooter {
    padding: 30px 0;
    margin: 60px 0 0;
}

footer .logosFooter .footerLogos {
    display: table;
    margin: 0 auto;
}

footer .logosFooter .footerLogos>div {
    float: left;
    margin: 0 20px;
}

footer .socialFooter {
    margin: 0 60px!important;
}

footer .socialFooter .title {
    color: #333;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

footer .socialFooter li {
    margin: 0 3px;
    float: left;
    border: 2px solid #6dcdb1;
    border-radius: 50%;
}

footer .socialFooter li a {
    width: 37px;
    height: 37px;
    display: block;
}

footer .socialFooter li a img {
    width: 45%;
    margin: 10px 0 0 10px;
}

footer .dataFooter {
    padding: 30px 0;
    border-top: 1px solid #e6e6e6;
    margin-left: 0;
    margin-right: 0;
}

footer .dataFooter .menuTerms {
    margin: 0 auto 10px;
    display: table;
}

footer .dataFooter .menuTerms ul li:first-child {
    border: 0;
}

footer .dataFooter .menuTerms ul li {
    float: left;
    margin: 0 20px 0 0;
    padding-left: 20px;
}

footer .dataFooter .menuTerms ul li h2 {
    font-size: .71429em;
    margin: 0;
}

footer .dataFooter .menuTerms ul li h2 a {
    color: #666;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
}