/* Personal Care -> Hair Care */
.row {
    margin-left: 0px;
   }
   
   .my-head {
       padding-left: 16px;
       padding-right: -20px;
       width: 100%;
   }
   .my-head-item-left {
       width: 25%;
   }
   .my-head-item-right {
       width: 75%;
   }
   
   .badge {
       height: 20px;
       margin-bottom: 5px;
       width: 20%;
       float: left;
       font-size: 10px;
       
   }
   .product {
    width: 205px;
    height: 380px;
    padding-top: 0px;
    margin-left: 20px;
    font-style: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   
   .product-buy {
    position: absolute;
    
    width: 205px;
   }
   .heading{
       color: rgb(148, 143, 143);
       margin-top: 15px;
       margin-left: 20px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   /* Accordion - Personal Care */

   .my-content-haircare {
    padding-top: 70px;
    width: 100%;
}
.my-content-left {
    width: 10%;
}
.my-content-right {
    width: 90%;
}
   
   body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    background: #f3f3f3;
    color: #000;
    line-height: normal;
    margin: 0;
    padding: 0;
}
h6{
    padding: 10px;
}

div.scroll {
    
    width: 220px;
    height: 170px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    
}
.categories{
    width: 252px;
    max-width: fit-content;
    padding-top:15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #000;
}
.category-header{
    
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
}
ul {
    list-style-type: none;
    padding-left: 8px;
}
.form-check-label {
font-size: 14px;
    margin-top: 2px;
    cursor: pointer;
}
.category-items{
    padding-left: 18px;
    font-size: 14px;
    text-align: justify;
    font-family: unset;
    line-height: 25px;
    font-style: normal;
    color: rgb(165, 161, 161);
    cursor: pointer;
}
.filters-brands{
    width: 252px;
    padding-left: 15px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(48, 45, 45);
    cursor: pointer;
}
.search{
    width: 180px;
    height: 35px;
    border: unset;
    background: rgb(230, 227, 226);
}
.ss{
    height: 35px;
    border: unset;
    background: rgb(230, 227, 226);
}


/*Media Queries for accordions and personal care*/
@media screen and (max-width: 991px) {
    .my-content-left{
        display: none;
    }
    .my-content-right{
        width: 100%;
    }
    .my-head-item-left{
        display: none;
    }
    .my-head-item-right{
        display: none;
    }
    .staples{
        display: none;
    }
    .bev{
        display: none;
    }
    .fruitsandveggies{
        display: none;
    }
    body{
        margin-top: 100px;
        padding: 0px 10px;
    }
  }
  .product-buy {
    position: absolute;
    bottom: 5px;
    width: 205px;
   }