@import "colors";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 0.75rem;
  background-color: $secondary-color;
}

::-webkit-scrollbar-thumb {
  opacity: 1;

  background-color: $terciary-color;
  border-radius: 10rem;

  transition: opacity 250ms ease;
}

