@import "colors";
@import "fonts";

.Options {
    width: 2.4rem;
    height: 2.4rem;

    cursor: pointer;

    padding: 0.4rem;
    border-radius: 0.4rem;

    transition: background-color 150ms ease;
    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.2);
    }
}


.MenuExpanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    user-select: none;

    position: absolute;
    width: 0rem;
    height: auto;

    opacity: 0;

    animation-name: MenuExpand;
    animation-duration: 350ms;
    animation-fill-mode: forwards;

    border-radius: 0.5rem;
    padding: 1rem;

    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.423);
    background-color: $secondary-color;

    transform: translate(-17.5rem, -11.25rem);
    transition-property: width, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease;

    &.active {
        opacity: 1;

        width: 20rem;
        height: auto;
        transform: translate(-17.5rem, -11.25rem);


        & .option {
            display: flex;
            align-items: center;
            cursor: pointer;
    
            width: 18rem;
            height: 3rem;
    
            font-size: 13px;
            color: $text;
    
            padding: 0.5rem;
            border-radius: 0.3rem;
    
            transition: background-color 150ms ease;
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.2);
            }
    
            & .Icon {
    
                width: 2rem;
                height: 2rem;
    
                margin-right: 0.5rem;
            }
        }
    
        & .hr {
            width: 17rem;
            height: 1px;
    
            background-color: rgba($color: #fff, $alpha: 0.15);
        }
    }

}




.MadeBy {
    position: fixed;
    z-index: 30000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    top: 25rem;
    right: 0;

    width: 12rem;
    padding: 1rem;
    padding-block: 2rem;
    border-radius: 1rem 0 0 1rem;

    box-shadow: 0 0 1.5rem #1d1d1d;
    background-color: $purple-color;


    & h1,
    & h3 {
        margin: 0;
        color: $text;

        font-size: $font-size-5;
    }

    & h3 {
        font-weight: 400;
        color: rgba($color: #fff, $alpha: 0.6);
    }

    & .media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 90%;
        margin-top: 3rem;
    }

    & .IconContainer {
        width: 4rem;
        height: 4rem;

        padding: 1rem;
        border-radius: 0.4rem;

        cursor: pointer;

        transition: background-color 250ms ease;
        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.2);
        }

        & .Icon {
            background-position: center;

            fill: $text;
            width: 100%;
            height: 100%;
        }
    }

    & .IconContainer:last-child {
        padding: 0.8rem;
    }
}