body {
    margin: 0;
    font-family: 'Charlie Text', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #091e42;
    background-color: #fff;
}

a {
    color: #0065ff;
    text-decoration: none;
    background-color: transparent;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.inner-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.header-link {
    float: left !important;
    display: block !important;
}

.header-link img {
    height: 36px;
    display: block !important;
}

img {
    overflow: hidden;
    vertical-align: middle;
}

.login-btn {
    cursor: pointer;
    color: #0065ff !important;
    padding: 0.25rem 0.5rem;
    font-size: 1.09375rem;
    background-color: transparent;
    border: 1px solid transparent;
}

.signup-btn {
    cursor: pointer;
    color: #fff !important;
    font-weight: 500 !important;
    background-color: #0065ff !important;
    padding: 0.25rem 0.5rem;
    font-size: 1.09375rem;
    border-radius: 0.2rem;
    display: inline-block;
}

/* Section-1 */
.section-1 {
    background: linear-gradient(0deg, #fff, #eae6ff 100%);
    overflow-x: hidden;
}

.inner-sec-1 {
    text-align: left !important;
    padding-top: 7rem !important;
    max-width: 1140px;
    padding-bottom: 5rem !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.inner-sec-div {
    align-items: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sec-1-1 {
    display: block;
    margin-left: 750px;
    max-width: 41.66666667%;
    position: relative;
    width: 100%;
}

.sec-1-2 {
    max-width: 58.33333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: -500px;
}

.sec-1-1 img {
    height: 576px;
    width: 444px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3rem;
    line-height: 1.25;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.sec-1-form {
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}

.sec-1-1-div {
    padding-right: 0.5rem !important;
    display: block !important;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
}

.sec-1-2-div {
    padding-left: 0.5rem !important;
    -webkit-box-flex: 0;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
}

.sec-1-input {
    height: 100% !important;
    display: block;
    width: 364px;
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sec-1-btn {
    cursor: pointer;
    white-space: normal;
    display: block;
    width: 254px;
    color: #fff;
    background-color: #0065ff;
    border-color: #0065ff;
    font-weight: 400;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 6px;
    margin: -32px 0px 0px 430px;
}

/* section-2 */
.sec-2 {
    text-align: center !important;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 1140px;
}

.sec-2-btn {
    cursor: pointer;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: #0065ff;
    background-color: transparent;
    background-image: none;
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    border: 1px solid #0065ff;
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
}

.sec-2-div {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.sec-2-logo {
    gap: 3rem;
    margin-top: 3rem;
    flex-wrap: wrap;
    margin: 1rem auto 0;
    max-width: 800px;
    align-items: center !important;
    -webkit-box-align: center !important;
    justify-content: center !important;
    display: flex !important;
}

/* Section-3 */
.sec-3 {
    max-width: 1140px;
}

.sec-3-1 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem !important;
}

.sec-3-2 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
    flex-wrap: nowrap;
}

.sec-3-1-img {
    margin-bottom: 0 !important;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
    -webkit-box-flex: 0;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.sec-3-2-img {
    margin-bottom: 0 !important;
    -webkit-box-ordinal-group: 3;
    order: 2;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
    -webkit-box-flex: 0;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.sec-3-div {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.sec-3--div {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* section-4 */
.sec-4 {
    border-color: #091e42 !important;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    border-bottom: 1px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
    max-width: 1140px;
}

.sec-4-div {
    align-items: stretch !important;
    -webkit-box-align: stretch !important;
}

.sec-4-col {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.sec-4-img {
    align-items: flex-start !important;
    display: flex !important;
    flex: 0 0 25%;
    max-width: 25%;
    -webkit-box-flex: 0;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.sec-4-btn {
    cursor: pointer;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    color: #0065ff;
    display: inline-block;
    border: 1px solid #0065ff;
}

.sec-4-1-div {
    width: 300px;
}

.sec-4-2-div {
    width: 300px;
    margin-left: 50px;
}

/* Section-5 */
.section-5 {
    background-color: #e6fcff;
}

.sec-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
    max-width: 1140px;
}

.sec-5 ul {
    justify-content: start;
    display: flex;
    list-style-type: none;
    margin: 2rem 0 0;
    padding: 0.75rem 0 0;
    border-top: 5px solid #172b4d;
}

.arrow img {
    margin-right: 15px;
}

.section-5 .container ul li {
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 35px;
    margin: 0;
    padding: 0;
    width: 35px;
}

.section-5 .container ul li.dot::before {
    background-color: #172b4d;
    border-radius: 50%;
    content: '';
    height: 10px;
    width: 10px;
}

.section-5 .sec-5[data-show='0'] .track {
    margin-left: -000%;
}

.section-5 .sec-5 .track {
    display: flex;
    width: 400%;
    transition: all .25s;
}

.section-5 .sec-5 .row {
    width: 100%;
}

.col-md-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 285px;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 855px;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.section-5 .logo {
    background-position-x: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 192px;
}

.sec-5-div {
    margin-top: 40px;
}

.sec-5-div h5,
h3 {
    font-weight: 700;
}

.blockquote {
    position: relative;
    font-size: 2rem;
    color: #172b4d;
    text-align: left !important;
    padding-left: 3rem !important;
    margin: 0 0 1rem;
}

.blockquote img {
    margin-top: -30px;
}

.sec-5-footer {
    font-size: inherit;
    margin-left: 680px;
}

/* footer */
footer {
    font-size: .8em;
    margin: 4em 1em;
    text-align: center;
}

footer div.inner-footer {
    display: inline-block;
    margin: 0 0 1.25rem;
    position: relative;
}

footer div.inner-footer select {
    appearance: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #EDEFF0;
    color: #959DA1;
    padding: 0.8em;
}

select {
    word-wrap: normal;
}

button,
select {
    text-transform: none;
}

footer div.inner-footer:after {
    background-image: url(img/caret-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    height: 16px;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    width: 10px;
}

footer ul {
    list-style-type: none;
    overflow: auto;
    padding: 0;
    margin: 0 0 1.25rem;
}

footer ul li {
    display: inline-block;
    margin: 0 0.4em;
}

footer ul li a {
    color: #8993A4;
    text-decoration: underline;
}

footer img.footer-logo-1 {
    width: 150px;
    display: none;
    height: auto;
    margin: 0 auto 17px;
}

footer img.footer-logo-2 {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 17px;
}

