.carousel {
  width: 100%;
  margin: 1rem auto;
  &__item {
    display: flex !important;
    justify-content: space-around;
    flex-wrap: nowrap;
    &__img {
      margin: 0 1rem;
      height: 200px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    &__link {
      transform: translateY(-0.3rem);
    }
  }
}

.slick-slide img {
  display: block;
  margin: auto;
}

.slick-arrow {
  background-color: #eaeded !important;
  width: 2rem !important;
  height: 5rem !important;
  border-radius: 2px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.slick-arrow:hover {
  background: #f1c964 !important;
  transition: background 0.6s;
}
.slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
}
